Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-toml-files, format-yaml-files

format-toml-files:
  name: format-toml
  entry: taplo
  args:
  - format
  language: node
  additional_dependencies:
  - '@taplo/cli'

format-yaml-files:
  name: format-yaml
  entry: prettier
  args:
  - -w
  language: node
  additional_dependencies:
  - prettier

don't publish docs except on release or main push
  .github/workflows/docs.yml
  lkdev/workflows/docs.py
Due: format-yaml-files

fix git branches for doc site
  .github/workflows/docs.yml
  lkdev/workflows/docs.py
Due: format-yaml-files

move path filter into workflow check
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

try to fix workflow condition
  .github/workflows/docs.yml
  lkdev/workflows/docs.py
Due: format-yaml-files

github id token
  .github/workflows/docs.yml
  lkdev/workflows/docs.py
Due: format-yaml-files

rerun workflow when it changes
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

duplicate stuff
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

re-add en
  docs/conf.py
Due: none

don't run the doc-archive job on PRs
  lkdev/workflows/docs.py
Due: none

rerender doc pipeline
  .github/workflows/docs.yml
Due: format-yaml-files

fix typo in pyproject.toml CI trigger
  lkdev/workflows/test.py
Due: none

install hpfrec from Conda
  lenskit-hpf/pyproject.toml
Due: format-toml-files

apply test filter tweak
  .github/workflows/test.yml
Due: format-yaml-files

update documentation environment
  docs/environment.yml
Due: format-yaml-files

refactor env setup to work and get us dev deps
  README.md
  justfile
  lkdev/conda.py
Due: none

refactor tests into separate modules
  lenskit/lenskit/util/test.py
  lenskit/tests/test_dataset_ids.py
  lenskit/tests/test_dataset_log.py
Due: none

start roughing in matrix helper
  lenskit/lenskit/data/matrix.py
Due: none

small doc typo
  lenskit/lenskit/data/dataset.py
Due: none

Add TODO notes on data
  lenskit/lenskit/data/dataset.py
Due: none

add todo comments + dataset matrix test file
  lenskit/lenskit/data/dataset.py
  lenskit/tests/test_dataset_matrix.py
Due: none

play with some types
  lenskit/lenskit/data/dataset.py
Due: none

data frame normalization
  lenskit/lenskit/data/dataset.py
Due: none

add interaction log tests
  lenskit/tests/test_dataset.py
Due: none

import ratings and start working on tests
  lenskit/lenskit/data/__init__.py
  lenskit/lenskit/data/dataset.py
  lenskit/tests/test_dataset.py
Due: none

fix bad typing
  lenskit/lenskit/data/dataset.py
Due: none

small doc tweaks for dataset
  lenskit/lenskit/data/dataset.py
Due: none

smoke-tested dataset import
  lenskit/lenskit/data/dataset.py
  lenskit/lenskit/data/matrix.py
Due: none

Initial documentation for a dataset class
  docs/conf.py
  docs/data.rst
  docs/index.rst
  docs/util.rst
  lenskit/lenskit/data/__init__.py
  lenskit/lenskit/data/dataset.py
  lenskit/lenskit/data/tables.py
Due: none

add item number tests
  lenskit/lenskit/data/dataset.py
  lenskit/tests/test_dataset.py
Due: none

add pyprojroot test dep
  requirements-test.txt
Due: none

exercise more lookup code paths
  lenskit/lenskit/data/dataset.py
  lenskit/tests/test_dataset.py
Due: none

improve data loading
  docs/data.rst
Due: none

fix type errors
  lenskit/lenskit/data/dataset.py
Due: none

add list[int] as allowed type for id lookup
  lenskit/lenskit/data/dataset.py
Due: none

fix stray comment
  lenskit/lenskit/data/dataset.py
Due: none

write more matrix tests
  lenskit/tests/test_dataset_matrix.py
Due: none

limit identifier types
  docs/data.rst
Due: none

define allowable entity ID types
  docs/data.rst
  lenskit/lenskit/data/__init__.py
Due: none

make tables mutable dataclasses
  lenskit/lenskit/data/tables.py
Due: none

implement interaction log
  lenskit/lenskit/data/dataset.py
  lenskit/tests/test_dataset_log.py
Due: none

Path conditions:
  format-toml-files: any of: \.toml$
  format-yaml-files: any of: \.ya?ml$, but not: conda-lock.yml
