Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

Install pre-commit with pipx
  mise/config.toml
Due: dprint

add dep to dist.cmd
  mise/tasks/build/dist.cmd
Due: none

bash tasks work on windows now
  mise/tasks/build/conda.cmd
  mise/tasks/build/dist.cmd
  mise/tasks/test-cli.cmd
  mise/tasks/version.cmd
Due: none

add free-threading to release notes
  docs/releases/2026.rst
Due: none

Add 3.14t wheels to package build (#916)
  .github/workflows/package.yml
Due: dprint

lighten package load for scripting group
  .github/workflows/package.yml
Due: dprint

disable free-threaded wheels for Windows
  .github/workflows/package.yml
  docs/releases/2026.rst
Due: dprint

batch: only use threading when free-threading is enabled
  src/lenskit/batch/_runner.py
Due: license-headers

batch: add ThreadPoolExecutor support to BatchPipelineRunner
  src/lenskit/batch/_runner.py
Due: license-headers

docs: don't tag docs for pre-releases
  .github/workflows/docs.yml
Due: dprint

parallel: add batch_jobs parallel configuration
  src/lenskit/parallel/config.py
Due: license-headers

build: (temporarily) disable GitHub attestations
  mise/config.toml
Due: dprint

parallel: add is_free_threaded function
  src/lenskit/cli/doctor.py
  src/lenskit/parallel/__init__.py
  src/lenskit/parallel/config.py
Due: license-headers

batch: fix subtask logging task for subprocesses
  tests/utils/test_task_logging.py
Due: license-headers

batch: add free-threaded inference to release notes
  docs/releases/2026.rst
Due: none

testing: add test for Ray-based batch inference of components
  src/lenskit/testing/_components.py
Due: license-headers

testing: refactor trained top-N pipeline / ray test
  src/lenskit/testing/_components.py
Due: license-headers

batch: directly use Ray when requested
  src/lenskit/batch/_ray.py
  src/lenskit/batch/_runner.py
Due: license-headers

batch: refactor query & result tools out of _runner
  src/lenskit/batch/_queries.py
  src/lenskit/batch/_results.py
  src/lenskit/batch/_runner.py
Due: license-headers

parallel: add serializer initialization to Ray
  src/lenskit/parallel/ray.py
Due: license-headers

parallel: init ray when creating invoker
  src/lenskit/parallel/ray.py
Due: license-headers

pipeline: add multiprocess() to PipeSink protocol
  src/lenskit/pipeline/_profiling.py
Due: license-headers

parallel: update TaskLimit to throttle generators
  src/lenskit/batch/_ray.py
  src/lenskit/parallel/ray.py
Due: license-headers

parallel/ray: fix Ray tensor serialization
  src/lenskit/parallel/ray.py
Due: license-headers

drop repr from testing
  src/lenskit/data/dataset.py
Due: license-headers

test dataset str + repr
  src/lenskit/data/dataset.py
  tests/data/test_dataset_info.py
Due: license-headers

batch: don't use Invoker for batch running
  src/lenskit/batch/_ray.py
  src/lenskit/batch/_runner.py
Due: license-headers

docs: document that 3.14t works best
  docs/guide/install.rst
Due: none

fix task logging test for threading
  tests/utils/test_task_logging.py
Due: license-headers

batch: make default batch size dynamic
  src/lenskit/batch/_runner.py
Due: license-headers

config: refactor load code into submodule
  src/lenskit/config/__init__.py
  src/lenskit/config/_load.py
Due: license-headers

batch/ray: clean up CPU count
  src/lenskit/batch/_ray.py
Due: license-headers

parallel: simplify config in favor of settings
  src/lenskit/batch/_ray.py
  src/lenskit/batch/_runner.py
  src/lenskit/config/_schema.py
  src/lenskit/implicit.py
  src/lenskit/parallel/__init__.py
  src/lenskit/parallel/config.py
  src/lenskit/parallel/invoker.py
  src/lenskit/parallel/pool.py
  src/lenskit/parallel/ray.py
  src/lenskit/tuning/_search.py
  tests/accel/test_accel_config.py
  tests/parallel/test_parallel.py
Due: license-headers

parallel/ray: remove proc_slots option
  src/lenskit/parallel/ray.py
Due: license-headers

config: refactor settings schema into private module
  src/lenskit/config/__init__.py
  src/lenskit/config/_schema.py
Due: license-headers

parallel: remove SHM serialization
  src/lenskit/parallel/serialize.py
  tests/parallel/test_shm_serialize.py
Due: license-headers

parallel: remove Invoker infrastructure and multiprocess invoker
  src/lenskit/parallel/__init__.py
  src/lenskit/parallel/invoker.py
  src/lenskit/parallel/pool.py
  src/lenskit/parallel/ray.py
  src/lenskit/parallel/sequential.py
  src/lenskit/parallel/worker.py
  tests/parallel/test_parallel.py
Due: license-headers

batch: use parallel.use_ray setting to control Ray
  src/lenskit/batch/_ray.py
  src/lenskit/batch/_runner.py
  src/lenskit/config/_schema.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
