Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: python
  entry: python utils/update-headers.py --error-on-change --
  additional_dependencies:
  - docopt-ng >=0.9.0
  - unbeheader ~=1.3

move stats into subpackage
  src/lenskit/stats/__init__.py
  src/lenskit/stats/_gini.py
  src/lenskit/stats/_topn.py
Due: license-headers

rename stats tests
  tests/stats/__init__.py
  tests/stats/test_argtopn.py
  tests/stats/test_gini.py
Due: license-headers

rearrange parameters
  src/lenskit/stats/_blb.py
Due: license-headers

define exports for lenskit.random
  src/lenskit/random.py
Due: license-headers

BLB window test is slow
  tests/stats/test_blb.py
Due: license-headers

increase default r_window
  src/lenskit/stats/_blb.py
Due: license-headers

tighten BLB tolerance for test
  tests/stats/test_blb.py
Due: license-headers

refactor config, add but don't use BCA
  src/lenskit/stats/_blb.py
  tests/stats/test_blb.py
Due: license-headers

do some more re-testing on BLB
  notebooks/BLB.ipynb
Due: none

clean up tracing types
  src/lenskit/stats/_blb.py
Due: license-headers

use tracer in BLB
  src/lenskit/stats/_blb.py
Due: license-headers

test for new CI thing
  tests/stats/test_ci_utils.py
Due: license-headers

split out UB and LB tests
  tests/stats/test_blb.py
Due: license-headers

Use background thread to generate BLB subsets
  src/lenskit/stats/_blb.py
Due: license-headers

use percentages for tests
  tests/stats/test_blb.py
Due: license-headers

more BLB testing
  notebooks/BLB.ipynb
  tests/stats/test_blb.py
Due: license-headers

update defaults and refactor CI width
  src/lenskit/stats/_blb.py
  src/lenskit/stats/_distributions.py
Due: license-headers

initial pass on bias-corrected bootstrap
  src/lenskit/stats/_blb.py
Due: license-headers

fix remaining config run
  src/lenskit/stats/_blb.py
Due: license-headers

BCA seems to work now
  src/lenskit/stats/_blb.py
Due: license-headers

CIs misbehave
  tests/stats/test_blb.py
Due: license-headers

try better BLB tests and defaults
  src/lenskit/stats/_blb.py
  tests/stats/test_blb.py
Due: license-headers

update BLB test
  tests/stats/test_blb.py
Due: license-headers

update arrow in conda package
  conda/recipe.yaml
Due: dprint

clean up test
  tests/data/test_huge.py
Due: license-headers

add 32M test
  tests/data/test_huge.py
Due: license-headers

bump minimum PyArrow version
  pyproject.toml
  uv.lock
Due: dprint

DS user count
  tests/data/test_huge.py
Due: license-headers

Add support for removing multiple interaction
  src/lenskit/data/adapt.py
  src/lenskit/data/builder.py
  src/lenskit/data/movielens.py
Due: license-headers

refactor Metric base class
  src/lenskit/metrics/_base.py
Due: license-headers

adjust defaults and test
  src/lenskit/stats/_blb.py
  tests/stats/test_blb.py
Due: license-headers

Add initial settings schema.
  pyproject.toml
  src/lenskit/config/__init__.py
  uv.lock
Due: dprint, license-headers

add configuration tests
  tests/config/__init__.py
  tests/config/lenskit.local.toml
  tests/config/lenskit.toml
  tests/config/test_config.py
Due: dprint, license-headers

add and correct configuration CLI
  pyproject.toml
  src/lenskit/cli/config.py
  src/lenskit/config/__init__.py
  uv.lock
Due: dprint, license-headers

suppress missing ray warning
  src/lenskit/cli/doctor.py
Due: license-headers

add power metrics to LensKit tasks
  src/lenskit/config/__init__.py
  src/lenskit/logging/tasks.py
Due: license-headers

disable paths by default in `doctor`
  src/lenskit/cli/doctor.py
Due: license-headers

add psutil and report system information
  pyproject.toml
  src/lenskit/cli/doctor.py
  uv.lock
Due: dprint, license-headers

add cpuinfo to doctor
  pyproject.toml
  src/lenskit/cli/doctor.py
  uv.lock
Due: dprint, license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
