Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

test: improve bail-out for tuning tests
  tests/cli/harness.sh
  tests/cli/test-tune.sh
Due: none

test: support SKIP reasons in CLI tests
  tests/cli/harness.sh
  tests/cli/test-data-convert.sh
Due: none

test: remove perl from Mise deps
  mise/config.toml
Due: dprint

test: fix mermaid test bailout
  tests/cli/test-pipeline-diagram.sh
Due: none

test: fix tune bailout
  tests/cli/test-tune.sh
Due: none

build: add justfile to automate tasks
  justfile
Due: none

build: add library of shell script utilities
  scripts/lib/getoptions.sh
  scripts/lib/init.sh
  scripts/lib/logging.sh
  scripts/lib/run-cmd.sh
  scripts/lib/styles.sh
Due: none

build: move scripts from utils/ to scripts/
  .pre-commit-config.yaml
  scripts/count-cooc.py
  scripts/update-headers.py
Due: dprint, license-headers

build: add shell scripts to run tests
  scripts/collect-rust-coverage.sh
  scripts/test.sh
Due: none

build: hide Rust coverage collection tasks
  justfile
  scripts/test.sh
Due: none

build: add rust-just dependency
  pyproject.toml
  uv.lock
Due: dprint

suppress excess warning for version
  src/lenskit/__init__.py
  src/lenskit/_version.py
Due: license-headers

build: add version-tool.py script
  scripts/version-tool.py
Due: license-headers

build: don't re-activate virtual environment
  scripts/test.sh
Due: none

docs: move schema-build into just
  justfile
Due: none

docs: pull doc build into just
  justfile
Due: none

docs: use just to build in CI
  .github/workflows/docs.yml
  pyproject.toml
  uv.lock
Due: dprint

data: add further tests for item list ordering
  tests/data/test_itemlist_topn.py
Due: license-headers

tests: test rank output of stochastic ranker
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

stocahstic: fix test failure in stochastic ranker
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

data: fix item list ranks
  src/lenskit/data/_items.py
  tests/data/test_itemlist_topn.py
Due: license-headers

remove source check from main
  .github/workflows/check-sources.yml
Due: dprint

docs: update 2026.4 release notes
  docs/releases/2026.rst
Due: none

test: use tappy to check CLI tests
  tests/cli/run.sh
Due: none

test: write TAP plans at end of results
  tests/cli/count-tests.pl
  tests/cli/harness.sh
Due: none

build: add shfmt to pre-commit
  .pre-commit-config.yaml
Due: dprint

test: add tappy as test dependency
  pyproject.toml
  uv.lock
Due: dprint

docs: build QOL in release notee
  docs/releases/2026.rst
Due: none

knn/slim: report train time with stopwatch
  src/lenskit/knn/slim.py
Due: license-headers

slim: fix ruff formatting
  src/lenskit/knn/slim.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
