Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

add item list concatenation support
  src/lenskit/data/items.py
  tests/data/test_itemlist.py
Due: license-headers

mark ray data test as slow
  tests/data/test_ray.py
Due: license-headers

add support for null returns in Arrow item list numbers
  src/lenskit/data/items.py
  tests/data/test_itemlist.py
Due: license-headers

[WIP] accelerated PyArrow scatter
  src/accel/data/mod.rs
  src/accel/data/scatter.rs
  src/lenskit/_accel/data.pyi
Due: rustfmt, license-headers

[WIP] MTArray Scatter
  src/lenskit/data/mtarray.py
Due: license-headers

[WIP] start ItemList.update
  src/lenskit/data/items.py
  tests/data/test_itemlist.py
Due: license-headers

implement numeric dispach
  src/accel/arrow/dispatch.rs
  src/accel/arrow/mod.rs
  src/accel/data/sorting.rs
Due: rustfmt, license-headers

implement and test scatter
  src/accel/arrow/dispatch.rs
  src/accel/data/mod.rs
  src/accel/data/scatter.rs
  tests/accel/test_scatter.py
Due: rustfmt, license-headers

use new dispatch for sorting
  src/accel/arrow/dispatch.rs
  src/accel/data/sorting.rs
  src/lenskit/_accel/data.pyi
Due: rustfmt, license-headers

implement and test MTArray.scatter
  src/lenskit/data/mtarray.py
  tests/data/test_mtarray.py
Due: license-headers

fix typo in error
  src/accel/indirect_hashing/content_int.rs
Due: rustfmt, license-headers

finish and test item list update method
  src/lenskit/data/items.py
  tests/data/test_itemlist.py
Due: license-headers

fix torch index compatibility error
  src/lenskit/data/mtarray.py
Due: license-headers

add integer tests for scatter
  tests/accel/test_scatter.py
Due: license-headers

don't pass coverage var through to child processes
  mise/tasks/test.sh
Due: none

test and debug masked scatter in all cases
  src/lenskit/data/mtarray.py
  tests/data/test_mtarray.py
Due: license-headers

reduce epoch count + add BPR to FlexMF tests
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

reduce epoch count on LightGCN
  tests/graphs/test_lightgcn.py
Due: license-headers

suspend excess training tests on FlexMF
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

update history lookup method
  src/lenskit/basic/history.py
Due: license-headers

update docs and imports
  docs/guide/other-components.rst
  docs/guide/pipeline.rst
  src/lenskit/basic/__init__.py
Due: license-headers

deprecate old candidate selectors
  src/lenskit/basic/candidates.py
Due: license-headers

implement new candidate selector with multiple excludes
  src/lenskit/basic/candidates.py
  src/lenskit/data/items.py
  src/lenskit/data/query.py
  src/lenskit/knn/item.py
  tests/basic/test_candidates.py
Due: license-headers

rework deprecated user_items
  src/lenskit/data/query.py
Due: license-headers

initial support for session queries
  src/lenskit/data/query.py
  tests/data/test_query.py
Due: license-headers

working query and override
  src/lenskit/data/query.py
  tests/data/test_query.py
Due: license-headers

add session support to ALS
  src/lenskit/als/_common.py
Due: license-headers

add session-based recs to 2025.6
  docs/releases/2025.rst
Due: none

document ItemList changes
  docs/releases/2025.rst
Due: none

organize release notes
  docs/releases/2025.rst
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
