Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

unrated selector: actually test on different users
  tests/basic/test_candidates.py
Due: license-headers

increase lints + fix quote lints
  pyproject.toml
  tests/data/test_builder_binarize.py
Due: dprint, license-headers

fix == None
  tests/data/test_load_movielens.py
Due: license-headers

cleanup exception-from errors
  pyproject.toml
  src/lenskit/batch/_results.py
  src/lenskit/data/collection/_keys.py
  src/lenskit/data/items.py
  src/lenskit/pipeline/config.py
Due: dprint, license-headers

comment empty exceptions
  src/lenskit/data/items.py
  src/lenskit/pipeline/types.py
Due: license-headers

add free-threading detection to doctor
  src/lenskit/cli/doctor.py
Due: license-headers

clean up maturin dep + ensure recent version
  pyproject.toml
  uv.lock
Due: dprint

mark module as GIL-disabled.
  src/accel/lib.rs
Due: rustfmt, license-headers

add Python 3.14t to test matrix (#916)
  .github/workflows/test.yml
Due: dprint

disable hpfrec -march=native to fix test compat
  .github/workflows/test.yml
Due: dprint

pin Python version for GNN tests
  conda/recipe.yaml
Due: dprint

re-synchronize conda and toml deps
  conda/recipe.yaml
Due: dprint

fix humanize version
  conda/recipe.yaml
Due: dprint

push more input info into ComponentInput
  src/lenskit/pipeline/components.py
  tests/pipeline/test_component_util.py
Due: license-headers

refactor to use component input objects
  src/lenskit/pipeline/components.py
  src/lenskit/pipeline/nodes.py
  src/lenskit/pipeline/runner.py
  tests/pipeline/test_component_util.py
Due: license-headers

improve logging
  src/lenskit/pipeline/runner.py
Due: license-headers

try to skip inputs
  src/lenskit/pipeline/_hooks/typecheck.py
  src/lenskit/pipeline/runner.py
  src/lenskit/pipeline/types.py
Due: license-headers

Add tests for default inputs to trigger #1000.
  tests/pipeline/test_pipeline_runtime_typecheck.py
Due: license-headers

detect whether component inputs have defaults
  src/lenskit/pipeline/components.py
  tests/pipeline/test_component_util.py
Due: license-headers

document experimental status of hook interfaces
  src/lenskit/pipeline/_hooks/__init__.py
Due: license-headers

imporve error reporting on missing component reuslts
  src/lenskit/pipeline/runner.py
Due: license-headers

route ComponentInput objects through hooks
  src/lenskit/pipeline/_hooks/__init__.py
  src/lenskit/pipeline/_hooks/typecheck.py
  src/lenskit/pipeline/runner.py
  tests/pipeline/test_component_input_hook.py
Due: license-headers

simplify required logic
  src/lenskit/pipeline/runner.py
Due: license-headers

fix skip-input typecheck
  src/lenskit/pipeline/_hooks/typecheck.py
Due: license-headers

document pipeline input
  docs/releases/2026.rst
Due: none

define new compat marker
  pyproject.toml
Due: dprint

skip compat tests on non-Linux CI
  tests/data/test_data_compat.py
Due: license-headers

Add 2025.6 compat test
  tests/data/test_data_compat.py
Due: license-headers

always copy doc files
  .github/workflows/docs.yml
Due: dprint

bump version
  Cargo.lock
  Cargo.toml
Due: dprint

speed up co-occurrance counting
  src/accel/data/cooc.rs
  src/accel/sparse/coo.rs
  src/accel/sparse/mod.rs
  src/lenskit/data/relationships.py
Due: rustfmt, license-headers

refactor sped-up counts to pre-count group sizes
  src/accel/data/cooc.rs
  src/accel/progress.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/relationships.py
Due: rustfmt, license-headers

count groups
  src/accel/data/cooc.rs
Due: rustfmt, license-headers

expand testing of ML COOC
  tests/data/test_rel_cooc.py
Due: license-headers

correct matrix symmetry
  src/accel/data/cooc.rs
Due: rustfmt, license-headers

more build and debug cleanup
  Cargo.toml
  src/accel/data/cooc.rs
Due: rustfmt, dprint, license-headers

refactor into separate pair counters
  src/accel/data/cooc.rs
  src/accel/data/mod.rs
  src/accel/data/pairs/asymmetric.rs
  src/accel/data/pairs/mod.rs
  src/accel/data/pairs/symmetric.rs
Due: rustfmt, license-headers

add script to count co-occurrances
  utils/count-cooc.py
Due: license-headers

use arrays to count co-occurances
  src/accel/data/pairs/symmetric.rs
Due: rustfmt, license-headers
