Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: python
        entry: python utils/update-headers.py --error-on-change --
        types_or:
          - python
          - rust
        additional_dependencies:
          - docopt-ng >=0.9.0
          - unbeheader ~=1.3

Add support for multiple entities interaction
  src/lenskit/data/builder.py
  src/lenskit/data/relationships.py
  tests/data/test_builder_repeat_interactions.py
Due: license-headers

Add test for matrix relationship set cache and bad call, null counts
  src/lenskit/data/relationships.py
  tests/data/test_builder_repeat_interactions.py
Due: license-headers

replace dataset in relationshipset init with vocab
  src/lenskit/data/dataset.py
  src/lenskit/data/relationships.py
Due: license-headers

Add getstate and setstate
  src/lenskit/data/relationships.py
Due: license-headers

update release documentation
  docs/releases/2025.rst
  docs/releases/index.rst
Due: none

specify LensKit license in Cargo.toml
  Cargo.toml
Due: dprint

modify count sum approach
  src/lenskit/data/relationships.py
Due: license-headers

move duplication check back to add_relationships, revert schema repeat to AllowableTroolean
  src/lenskit/data/adapt.py
  src/lenskit/data/builder.py
  src/lenskit/data/movielens.py
  src/lenskit/data/schema.py
  tests/data/test_builder_filter.py
  tests/data/test_builder_interactions.py
  tests/data/test_builder_repeat_interactions.py
  tests/data/test_builder_save.py
Due: license-headers

remove torch constraint
  pyproject.toml
Due: dprint

test and fix locate_configuration_root
  src/lenskit/config/__init__.py
  tests/config/test_locate.py
Due: license-headers

CPU-only for default testing
  pyproject.toml
  uv.lock
Due: dprint

relock and update dependencies
  uv.lock
Due: none

put sorting into container
  src/lenskit/data/container.py
  src/lenskit/data/dataset.py
  src/lenskit/data/relationships.py
Due: license-headers

add test for dataset pickling
  tests/data/test_pickle.py
Due: license-headers

test corrected
  tests/data/test_builder_binarize.py
Due: license-headers

implement explicit serialization for dataset
  src/lenskit/data/dataset.py
Due: license-headers

verbose output for doctor
  conda/recipe.yaml
Due: dprint

added binarize_ratings function in datasetbuilder
  src/lenskit/data/builder.py
Due: license-headers

added tentative tests
  src/lenskit/data/builder.py
  tests/data/test_builder_binarize.py
Due: license-headers

add tests for Ray round-trip of datasets
  tests/data/test_ray.py
Due: license-headers

changes after review
  src/lenskit/data/builder.py
Due: license-headers

better env vars
  .github/workflows/conda.yml
  justfile
Due: dprint

add explicit pickling with Ray workaround
  src/lenskit/data/container.py
  src/lenskit/data/dataset.py
Due: license-headers

modified tests
  src/lenskit/data/builder.py
  tests/data/test_builder_binarize.py
Due: license-headers

fix cluster init
  tests/data/test_ray.py
Due: license-headers

update tests, ListLenght
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/_base.py
  src/lenskit/metrics/basic.py
  src/lenskit/metrics/bulk.py
  src/lenskit/metrics/ranking/_gini.py
  tests/eval/test_metric_accumulator.py
Due: license-headers

remove is_decomposed from measure_run, and fix a doc string
  src/lenskit/metrics/_base.py
  src/lenskit/metrics/bulk.py
Due: license-headers

update `measure_run` to include results from decomposed metrics
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/bulk.py
  src/lenskit/metrics/ranking/_gini.py
Due: license-headers

keep `is_listwise` property as it was
  src/lenskit/metrics/_accum.py
Due: license-headers

always call `measure_list` for all users in output
  src/lenskit/metrics/bulk.py
Due: license-headers

update `measure_list` to return `np.nan` and keep `measure` simple
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/bulk.py
Due: license-headers

pass empty itemlist instead of `np.nan`
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/bulk.py
Due: license-headers

implement and benchmark Rust-based ID indexes
  Cargo.lock
  Cargo.toml
  src/accel/data/index/mod.rs
  src/accel/data/index/storage.rs
  src/accel/data/index/storage_int.rs
  src/accel/data/index/storage_str.rs
  src/accel/data/mod.rs
  src/lenskit/_accel.pyi
  tests/benchmarks/benchmark_index.py
Due: rustfmt, dprint, license-headers

rework _accel types
  src/lenskit/_accel.pyi
  src/lenskit/_accel/__init__.pyi
  src/lenskit/_accel/als.pyi
  src/lenskit/_accel/data.pyi
Due: none

clean up Rust imports
  src/accel/data/mod.rs
Due: rustfmt, license-headers

push array hashing into Rust
  Cargo.lock
  Cargo.toml
  src/accel/data/index/mod.rs
  src/accel/data/mod.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/vocab.py
Due: rustfmt, dprint, license-headers

Refactor _make_matrix
  src/lenskit/data/relationships.py
  tests/data/test_builder_repeat_interactions.py
Due: license-headers

fix index names in vocabulary
  src/lenskit/data/vocab.py
Due: license-headers

fix vocabulary iteration
  src/lenskit/data/vocab.py
Due: license-headers
