Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

knn: fix normalization to keep Float32
  src/lenskit/knn/item.py
Due: license-headers

testing: fix data frame test for new pytest
  src/lenskit/testing/_movielens.py
Due: license-headers

pipeline: short-term workaround for NumPy test failure
  src/lenskit/pipeline/_types.py
  tests/pipeline/test_types.py
Due: license-headers

pipeline: revise is_compatible_data for modern NumPy
  src/lenskit/pipeline/_types.py
  tests/pipeline/test_types.py
Due: license-headers

build: expand nox sweeps
  noxfile.py
Due: license-headers

pipeline: fix union tests on Python 3.12
  src/lenskit/pipeline/_types.py
Due: license-headers

refactor type tests into smaller test files
  tests/pipeline/test_types.py
  tests/pipeline/test_types_check_data.py
  tests/pipeline/test_types_check_type.py
  tests/pipeline/test_types_importable.py
Due: license-headers

pipeline: clean up coverage and checks for data type-check
  src/lenskit/pipeline/_types.py
Due: license-headers

pipeline: make data & type compat logic equivalent
  src/lenskit/pipeline/_types.py
  tests/pipeline/test_types_check_type.py
Due: license-headers

flexmf: rewrite WARP sampling loop
  src/lenskit/flexmf/_implicit.py
Due: license-headers

flexmf: fix needed device allocation
  src/lenskit/flexmf/_implicit.py
Due: license-headers

add codebook configuration
  codebook.toml
Due: dprint

docs: add esbonio dependency
  pyproject.toml
  uv.lock
Due: dprint

docs: update 2026 release notes
  docs/releases/2026.rst
Due: none

fix codebook format
  codebook.toml
  mise/config.toml
Due: dprint

tombi formatting
  codebook.toml
  mise/config.toml
Due: dprint

tuning: fix optuna results setting
  src/lenskit/cli/tune.py
  src/lenskit/tuning/_optuna.py
Due: license-headers

tuning: test iterative tuning outputs
  tests/cli/test-tune.sh
Due: none

tuning: save trial and epoch tuning data
  src/lenskit/cli/tune.py
  src/lenskit/tuning/_base.py
  src/lenskit/tuning/_optuna.py
  src/lenskit/tuning/_ray/search.py
Due: license-headers

tuning: push save info into library code
  src/lenskit/cli/tune.py
  src/lenskit/tuning/_base.py
Due: license-headers

tuning: fix ray args for tune test
  tests/cli/test-tune.sh
Due: none

tuning: fix tune test to properly use Ray
  tests/cli/test-tune.sh
Due: none

tuning: fix tune CLI now that Ray is properly tested
  codebook.toml
  src/lenskit/cli/tune.py
Due: dprint, license-headers

tuning: decrease # of of points to test tuning
  tests/cli/test-tune.sh
Due: none

tuning: fix broken UUID JSON serialization
  src/lenskit/tuning/_base.py
Due: license-headers

flexmf: disable torch.compile on free-threaded Python
  src/lenskit/flexmf/_training.py
  src/lenskit/training.py
Due: license-headers

pyright -> ty
  pyproject.toml
  uv.lock
Due: dprint

accel: add support for nested accelerator pools
  src/accel/lib.rs
  src/accel/parallel.rs
  src/lenskit/_accel/__init__.pyi
  src/lenskit/parallel/_pool.py
Due: rustfmt, license-headers

add lenskit to codebook.toml
  codebook.toml
Due: dprint

accel: run accelerator tasks in nested pools when configured
  src/accel/tasks/mod.rs
  src/lenskit/parallel/_task.py
  tests/models/test_als_implicit.py
Due: rustfmt, license-headers

accel: expose NestedPool as export
  src/lenskit/parallel/__init__.py
  src/lenskit/parallel/_pool.py
Due: license-headers

tuning: use nested pools for Optuna tuning
  src/lenskit/tuning/_optuna.py
Due: license-headers

accel: fix context variable on Python 3.14
  src/lenskit/parallel/_task.py
Due: license-headers

add parallelism notes to release notes
  docs/releases/2026.rst
Due: none

data: separate Parquet saving into separate writer
  src/lenskit/data/_collection/__init__.py
  src/lenskit/data/_collection/_base.py
  src/lenskit/data/_collection/_parquet.py
Due: license-headers

batch: make individual result rows a named tuple
  src/lenskit/batch/_results.py
  src/lenskit/batch/_runner.py
Due: license-headers

add to codebook
  codebook.toml
Due: dprint

data: update some types to `type`
  src/lenskit/data/types.py
Due: license-headers

data: assert that saving without a directory fails
  tests/data/test_collection.py
Due: license-headers

batch: expose queries as an iterator
  src/lenskit/batch/__init__.py
  src/lenskit/batch/_queries.py
  src/lenskit/batch/_runner.py
Due: license-headers
