Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

add MS Web fetch
  src/lenskit/cli/data/fetch.py
Due: license-headers

fetch MS Web data in eval tests
  .github/workflows/test.yml
Due: dprint

document msweb function
  docs/api/data.rst
  src/lenskit/data/__init__.py
Due: license-headers

add test to evaluate session recs
  tests/knn/test_knn_session.py
Due: license-headers

bump version
  Cargo.lock
  Cargo.toml
Due: dprint

define and start implementing co-occurrences
  docs/releases/2025.rst
  src/accel/data/cooc.rs
  src/accel/data/mod.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/relationships.py
  tests/data/test_rel_cooc.py
Due: rustfmt, license-headers

debug co-occurrences
  src/accel/data/cooc.rs
  tests/data/test_rel_cooc.py
Due: rustfmt, license-headers

doc fixes
  src/lenskit/data/relationships.py
Due: license-headers

add progress bar
  src/accel/data/cooc.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/relationships.py
Due: rustfmt, license-headers

fix pandas group-by check
  src/lenskit/data/collection/_list.py
  tests/data/test_collection.py
Due: license-headers

add bugfix to release notes
  docs/releases/2025.rst
Due: none

fix negative slices
  src/lenskit/data/arrow.py
  tests/data/test_itemlist.py
Due: license-headers

update release notes
  docs/releases/2025.rst
Due: none

bug fix version
  Cargo.lock
  Cargo.toml
Due: dprint

change default pipelines for new candidate selectors
  src/lenskit/pipeline/common.py
Due: license-headers

add bit to release notes
  docs/releases/2025.rst
Due: none

publish releases on next & series branches
  .github/workflows/conda.yml
  .github/workflows/package.yml
Due: dprint

bump 2025 version
  Cargo.lock
  Cargo.toml
Due: dprint

run tests on next/series branches
  .github/workflows/test.yml
Due: dprint

bump to 2026 for next
  Cargo.lock
  Cargo.toml
Due: dprint

update workflows to run on future/* branches
  .github/workflows/conda.yml
  .github/workflows/package.yml
  .github/workflows/test.yml
Due: dprint

check source on series & future
  .github/workflows/check-sources.yml
Due: dprint

bump minimum Python to 3.12
  Cargo.toml
  conda/recipe.yaml
  pyproject.toml
Due: dprint

bump minimum versions of SPEC0 packages
  pyproject.toml
Due: dprint

update locked dependencies
  uv.lock
Due: none

update minimum python in workflows
  .github/workflows/check-sources.yml
  .github/workflows/package.yml
  .github/workflows/test.yml
Due: dprint

update Rust deps
  Cargo.lock
Due: none

update manual Cargo deps
  Cargo.lock
  Cargo.toml
Due: dprint

start 2026 release notes
  docs/releases/2025.rst
  docs/releases/2026.rst
  docs/releases/index.rst
Due: none

rust build errors + deprecations
  Cargo.lock
  Cargo.toml
  src/accel/als/explicit.rs
  src/accel/als/implicit.rs
  src/accel/data/sorting.rs
  src/accel/funksvd.rs
  src/accel/knn/item_score.rs
  src/accel/knn/item_train.rs
  src/accel/progress.rs
Due: rustfmt, dprint, license-headers

increase minimum sklearn version
  pyproject.toml
  uv.lock
Due: dprint

bump minimum pyzmq
  pyproject.toml
  uv.lock
Due: dprint

Fix NDCG ZeroDivisionError
  src/lenskit/metrics/ranking/_dcg.py
  tests/eval/test_rank_ndcg.py
Due: license-headers

update entropy classes
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/ranking/__init__.py
  src/lenskit/metrics/ranking/_entropy.py
  tests/eval/test_entropy.py
Due: license-headers

yeet more-itertools
  pyproject.toml
  src/lenskit/data/collection/_base.py
  uv.lock
Due: dprint, license-headers

remove more-itertools from conda recipe
  conda/recipe.yaml
Due: dprint

update maturin
  uv.lock
Due: none

downgrade nalgebra for nshare compat + disable macros
  Cargo.lock
  Cargo.toml
Due: dprint

use ndarray-linalg for Cholesky solve
  Cargo.lock
  Cargo.toml
  src/accel/als/explicit.rs
  src/accel/als/implicit.rs
Due: rustfmt, dprint, license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
