Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: python
        entry: python utils/update-headers.py --error-on-change --
        types_or:
          - python
          - rust
        additional_dependencies:
          - docopt-ng >=0.9.0
          - unbeheader ~=1.3

add ability to save the configured pipeline
  src/lenskit/cli/tune.py
  src/lenskit/tuning/_search.py
Due: license-headers

add deepmerge conda dep
  conda/recipe.yaml
Due: dprint

drop save-result + add CLI test
  src/lenskit/cli/tune.py
  tests/cli/test_tune.py
Due: license-headers

fix pytest fixture
  tests/cli/test_tune.py
Due: license-headers

fix path
  tests/cli/test_tune.py
Due: license-headers

remove unused imports
  tests/cli/test_tune.py
Due: license-headers

add tune settings and GPU multiplication
  src/lenskit/cli/tune.py
  src/lenskit/config/__init__.py
  src/lenskit/tuning/_search.py
Due: license-headers

make tuning submodules private
  src/lenskit/tuning/_iterative.py
  src/lenskit/tuning/_job.py
  src/lenskit/tuning/_measure.py
  src/lenskit/tuning/_reporting.py
  src/lenskit/tuning/_search.py
  src/lenskit/tuning/_simple.py
  src/lenskit/tuning/_stopper.py
Due: license-headers

add stability notes to the tune docs
  src/lenskit/tuning/_search.py
Due: license-headers

play with the home page
  docs/index.rst
Due: none

add documentation task
  mise/tasks/build/docs.sh
Due: none

icon
  docs/index.rst
Due: none

update intersphinx
  docs/conf.py
Due: license-headers

update index.html format
  docs/index.rst
Due: none

correct release note formatting
  docs/releases/2025.rst
Due: none

add a bunch more release notes
  docs/cli/index.rst
  docs/releases/2025.rst
Due: none

add lenskit[tune] subdep
  conda/recipe.yaml
  docs/api/index.rst
  pyproject.toml
Due: dprint

tuning
  docs/releases/2025.rst
Due: none

CLI notes
  docs/cli/index.rst
Due: none

config docs
  docs/api/config.rst
  docs/api/index.rst
  docs/releases/2025.rst
  src/lenskit/config/__init__.py
Due: license-headers

update lockfile for tune
  uv.lock
Due: none

fix release tag docs
  .github/workflows/docs.yml
Due: dprint

exclude CACHEDIR.TAG
  .github/workflows/package.yml
Due: dprint

set version 2025.3.1
  Cargo.lock
  Cargo.toml
  docs/releases/2025.rst
Due: dprint

add missing rate limit
  src/lenskit/logging/progress/_notebook.py
Due: license-headers

update rbo to use np.intersect1d
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/reranking/__init__.py
  src/lenskit/metrics/reranking/_rbo.py
  tests/eval/test_rbo.py
Due: license-headers

lip and rbo tests pass
  src/lenskit/metrics/reranking/_lip.py
  tests/eval/test_lip.py
  tests/eval/test_rbo.py
Due: license-headers

assert model retraining is very fast
  src/lenskit/testing/_components.py
Due: license-headers

allow approx component ests, drop excess eval tests
  src/lenskit/testing/_components.py
  tests/flexmf/test_flexmf_explicit.py
  tests/implicit/test_implicit.py
  tests/models/test_knn_item_item.py
Due: license-headers

remove jit test from base tests
  src/lenskit/testing/_components.py
  tests/basic/test_bias.py
  tests/basic/test_popular.py
Due: license-headers

use ndcg test
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

remove jit_enabled/wantjit markers
  src/lenskit/testing/__init__.py
  src/lenskit/testing/_markers.py
  tests/funksvd/test_funksvd.py
  tests/models/test_als_explicit.py
  tests/models/test_als_implicit.py
Due: license-headers

simplify save_load tests
  src/lenskit/testing/_components.py
  tests/basic/test_popular.py
  tests/basic/test_time_bounded_popular.py
  tests/funksvd/test_funksvd.py
  tests/models/test_als_explicit.py
  tests/models/test_als_implicit.py
  tests/models/test_knn_item_item.py
  tests/models/test_knn_user_user.py
  tests/sklearn/test_svd.py
Due: license-headers

time-bounded
  tests/basic/test_time_bounded_popular.py
Due: license-headers

fix popularity time bound
  src/lenskit/basic/popularity.py
  tests/basic/test_time_bounded_popular.py
Due: license-headers

take care of lint error
  src/lenskit/metrics/reranking/_rbo.py
Due: license-headers

take care of pre-commit hooks
  src/lenskit/metrics/reranking/_rbo.py
Due: license-headers

update recipe.yaml to match conda-forge
  conda/recipe.yaml
Due: dprint

increase retries on scale test
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

stochastic with fresh rng
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers
