Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: python
  entry: python utils/update-headers.py --error-on-change --
  additional_dependencies:
  - docopt-ng >=0.9.0
  - unbeheader ~=1.3

fix windows task invocations
  mise/tasks/build/conda.cmd
  mise/tasks/build/dist.cmd
  mise/tasks/version.cmd
Due: none

use rattler-build action to build packages
  .github/workflows/conda.yml
Due: dprint

support lists of record batches
  src/accel/data/coordinates.rs
  tests/data/test_coord_table.py
Due: rustfmt, license-headers

use new coordinate table to speed up dataset load
  src/lenskit/_accel/data.pyi
  src/lenskit/data/builder.py
Due: license-headers

save coordinate tables for (fast) reuse
  src/lenskit/data/builder.py
  src/lenskit/data/container.py
Due: license-headers

add FIXME comment on coordinate sorting
  src/lenskit/data/builder.py
Due: license-headers

use uvx --isolated for compat tests
  tests/data/test_data_compat.py
Due: license-headers

add usage
  mise/tasks/build/dist.cmd
Due: none

usage instead of getopts, no assoc arrays
  mise/tasks/build/dist.cmd
  mise/tasks/build/dist.sh
Due: none

fix conda.cmd
  mise/tasks/build/conda.cmd
Due: none

usage for accelerator build
  mise/tasks/build/accel.sh
Due: none

remove debug echo
  mise/tasks/build/dist.cmd
Due: none

vscode: +mise -just
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: dprint

justfile
  justfile
Due: none

implement test runner options
  mise/tasks/test.sh
Due: none

invoke the build runner
  mise/tasks/test.sh
Due: none

don't pickle coord tables
  src/lenskit/data/container.py
Due: license-headers

Fix repeat interaction removal at add_relationships
  src/lenskit/data/builder.py
Due: license-headers

remove "remove_duplicate" in schema, rename to allow_repeats
  src/lenskit/data/builder.py
  src/lenskit/data/relationships.py
  src/lenskit/data/schema.py
  tests/data/test_builder_repeat_interactions.py
Due: license-headers

Revert repeats in builder back to allow_repeats
  src/lenskit/data/adapt.py
  src/lenskit/data/builder.py
  src/lenskit/data/movielens.py
  tests/data/test_builder_interactions.py
  tests/data/test_builder_repeat_interactions.py
Due: license-headers

Change attribute names for relationship set class
  src/lenskit/data/relationships.py
Due: license-headers

initial code for coordinates
  src/accel/data/coordinates.rs
  src/accel/data/mod.rs
  src/lenskit/_accel/data.pyi
  tests/data/test_coord_table.py
Due: rustfmt, license-headers

ignore more coverage files
  .gitignore
Due: none

working basic record batch check
  src/accel/data/coordinates.rs
Due: rustfmt, license-headers

initial working coordinates with one record batch
  src/accel/data/coordinates.rs
  src/lenskit/_accel/data.pyi
  tests/data/test_coord_table.py
Due: rustfmt, license-headers

disable coverage instrumentation
  mise/tasks/test.sh
Due: none

clear cooridinates when removing relationships
  src/lenskit/data/builder.py
Due: license-headers

allow recommend printing to be disabled
  src/lenskit/cli/recommend.py
Due: license-headers

fix log output in convert
  src/lenskit/cli/data/convert.py
Due: license-headers

add py-spy to dev dependencies
  pyproject.toml
  uv.lock
Due: dprint

save recommendation lists to disk
  src/lenskit/cli/recommend.py
Due: license-headers

fix types on batch.recommend APIs
  src/lenskit/batch/__init__.py
Due: license-headers

support batch mode for CLI recommend
  src/lenskit/cli/recommend.py
Due: license-headers

refactor record_batches to aid profiling
  src/lenskit/data/collection/_base.py
Due: license-headers

update tests and pass `np.nan` for global result if result is none
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/bulk.py
  tests/eval/test_metric_accumulator.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
