Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: python
  entry: python utils/update-headers.py --error-on-change --
  additional_dependencies:
  - docopt-ng >=0.9.0
  - unbeheader ~=1.3

disable mise cache for now
  .github/workflows/test.yml
Due: dprint

move tests arround + add test for accel thread count
  tests/accel/__init__.py
  tests/accel/test_accel_config.py
  tests/accel/test_argsort.py
Due: license-headers

refactor error handling for improved test coverage
  src/accel/errors.rs
  src/accel/lib.rs
  src/accel/sparse/csr.rs
Due: rustfmt, license-headers

additional error refactors
  src/accel/arrow/mod.rs
  src/accel/data/sorting.rs
Due: rustfmt, license-headers

bump version
  Cargo.lock
  Cargo.toml
Due: dprint

document vector attribute sets
  docs/api/data.rst
  src/lenskit/data/attributes.py
Due: license-headers

bump 2025.5
  Cargo.lock
  Cargo.toml
  docs/releases/2025.rst
Due: dprint

add `cat_matrix` to `AttributeSet`, `ScalerAttributeSet`, `ListAttributeSet`
  src/lenskit/data/attributes.py
Due: license-headers

Update PyArrow to 22.x
  pyproject.toml
  uv.lock
Due: dprint

add Python 3.14 to classifiers
  pyproject.toml
Due: dprint

add Python 3.14 to test matrix
  .github/workflows/test.yml
Due: dprint

build Conda packages on MacOS Intel
  .github/workflows/conda.yml
Due: dprint

skip FlexMF tests on MacOS Intel
  tests/flexmf/__init__.py
Due: license-headers

Update uv.lock with updated dependencies
  uv.lock
Due: none

also exclude tune extra on Py 3.14
  .github/workflows/test.yml
Due: dprint

use uv to run license-headers
  .pre-commit-config.yaml
  utils/update-headers.py
Due: dprint, license-headers

update setup-uv
  .github/workflows/check-sources.yml
  .github/workflows/docs.yml
  .github/workflows/package.yml
  .github/workflows/test.yml
Due: dprint

change IDSequence to fully stringified type
  src/lenskit/data/types.py
Due: license-headers

activate venv in doc workflow
  .github/workflows/docs.yml
Due: dprint

setup uv
  .github/workflows/package.yml
  .github/workflows/test.yml
Due: dprint

update pre-commit hooks
  .pre-commit-config.yaml
Due: dprint

activate environment for lint
  .github/workflows/check-sources.yml
Due: dprint

relock with corrected PyTorch CPU extra
  pyproject.toml
  uv.lock
Due: dprint

update ruff setup
  .pre-commit-config.yaml
Due: dprint

add warning notes
  src/lenskit/flexmf/_training.py
Due: license-headers

add diagnostic documentation
  docs/guide/diagnostics/index.rst
  docs/guide/diagnostics/warnings.rst
  docs/guide/index.rst
Due: none

skip unsupported compat test
  tests/data/test_data_compat.py
Due: license-headers

FA*IR: bug fixes and test updates
  src/lenskit/reranking/fair.py
  tests/reranking/test_fair_reranker.py
Due: license-headers

cleanup
  tests/reranking/test_fair_reranker.py
Due: license-headers

streamline coverage reporting
  .github/workflows/test.yml
Due: dprint

remove test matrix exclusions for Python 3.13
  .github/workflows/test.yml
Due: dprint

add Linux aarch64 to Conda builds
  .github/workflows/conda.yml
Due: dprint

remove vestigal setuptools configs
  .github/workflows/test.yml
Due: dprint

Simplify test coverage upload
  .github/workflows/test.yml
Due: dprint

use numpy for attribute lookup
  src/lenskit/reranking/fair.py
Due: license-headers

catch nan values
  src/lenskit/reranking/fair.py
Due: license-headers

unconstrain pyarrow
  conda/recipe.yaml
Due: dprint

mise no
  .vscode/settings.json
Due: dprint

return neighbor counts from item KNN
  src/accel/knn/accum.rs
  src/accel/knn/item_score.rs
  src/lenskit/_accel/knn.pyi
  src/lenskit/knn/item.py
Due: rustfmt, license-headers

disable item-KNN scoring parallelism
  src/accel/knn/item_score.rs
Due: rustfmt, license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
