Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

batch: fix Ray runner types
  src/lenskit/batch/_ray.py
Due: license-headers

pipeline: add type alias support to create_input
  src/lenskit/pipeline/_builder.py
  tests/pipeline/test_pipeline.py
Due: license-headers

pipeline: try to use TypeForm for create_input
  src/lenskit/pipeline/_builder.py
  tests/pipeline/test_pipeline.py
Due: license-headers

pipeline: error on unsupported type forms
  src/lenskit/pipeline/_builder.py
Due: license-headers

deps: bump to Ray 2.55
  uv.lock
Due: none

tests: enable ray tests on Python 3.14
  .github/workflows/test.yml
Due: dprint

deps: upgrade locked Pydantic for Ray
  uv.lock
Due: none

data: add finite assumption to value accumulator test
  tests/data/test_value_accumulator.py
Due: license-headers

remove legacy user_items use from components
  src/lenskit/basic/bias.py
  src/lenskit/funksvd.py
  src/lenskit/knn/user.py
  src/lenskit/sklearn/svd.py
Due: license-headers

pipeline: fix typecheck for type aliases
  src/lenskit/pipeline/_types.py
  tests/pipeline/test_types.py
Due: license-headers

data: improve generic key documentation
  src/lenskit/data/_collection/_keys.py
Due: license-headers

batch: first pass at running with updated queries
  src/lenskit/batch/__init__.py
  src/lenskit/batch/_queries.py
  src/lenskit/batch/_runner.py
  src/lenskit/data/_query.py
Due: license-headers

batch: simplify runner API
  src/lenskit/batch/__init__.py
  src/lenskit/batch/_runner.py
Due: license-headers

remove legacy user_items from testing
  src/lenskit/testing/_components.py
  tests/integration/test_pipeline_basics.py
Due: license-headers

data/queries: update query input types
  src/lenskit/data/_query.py
Due: license-headers

batch: create explicit batch request type and update documentation
  docs/guide/batch.rst
  src/lenskit/batch/__init__.py
  src/lenskit/batch/_queries.py
  src/lenskit/splitting/_split.py
  tests/batch/test_batch_pipeline.py
Due: license-headers

batch: fix query input tests
  src/lenskit/batch/_queries.py
  tests/batch/test_batch_pipeline.py
Due: license-headers

batch: document intermediate type
  src/lenskit/batch/_results.py
Due: license-headers

fix TT split type error
  src/lenskit/tuning/_search.py
Due: license-headers

data/queries: remove legacy user_items
  docs/guide/queries.rst
  docs/releases/2025.rst
  src/lenskit/basic/history.py
  src/lenskit/data/_query.py
  src/lenskit/knn/slim.py
  tests/basic/test_history.py
  tests/data/test_query.py
Due: license-headers

docs: fix stability level link
  docs/_ext/lk_stability.py
Due: license-headers

add batch inference update to implicit
  docs/releases/2026.rst
Due: none

bump Python minimum version
  docs/releases/index.rst
Due: none

pipeline: remove types from nodes, use single input types
  src/lenskit/pipeline/_builder.py
  src/lenskit/pipeline/_runner.py
  src/lenskit/pipeline/_types.py
  src/lenskit/pipeline/config.py
  src/lenskit/pipeline/nodes.py
  tests/pipeline/test_config_node.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_save_load.py
Due: license-headers

pipeline: accept Any in is_compatible functions
  src/lenskit/pipeline/_types.py
  tests/pipeline/test_types.py
Due: license-headers

bump LensKit version to beta 1
  Cargo.lock
  Cargo.toml
Due: dprint

docs: document collection much better
  docs/guide/GettingStarted.ipynb
  docs/guide/evaluation/collection.rst
  docs/guide/evaluation/index.rst
  docs/guide/evaluation/rankings.rst
  docs/guide/index.rst
  docs/releases/2026.rst
  src/lenskit/metrics/_collect.py
Due: license-headers

update GettingStarted to use measurement collector
  docs/guide/GettingStarted.ipynb
Due: none

docs: rerun getting started w/ @100
  docs/guide/GettingStarted.ipynb
Due: none

build: bump beta version
  Cargo.lock
  Cargo.toml
Due: dprint

deps: update locked max versions
  uv.lock
Due: none

deps: update auto-updatable Cargo deps
  Cargo.lock
Due: none

accel: update PyO3, Arrow, and related dependencies
  Cargo.lock
  Cargo.toml
  src/accel/als/solve.rs
  src/accel/cython.rs
  src/accel/data/index.rs
  src/accel/funksvd.rs
  src/accel/indirect/hashing/content_int.rs
Due: rustfmt, dprint, license-headers

add test for embedding size mixin
  tests/models/test_als_explicit.py
Due: license-headers

update default embedding sizes (#846)
  docs/releases/2026.rst
  src/lenskit/als/_common.py
  src/lenskit/funksvd.py
  src/lenskit/sklearn/nmf.py
  src/lenskit/sklearn/svd.py
Due: license-headers

update HPF
  src/lenskit/hpf.py
Due: license-headers
