Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: python
        entry: python utils/update-headers.py --error-on-change --
        types_or:
          - python
          - rust
        additional_dependencies:
          - docopt-ng >=0.9.0
          - unbeheader ~=1.3

fix chunked arrays in resolve
  src/lenskit/data/builder.py
Due: license-headers

add test for vocab
  tests/data/test_vocab.py
Due: license-headers

more testing of the vocab
  tests/data/test_vocab.py
Due: license-headers

fix Amazon dataset builder tests
  src/lenskit/data/builder.py
  tests/data/test_load_amazon.py
Due: license-headers

add multi-entity test
  tests/data/test_builder_entities.py
Due: license-headers

a little bit of accel docs
  docs/api/index.rst
  src/accel/data/rc_set.rs
Due: rustfmt, license-headers

add a bit of docs
  src/accel/funksvd.rs
  src/accel/sampling.rs
Due: rustfmt, license-headers

Refactor indirect hash table into its own abstraction
  Cargo.lock
  Cargo.toml
  src/accel/data/index/mod.rs
  src/accel/data/index/storage.rs
  src/accel/data/index/storage_int.rs
  src/accel/data/index/storage_str.rs
  src/accel/data/indirect_hash.rs
  src/accel/data/mod.rs
Due: rustfmt, dprint, license-headers

move indirect hashing into its own package
  src/accel/data/index/mod.rs
  src/accel/data/index/storage_int.rs
  src/accel/data/index/storage_str.rs
  src/accel/data/mod.rs
  src/accel/indirect_hashing/mod.rs
  src/accel/indirect_hashing/table.rs
  src/accel/lib.rs
Due: rustfmt, license-headers

move integer & string storage into hash
  src/accel/data/index.rs
  src/accel/indirect_hashing/content_int.rs
  src/accel/indirect_hashing/content_string.rs
  src/accel/indirect_hashing/mod.rs
Due: rustfmt, license-headers

support large strings in indirect hash table
  src/accel/indirect_hashing/content_string.rs
Due: rustfmt, license-headers

add clean task
  mise/tasks/clean.sh
  mise/tasks/init-dirs.sh
Due: none

auto-activate UV environment
  mise/config.toml
Due: dprint

move init-dirs task to Mise
  mise/tasks/init-dirs.sh
Due: none

add sdist task script
  .gitignore
  mise/tasks/build/sdist.sh
  mise/tasks/version.py
Due: license-headers

enable setup and shfmt
  .vscode/extensions.json
  .vscode/settings.json
  mise/config.toml
Due: dprint

fix build
  mise/tasks/init-dirs.sh
Due: none

add Mise script for building built-in accelerator
  mise/tasks/build/accel.sh
Due: none

attempt to get scripts working on windows
  mise/config.toml
  mise/runtask.cmd
  uv.lock
Due: dprint

Conda build task
  mise/tasks/build/conda.sh
Due: none

helper function
  mise/task-functions.sh
  mise/tasks/build/sdist.sh
Due: none

single distribution function
  mise/task-functions.sh
  mise/tasks/build/dist.sh
Due: none

tweak how we might install
  mise/config.toml
  mise/runtask.cmd
Due: dprint

handle null arrays
  src/lenskit/data/vocab.py
Due: license-headers

fix remaining term
  src/lenskit/data/vocab.py
Due: license-headers

tweak test task
  justfile
Due: none

initial code for coordinates
  src/accel/data/coordinates.rs
  src/accel/data/mod.rs
  src/lenskit/_accel/data.pyi
  tests/data/test_coord_table.py
Due: rustfmt, license-headers

initial working coordinates with one record batch
  src/accel/data/coordinates.rs
  src/lenskit/_accel/data.pyi
  tests/data/test_coord_table.py
Due: rustfmt, license-headers

working basic record batch check
  src/accel/data/coordinates.rs
Due: rustfmt, license-headers

ignore more coverage files
  .gitignore
Due: none

get dist command working (almost)
  mise/config.toml
  mise/runtask.cmd
  mise/tasks/build/dist.cmd
  mise/tasks/build/dist.sh
Due: dprint

create build directory when needed
  mise/tasks/build/dist.sh
Due: none

add Windows version cmd
  mise/tasks/version.cmd
Due: none

fix array append for source dist
  mise/tasks/build/dist.sh
Due: none

add commands
  mise/tasks/build/conda.cmd
  mise/tasks/build/dist.cmd
Due: none

mise instead of just to run tasks in CI
  .github/workflows/conda.yml
  .github/workflows/package.yml
Due: dprint

dynamic versioning for conda
  mise/tasks/build/conda.sh
Due: none

fix python invocation in conda build
  mise/tasks/build/conda.sh
Due: none

fix python invocation better
  mise/tasks/build/conda.sh
Due: none

set up uv
  .github/workflows/package.yml
Due: dprint
