Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

accel: add unsigned to scatter tests
  tests/accel/test_scatter.py
Due: license-headers

testing: remove unused sparse_tensors generator
  src/lenskit/testing/__init__.py
  src/lenskit/testing/_arrays.py
Due: license-headers

math: remove unused sparse tensor conversion
  src/lenskit/math/sparse.py
Due: license-headers

torch: remove unused sparse_row function
  src/lenskit/torch.py
Due: license-headers

accel: add unsigned to argsort test matrix
  tests/accel/test_argsort.py
Due: license-headers

accel: update accelerator log level in conftest
  conftest.py
Due: license-headers

accel: enable debug logging for accel coverage
  .github/workflows/test.yml
Due: dprint

ops: add specific + more complete tests for operations
  src/lenskit/operations.py
  tests/test_operations.py
Due: license-headers

data: add tests for msweb source
  tests/data/test_load_msweb.py
Due: license-headers

cli: add test for ms-web data import
  tests/cli/test-data-convert.sh
Due: none

test: export coverage XML from CLI tests
  tests/cli/run.sh
Due: none

build: refactor data tests for cleaner run w/ Mise
  .woodpecker/dataset-tests.yml
  mise/tasks/ci/data-tests.sh
  mise/tasks/coverage/export.sh
  tests/cli/run.sh
Due: dprint

cli: add amazon conversion to CLI tests
  tests/cli/test-data-convert.sh
Due: none

accel: add tests for failure branches in scatter/argsort
  src/lenskit/_accel/data.pyi
  tests/accel/test_argsort.py
  tests/accel/test_scatter.py
Due: license-headers

accel: add initial flag for future coverage exclusion
  Cargo.toml
  src/accel/lib.rs
Due: rustfmt, dprint, license-headers

accel: add tests for pyon parser
  tests/accel/test_pyon.py
Due: license-headers

fix java paper link
  docs/research/java-papers.rst
Due: none

add ambar.py and update describe.py
  src/lenskit/cli/data/describe.py
  src/lenskit/data/sources/ambar.py
Due: license-headers

use single with in _read_table()
  src/lenskit/data/sources/ambar.py
Due: license-headers

add tests and update convert script
  data/.gitignore
  src/lenskit/cli/data/convert.py
  src/lenskit/data/sources/ambar.py
  tests/cli/test-data-convert.sh
  tests/data/test_load_ambar.py
Due: license-headers

rm unused variable tracks
  tests/data/test_load_ambar.py
Due: license-headers

update gitignore
  data/.gitignore
Due: none

remove conflicting duplicate user_ids
  src/lenskit/data/sources/ambar.py
Due: license-headers

filter ratings from users what do not appear in users info
  src/lenskit/data/sources/ambar.py
Due: license-headers

update: include such users
  src/lenskit/data/sources/ambar.py
Due: license-headers

update test
  tests/data/test_load_ambar.py
Due: license-headers

logging: take setings arg to measure_power
  src/lenskit/logging/tasks.py
Due: license-headers

cli: refactor doctor to use inspectors
  src/lenskit/cli/doctor.py
Due: license-headers

cli: add power measurement to doctor (#1186)
  src/lenskit/cli/doctor.py
Due: license-headers

cli: skip power inspector test coverage
  src/lenskit/cli/doctor.py
Due: license-headers

cli: fix package inspector body
  src/lenskit/cli/doctor.py
Due: license-headers

tuning: add test for using inline pipeline configurations
  tests/tuning/slim-inline-pipeline.toml
  tests/tuning/test_tuner_setup.py
Due: dprint, license-headers

pipeline: add extra="forbid" to most schema objects
  src/lenskit/schemas/pipeline.py
Due: license-headers

docs: add 2026.4 + schema restriction to release notes
  docs/releases/2026.rst
Due: none

docs: add PR #1193 link to release notes
  docs/releases/2026.rst
Due: none

tests: add GitHub Actions group markers to CLI test output
  tests/cli/run.sh
Due: none

tests: wrap test coverage output in a group
  mise/task-functions.sh
  tests/cli/run.sh
Due: none

rename `artist_id` to `artist`
  src/lenskit/data/sources/ambar.py
  tests/data/test_load_ambar.py
Due: license-headers

cli/doctor: make power robust to empty returns
  src/lenskit/cli/doctor.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
