Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

deps: update typing_extensions
  conda/recipe.yaml
  pyproject.toml
  uv.lock
Due: dprint

slim: fix scoring on old SciPy
  src/lenskit/knn/slim.py
Due: license-headers

slim: use sparse matrix to multiply
  src/lenskit/knn/slim.py
Due: license-headers

slim: add documentation to weight matrix
  src/lenskit/knn/slim.py
Due: license-headers

docs: update 2025.x release notes
  docs/releases/2025.rst
Due: none

build: bump version
  Cargo.lock
  Cargo.toml
Due: dprint

tuning: make search space type more precise
  src/lenskit/tuning/spec.py
Due: license-headers

tuning: add test for pow2 space
  tests/tuning/test_optuna_space.py
Due: license-headers

tuning: raise error with invalid spec
  src/lenskit/tuning/_optuna.py
Due: license-headers

fix importorskip
  tests/tuning/test_optuna_space.py
Due: license-headers

tuning: fix import organization
  src/lenskit/tuning/spec.py
Due: license-headers

tuning: fix test imports
  tests/tuning/test_optuna_space.py
Due: license-headers

tuning: move problematic import into function
  tests/tuning/test_optuna_space.py
Due: license-headers

tuning: log search points
  src/lenskit/tuning/_optuna.py
Due: license-headers

tuning: fix pow2 in default setup
  src/lenskit/tuning/_optuna.py
Due: license-headers

tuning: actually enqueue the defaults
  src/lenskit/tuning/_optuna.py
Due: license-headers

tuning: enqueue defaults as first search point
  src/lenskit/tuning/_optuna.py
Due: license-headers

cli: simplify LK_VERBOSE
  src/lenskit/cli/__init__.py
Due: license-headers

tuning: remove old parallelism comment
  src/lenskit/tuning/_optuna.py
Due: license-headers

docs: add #1144 and #1145 to release notes
  docs/releases/2026.rst
Due: none

build: bump version number
  Cargo.lock
  Cargo.toml
Due: dprint

deps: add hk to mise config
  mise/config.toml
Due: dprint

build: swich from pre-commit to hk
  .github/workflows/check-sources.yml
  .pre-commit-config.yaml
  mise/config.extra.toml
  mise/config.toml
  pyproject.toml
  uv.lock
Due: dprint

accel: update to 2024 and reformat
  Cargo.toml
  src/accel/als/explicit.rs
  src/accel/als/implicit.rs
  src/accel/als/solve.rs
  src/accel/arrow/mod.rs
  src/accel/arrow/types/index.rs
  src/accel/arrow/types/index_list.rs
  src/accel/arrow/types/row.rs
  src/accel/cython.rs
  src/accel/data/cooc.rs
  src/accel/data/coordinates.rs
  src/accel/data/index.rs
  src/accel/data/mod.rs
  src/accel/data/pairs/symmetric.rs
  src/accel/data/scatter.rs
  src/accel/data/selection.rs
  src/accel/data/sorting.rs
  src/accel/data/transpose.rs
  src/accel/funksvd.rs
  src/accel/indirect/hashing/content_int.rs
  src/accel/indirect/hashing/content_string.rs
  src/accel/indirect/hashing/table.rs
  src/accel/knn/item_score.rs
  src/accel/knn/item_train.rs
  src/accel/knn/user_score.rs
  src/accel/parallel.rs
  src/accel/slim/mod.rs
  src/accel/sparse/csr.rs
  src/accel/sparse/mod.rs
  src/accel/tasks/atomic.rs
  src/accel/tasks/mod.rs
Due: rustfmt, dprint, license-headers

build: properly add hk.pkl + drop branch check
  .github/workflows/check-sources.yml
  .gitignore
  hk.pkl
Due: dprint

update dprint formatters
  .dprint.json
Due: dprint

build: no dprint yaml
  .dprint.json
Due: dprint

add dprint to mise config
  mise/config.toml
Due: dprint

build: use yamlfmt for yaml
  .yamlfmt.yml
  hk.pkl
  mise/config.toml
Due: dprint

build: yeet yamllint
  mise/config.toml
Due: dprint

dev: add a CI test that the dev container environment works
  .github/workflows/check-devcontainer.yml
  mise/tasks/lint.sh
Due: dprint

dev: add GitHub CLI to devcontainer
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: dprint

dev: disable auto-enable on mise uv
  mise/config.toml
Due: dprint

docs: update README with more Windows notes
  README.md
Due: none

docs: notes on setting up dev container
  README.md
Due: none

build: update devcontainer setup for LensKit
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: dprint

build: activate mise for conda builds
  .github/workflows/conda.yml
Due: dprint

dev: automatically install hk hooks
  mise/config.toml
Due: dprint

working devcontainer.json
  .devcontainer/devcontainer.json
Due: dprint

build: move cargo binutils to extra, only used for coverage
  .devcontainer/devcontainer-lock.json
  .github/workflows/test.yml
  mise/config.extra.toml
  mise/config.toml
Due: dprint
