Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: python
        entry: python utils/update-headers.py --error-on-change --
        types_or:
          - python
          - rust
        additional_dependencies:
          - docopt-ng >=0.9.0
          - unbeheader ~=1.3

implement popularity sampling for negatives
  src/accel/data/coordinates.rs
  src/accel/sampling.rs
  src/lenskit/_accel/__init__.pyi
  tests/benchmarks/benchmark_negatives.py
Due: rustfmt, license-headers

add Rust rand crate
  Cargo.lock
  Cargo.toml
Due: dprint

move negative sampling into data
  src/accel/data/mod.rs
  src/accel/data/sampling.rs
  src/accel/lib.rs
  src/lenskit/_accel/__init__.pyi
  src/lenskit/_accel/data.pyi
  src/lenskit/data/relationships.py
Due: rustfmt, license-headers

test looking up array positions
  src/accel/data/coordinates.rs
  src/lenskit/_accel/data.pyi
  tests/data/test_coord_table.py
Due: rustfmt, license-headers

yeet RCSet
  src/accel/data/mod.rs
  src/accel/data/rc_set.rs
  src/accel/lib.rs
  src/accel/sampling.rs
  src/lenskit/_accel/__init__.pyi
Due: rustfmt, license-headers

drop _rc_set usage
  tests/benchmarks/benchmark_coord.py
  tests/data/test_negative_sampling.py
Due: license-headers

benchmark RC set membership testing
  src/accel/data/coordinates.rs
  tests/benchmarks/benchmark_coord.py
Due: rustfmt, license-headers

use numpy for sampling barrier
  src/accel/sampling.rs
  src/lenskit/_accel/__init__.pyi
  src/lenskit/data/relationships.py
Due: rustfmt, license-headers

benchmark popularity weighting
  tests/benchmarks/benchmark_negatives.py
Due: license-headers

use new negative sampler for sample_negatives
  src/lenskit/_accel/__init__.pyi
  src/lenskit/data/relationships.py
Due: license-headers

remove direct negative sample
  tests/benchmarks/benchmark_negatives.py
Due: license-headers

reduce unnecessary memory re-allocations
  src/accel/data/sampling.rs
  src/lenskit/data/relationships.py
Due: rustfmt, license-headers

properly pass n
  src/lenskit/_accel/data.pyi
  src/lenskit/data/relationships.py
Due: license-headers

Added minibatchNMF and added scikit-learn to packages
  pyproject.toml
  src/lenskit/sklearn/nmf.py
  tests/sklearn/test_nmf.py
  uv.lock
Due: dprint, license-headers

Merge repeat interaction support and coordinate table
  src/lenskit/data/builder.py
Due: license-headers

Fix tests for last interactions and schema check
  tests/data/test_builder_repeat_interactions.py
Due: license-headers

add tests
  tests/eval/test_metric_accumulator.py
Due: license-headers

reduce CUDA sync on training batch loss
  src/lenskit/flexmf/_explicit.py
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_training.py
Due: license-headers

use torch.compile to optimize model training
  src/lenskit/flexmf/_base.py
  src/lenskit/flexmf/_explicit.py
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_training.py
Due: license-headers

make AdamW the default regularizer
  src/lenskit/flexmf/_base.py
Due: license-headers

ignore more profiling outputs
  .gitignore
Due: none

add setuptools dependency
  pyproject.toml
  uv.lock
Due: dprint

fix setuptools version
  pyproject.toml
  uv.lock
Due: dprint

fix FlexMF settings
  src/lenskit/flexmf/_base.py
  src/lenskit/flexmf/_explicit.py
  tests/flexmf/test_flexmf_explicit.py
Due: license-headers

add tests in `test_base`
  tests/eval/test_base.py
Due: license-headers

disable Inductor on windows
  src/lenskit/flexmf/_explicit.py
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_training.py
Due: license-headers

fix platform invocation
  src/lenskit/flexmf/_training.py
Due: license-headers

Removed scikit-learn from dependencies
  pyproject.toml
  uv.lock
Due: dprint

bump minimum pytorch version
  pyproject.toml
  uv.lock
Due: dprint

bump conda pytorch version
  conda/recipe.yaml
Due: dprint

bump minimum torch again
  conda/recipe.yaml
  pyproject.toml
  uv.lock
Due: dprint

revert torch dep bump
  pyproject.toml
Due: dprint

initial nox support for torch variants
  .gitignore
  noxfile.py
  pyproject.toml
  uv.lock
Due: dprint, license-headers

ignore .nox
  pyproject.toml
Due: dprint

abstract model calling + only compile on 2.8
  src/lenskit/flexmf/_explicit.py
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_training.py
Due: license-headers

revert conda min dep
  conda/recipe.yaml
Due: dprint

fix compiled model initialization
  src/lenskit/flexmf/_training.py
Due: license-headers

Remove unused functions
  src/lenskit/data/builder.py
Due: license-headers

Fix remove repeats for multiple added interactions
  src/lenskit/data/builder.py
  tests/data/test_builder_repeat_interactions.py
Due: license-headers

Refactor remove repeat check logic
  src/lenskit/data/builder.py
Due: license-headers
