Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: python
        entry: python utils/update-headers.py --error-on-change --
        types_or:
          - python
          - rust
        additional_dependencies:
          - docopt-ng >=0.9.0
          - unbeheader ~=1.3

fix parallel profiling test
  tests/batch/test_pipeline_profiling.py
Due: license-headers

create a global worker context in the driver process too
  src/lenskit/logging/multiprocess/_monitor.py
  src/lenskit/logging/multiprocess/_worker.py
  src/lenskit/pipeline/_profiling.py
Due: license-headers

route profiler through CLI
  src/lenskit/batch/__init__.py
  src/lenskit/cli/recommend.py
  src/lenskit/operations.py
Due: license-headers

add profile summary CLI
  pyproject.toml
  src/lenskit/cli/profile/__init__.py
  src/lenskit/cli/profile/summarize.py
Due: dprint, license-headers

improve summarization display
  src/lenskit/cli/profile/summarize.py
Due: license-headers

rename _replace to replace & document in alias
  src/lenskit/pipeline/builder.py
Due: license-headers

implement option for Torch random_generator
  src/lenskit/random.py
  src/lenskit/training.py
Due: license-headers

use Torch random_generator in flexmf
  src/lenskit/flexmf/_training.py
Due: license-headers

fix global rng
  src/lenskit/random.py
Due: license-headers

_torch_rng: int
  src/lenskit/random.py
Due: license-headers

fix i32
  src/lenskit/random.py
Due: license-headers

exclude more things from vscode
  .vscode/settings.json
Due: dprint

add tests for Pytorch RNG
  tests/utils/test_random_torch.py
Due: license-headers

comment out more param container bits
  src/lenskit/training.py
Due: license-headers

update user guide for UsesTrainer
  docs/guide/implementing.rst
Due: none

bump version
  Cargo.lock
  Cargo.toml
Due: dprint

make default no-op on ModelTrainer.finalize
  src/lenskit/training.py
Due: license-headers

comment out checkpoint docs
  src/lenskit/training.py
Due: license-headers

specify RNG in pipeline training
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

relax ranking scale
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

decrease implicit MF weight in stochastic ranker
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

RNG seeds
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

fix stochastic config
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

longer lists to improve overlap
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

update LensKit URL
  docs/conf.py
Due: license-headers

LightGCN configuration
  pipelines/lightgcn-search.toml
  pipelines/lightgcn.toml
  src/lenskit/graphs/lightgcn.py
Due: dprint, license-headers

fix lightgcn tune
  pipelines/lightgcn-search.toml
Due: dprint

LightGCN
  pipelines/lightgcn.toml
Due: dprint

reduce LightGCN sizes
  pipelines/lightgcn-search.toml
  src/lenskit/graphs/lightgcn.py
Due: dprint, license-headers

add the total_items method to ILC
  src/lenskit/data/collection/_base.py
Due: license-headers

2025.4 release notes
  docs/releases/2025.rst
Due: none

Rename rank metric `k` arguments to `n` (#888)
  src/lenskit/metrics/ranking/_base.py
  src/lenskit/metrics/ranking/_dcg.py
  src/lenskit/metrics/ranking/_gini.py
  src/lenskit/metrics/ranking/_hit.py
  src/lenskit/metrics/ranking/_map.py
  src/lenskit/metrics/ranking/_pop.py
  src/lenskit/metrics/ranking/_pr.py
  src/lenskit/metrics/ranking/_rbp.py
  src/lenskit/metrics/ranking/_recip.py
  src/lenskit/metrics/reranking/_lip.py
  src/lenskit/metrics/reranking/_rbo.py
  tests/eval/test_lip.py
  tests/eval/test_rbo.py
Due: license-headers

change parameter name in metric tests
  docs/guide/documenting.rst
  src/lenskit/tuning/_measure.py
  tests/eval/test_bulk_metrics.py
  tests/eval/test_rank_dcg.py
  tests/eval/test_rank_hit.py
  tests/eval/test_rank_map.py
  tests/eval/test_rank_mrr.py
  tests/eval/test_rank_ndcg.py
  tests/eval/test_rank_popularity.py
  tests/eval/test_rank_precision.py
  tests/eval/test_rank_recall.py
Due: license-headers

ad test for deprecated prefix
  tests/eval/test_rank_ndcg.py
Due: license-headers

fix duplicate metric test
  tests/eval/test_bulk_metrics.py
Due: license-headers

add `matrix_column_entropy`
  src/lenskit/metrics/ranking/_entropy.py
  tests/eval/test_entropy.py
Due: license-headers

fix stray K references
  src/lenskit/metrics/ranking/_base.py
Due: license-headers

fix uv python version
  .github/workflows/conda.yml
Due: dprint

rename MetricAccumulator to MeasurementCollector
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/bulk.py
  tests/eval/test_metric_accumulator.py
Due: license-headers

rename module _accum -> _collect
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/_collect.py
  src/lenskit/metrics/bulk.py
  tests/eval/test_metric_accumulator.py
Due: license-headers
