Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

add ILC string/repr (#874)
  src/lenskit/data/collection/_base.py
  src/lenskit/data/collection/_list.py
Due: license-headers

fix integer seed spawns
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

UV compat in both tests
  tests/data/test_data_compat.py
Due: license-headers

reduce repeated log outputs
  conftest.py
  src/lenskit/cli/__init__.py
Due: license-headers

improve stochasticity test logging
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

use fresh seed sequence for stochastic ranker test
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

fix Python versions for compatibility tests
  tests/data/test_data_compat.py
Due: license-headers

increase retries on scale test
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

fix total update
  src/lenskit/tuning/_reporting.py
Due: license-headers

include total in base progress bar
  src/lenskit/logging/progress/_base.py
Due: license-headers

add a fresh_rng fixture for tests
  conftest.py
Due: license-headers

require usage CLI
  mise/config.toml
Due: dprint

implement working shell-script CLI tests
  mise/task-functions.sh
  tests/cli/.gitignore
  tests/cli/count-tests.pl
  tests/cli/run-test.sh
  tests/cli/run.sh
  tests/cli/test-data-convert.sh
  tests/cli/test-doctor.sh
Due: none

CLI test refactor + training test
  tests/cli/count-tests.pl
  tests/cli/harness.sh
  tests/cli/run.sh
  tests/cli/test-data-convert.sh
  tests/cli/test-doctor.sh
  tests/cli/test-train-verify.py
  tests/cli/test-train.sh
Due: license-headers

remove obsolete python tests
  tests/cli/test_data_convert.py
  tests/cli/test_doctor.py
  tests/cli/test_train.py
Due: license-headers

enable skippable tesats
  tests/cli/harness.sh
  tests/cli/test-tune.sh
Due: none

update tune test to work!
  tests/cli/test-tune.sh
Due: none

use ML100K for tuning test
  tests/cli/test-tune.sh
Due: none

add iterative test
  tests/cli/test-tune.sh
Due: none

fix harness suite
  tests/cli/harness.sh
  tests/cli/test_tune.py
Due: license-headers

ytt in editorconfig
  .editorconfig
Due: none

add CLI tests to automatic test suite
  .github/workflows/test.yml
Due: dprint

fix verify train
  tests/cli/test-train.sh
  tests/cli/verify-train.py
Due: license-headers

fix CLI test running in CI
  .github/workflows/test.yml
  mise/tasks/test-cli.sh
Due: dprint

inline the verify script
  tests/cli/test-train.sh
  tests/cli/verify-train.py
Due: license-headers

fix shell invocation for CLI tests
  .github/workflows/test.yml
Due: dprint

rename tmp dir
  tests/cli/run.sh
Due: none

skip taps that are empty
  tests/cli/run.sh
Due: none

add windows test command
  .github/workflows/test.yml
  mise/tasks/test-cli.cmd
Due: dprint

install deps
  .github/workflows/test.yml
Due: dprint

add tests
  src/lenskit/data/attributes.py
  src/lenskit/data/matrix.py
  src/lenskit/data/vocab.py
  tests/data/test_attribute_set.py
  tests/data/test_matrix.py
Due: license-headers

resolve lint failure
  tests/data/test_attribute_set.py
Due: license-headers

import line reformatted after merge w/ main
  src/lenskit/data/attributes.py
Due: license-headers

remove duplicated subclass
  src/lenskit/data/attributes.py
Due: license-headers

skip CLI tests on windows
  .github/workflows/test.yml
Due: dprint

update tests
  src/lenskit/data/matrix.py
  tests/data/test_matrix.py
Due: license-headers

add missing methods in `ScalarAttributeSet`
  src/lenskit/data/attributes.py
Due: license-headers

switch to 2D sparse slices
  tests/data/test_matrix.py
Due: license-headers

fix 2D sparse slicing
  tests/data/test_matrix.py
Due: license-headers

minor fix on 2D slicing
  tests/data/test_matrix.py
Due: license-headers
