Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-toml-files, format-yaml-files

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: format-toml-files
        name: format-toml
        entry: taplo
        args: ["format"]
        files: \.toml$
        language: node
        additional_dependencies:
          - "@taplo/cli"
      - id: format-yaml-files
        name: format-yaml
        files: \.ya?ml$
        exclude: conda-lock.yml
        entry: prettier
        args: [-w]
        language: node
        additional_dependencies:
          - prettier

remove Python debug check
  .pre-commit-config.yaml
Due: format-yaml-files

update names
  .pre-commit-config.yaml
Due: format-yaml-files

add recommended extensions file
  .vscode/extensions.json
Due: none

remove mypy
  pyproject.toml
Due: format-toml-files

add pyright and pre-commit to dev requirements
  requirements-dev.txt
Due: none

Refactor lint and add pre-commit check
  .github/workflows/check-sources.yml
Due: format-yaml-files

update pre-commit error output
  .github/workflows/check-sources.yml
Due: format-yaml-files

include git-diff in output
  .github/workflows/check-sources.yml
Due: format-yaml-files

rename workflows
  .github/workflows/check-sources.yml
  .github/workflows/package.yml
  .github/workflows/test.yml
  utils/render-test-workflow.py
Due: format-yaml-files

switch to yamlfmt for yaml formatting
  .pre-commit-config.yaml
  .yamlfmt
Due: format-yaml-files

update yamlfmt
  .pre-commit-config.yaml
Due: format-yaml-files

use external repo for taplo
  .pre-commit-config.yaml
Due: format-yaml-files

mark version for Taplo hook
  .pre-commit-config.yaml
Due: format-yaml-files

bump taplo version
  .pre-commit-config.yaml
Due: format-yaml-files

remove prettier config
  .prettierrc.yaml
Due: format-yaml-files

fix log message when there are no neighbors for a user
  lenskit/lenskit/algorithms/knn/user.py
Due: none

switch branches to avoid tripping pre-commit check
  .github/workflows/check-sources.yml
Due: format-yaml-files

upper bound numpy dep since we haven't tested numpy 2
  lenskit/pyproject.toml
Due: format-toml-files

small doc typo
  lenskit/lenskit/data/dataset.py
Due: none

Initial documentation for a dataset class
  docs/conf.py
  docs/data.rst
  docs/index.rst
  docs/util.rst
  lenskit/lenskit/data/__init__.py
  lenskit/lenskit/data/dataset.py
  lenskit/lenskit/data/tables.py
Due: none

Add TODO notes on data
  lenskit/lenskit/data/dataset.py
Due: none

improve data loading
  docs/data.rst
Due: none

add pyprojroot test dep
  requirements-test.txt
Due: none

start roughing in matrix helper
  lenskit/lenskit/data/matrix.py
Due: none

import ratings and start working on tests
  lenskit/lenskit/data/__init__.py
  lenskit/lenskit/data/dataset.py
  lenskit/tests/test_dataset.py
Due: none

add item number tests
  lenskit/lenskit/data/dataset.py
  lenskit/tests/test_dataset.py
Due: none

add list[int] as allowed type for id lookup
  lenskit/lenskit/data/dataset.py
Due: none

smoke-tested dataset import
  lenskit/lenskit/data/dataset.py
  lenskit/lenskit/data/matrix.py
Due: none

exercise more lookup code paths
  lenskit/lenskit/data/dataset.py
  lenskit/tests/test_dataset.py
Due: none

update intersphinx URLs
  docs/conf.py
Due: none

add version switcher
  docs/conf.py
Due: none

small doc conf fix
  docs/conf.py
Due: none

move conda utils into lkbuild
  docs/environment.yml
  justfile
  lkbuild/conda.py
  pyproject.toml
Due: format-toml-files, format-yaml-files

move workflow support into build package
  justfile
  lkbuild/__init__.py
  lkbuild/ghactions.py
  lkbuild/workflows/__init__.py
  lkbuild/workflows/test.py
Due: none

use new lkbuild conda for workflow updates
  .github/workflows/test.yml
  lkbuild/workflows/test.py
Due: format-yaml-files

rename lkbuild to lkdev
  README.md
  codecov.yml
  justfile
  lenskit/README.md
  lkdev/__init__.py
  lkdev/conda.py
  lkdev/ghactions.py
  lkdev/workflows/__init__.py
  lkdev/workflows/test.py
  pyproject.toml
Due: format-toml-files, format-yaml-files

tryu to fix pipx run
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

pip install for test workflow
  .github/workflows/test.yml
  README.md
  lkdev/workflows/test.py
Due: format-yaml-files

ignore .uv/
  .gitignore
Due: none

rename job functions
  lkdev/workflows/test.py
Due: none
