Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-toml-files, format-yaml-files

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: format-toml-files
        name: format-toml
        entry: taplo
        args: ["format"]
        files: \.toml$
        language: node
        additional_dependencies:
          - "@taplo/cli"
      - id: format-yaml-files
        name: format-yaml
        files: \.ya?ml$
        exclude: conda-lock.yml
        entry: prettier
        args: [-w]
        language: node
        additional_dependencies:
          - prettier

revert user_profile to user_row & drop HasItemList
  lenskit/lenskit/data/__init__.py
  lenskit/lenskit/data/dataset.py
  lenskit/lenskit/data/items.py
  lenskit/lenskit/data/user.py
  lenskit/lenskit/splitting/users.py
  lenskit/tests/data/test_dataset_matrix.py
  lenskit/tests/data/test_itemlist.py
  lenskit/tests/splitting/test_split_holdout.py
  lenskit/tests/splitting/test_split_users.py
Due: none

remove the UserProfile class
  docs/api/data.rst
  lenskit/lenskit/data/__init__.py
  lenskit/lenskit/data/user.py
  lenskit/tests/data/test_user_profile.py
Due: none

move sparse utilities to lenskit.math.sparse
  lenskit/lenskit/algorithms/knn/item.py
  lenskit/lenskit/algorithms/knn/user.py
  lenskit/lenskit/data/matrix.py
  lenskit/lenskit/math/sparse.py
  lenskit/lenskit/util/test.py
  lenskit/tests/utils/test_matrix.py
  lenskit/tests/utils/test_matrix_rows.py
Due: none

move dataset impls & data types
  docs/guide/data.rst
  lenskit/lenskit/data/__init__.py
  lenskit/lenskit/data/dataset.py
  lenskit/lenskit/data/items.py
  lenskit/lenskit/data/lazy.py
  lenskit/lenskit/data/matrix.py
  lenskit/lenskit/data/types.py
  lenskit/lenskit/splitting/holdout.py
  lenskit/lenskit/splitting/records.py
  lenskit/lenskit/splitting/split.py
  lenskit/lenskit/splitting/users.py
  lenskit/lenskit/types.py
  lenskit/lenskit/util/test.py
  lenskit/tests/data/test_dataset_lazy.py
Due: none

move convert into new module
  lenskit-funksvd/lenskit/funksvd.py
  lenskit-funksvd/tests/test_funksvd.py
  lenskit-hpf/lenskit/hpf.py
  lenskit-hpf/tests/test_hpf.py
  lenskit-implicit/lenskit/implicit.py
  lenskit-implicit/tests/test_implicit.py
  lenskit/lenskit/algorithms/__init__.py
  lenskit/lenskit/algorithms/als/explicit.py
  lenskit/lenskit/algorithms/als/implicit.py
  lenskit/lenskit/algorithms/basic.py
  lenskit/lenskit/algorithms/knn/item.py
  lenskit/lenskit/algorithms/knn/user.py
  lenskit/lenskit/algorithms/ranking.py
  lenskit/lenskit/algorithms/svd.py
  lenskit/lenskit/data/__init__.py
  lenskit/lenskit/data/convert.py
  lenskit/lenskit/data/dataset.py
  lenskit/lenskit/data/movielens.py
  lenskit/lenskit/pipeline/components.py
  lenskit/tests/algorithms/test_als_explicit.py
  lenskit/tests/algorithms/test_als_implicit.py
  lenskit/tests/algorithms/test_bias.py
  lenskit/tests/algorithms/test_candidate_selector.py
  lenskit/tests/algorithms/test_fallback.py
  lenskit/tests/algorithms/test_knn_user_user.py
  lenskit/tests/algorithms/test_svd.py
  lenskit/tests/algorithms/test_util_algos.py
  lenskit/tests/batch/test_batch_predict.py
  lenskit/tests/batch/test_batch_recommend.py
  lenskit/tests/data/test_dataset_matrix.py
  lenskit/tests/data/test_itemlist.py
  lenskit/tests/eval/test_predict_metrics.py
  lenskit/tests/eval/test_topn_analysis.py
  lenskit/tests/eval/test_topn_recs.py
  lenskit/tests/movielens/test_ml20m.py
  lenskit/tests/pipeline/test_types.py
  lenskit/tests/splitting/test_split_holdout.py
  lenskit/tests/splitting/test_split_records.py
  lenskit/tests/splitting/test_split_users.py
Due: none

Notes added by 'git notes add'
  2f/5b8d195e6593a743c8f02fb4c6306ddf915b03
Due: none

allow numpy2
  lenskit/pyproject.toml
Due: format-toml-files

repalce float_ with float32
  lenskit-funksvd/lenskit/funksvd.py
  lenskit-implicit/tests/test_implicit.py
  lenskit/tests/algorithms/test_als_implicit.py
Due: none

switch funksvd back to doubles
  lenskit-funksvd/lenskit/funksvd.py
Due: none

use float64 for ratings in funksvd
  lenskit-funksvd/lenskit/funksvd.py
Due: none

bump to git manylog
  lenskit/pyproject.toml
Due: format-toml-files

fix manylog version?
  lenskit/pyproject.toml
Due: format-toml-files

Notes added by 'git notes add'
  d2/a5cee045d3a0f3cd6c77d27898740be03c51cf
Due: none

update lenskit.bib
  docs/lenskit.bib
Due: none

initial import of Karls' refactors from CCRI-POPROX
  lenskit/lenskit/pipeline/__init__.py
  lenskit/lenskit/pipeline/common.py
  lenskit/lenskit/pipeline/components.py
  lenskit/lenskit/pipeline/nodes.py
  lenskit/lenskit/pipeline/runner.py
  lenskit/lenskit/pipeline/state.py
  lenskit/tests/pipeline/test_component_config.py
  lenskit/tests/pipeline/test_pipeline.py
  lenskit/tests/pipeline/test_pipeline_state.py
Due: none

re-add missing headers
  lenskit/lenskit/data/lazy.py
  lenskit/lenskit/data/types.py
  lenskit/lenskit/pipeline/common.py
  lenskit/lenskit/pipeline/config.py
  lenskit/lenskit/pipeline/state.py
  lenskit/tests/pipeline/test_component_config.py
  lenskit/tests/pipeline/test_config_node.py
  lenskit/tests/pipeline/test_pipeline_state.py
  lenskit/tests/pipeline/test_save_load.py
Due: none

split training tests into separate file
  lenskit/tests/pipeline/test_pipeline.py
  lenskit/tests/pipeline/test_train.py
Due: none

Fix requirements-full-dev.txt
  README.md
  requirements-full-dev.txt
Due: none

import current CCRI-POPROX pipeline code
  lenskit/lenskit/pipeline/__init__.py
  lenskit/lenskit/pipeline/components.py
  lenskit/lenskit/pipeline/config.py
  lenskit/lenskit/pipeline/nodes.py
  lenskit/lenskit/pipeline/runner.py
  lenskit/tests/pipeline/test_component_config.py
  lenskit/tests/pipeline/test_pipeline_clone.py
  lenskit/tests/pipeline/test_save_load.py
  lenskit/tests/pipeline/test_train.py
Due: none

list all files
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

rename files to include them
  .github/workflows/test.yml
  lkdev/workflows/test.py
  utils/fix-coverage-paths.py
Due: format-yaml-files

reorder coverage cleanup tasks
  .github/workflows/test.yml
  lkdev/workflows/test.py
  utils/coverage-path-fixup.sql
  utils/fix-coverage-paths.py
Due: format-yaml-files

fix sqlite invocation
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

add sqlite conda package to test reqs
  requirements-test.txt
Due: none

don't fail post-test workflow [skip ci]
  .github/workflows/post-test-results.yml
Due: format-yaml-files

Notes added by 'git notes add'
  3d/c84b79b8bd863525a4556534eccc01f3f0b08d
Due: none

draft using pixi
  .gitattributes
  .gitignore
  .vscode/settings.json
  pixi.toml
  pyproject.toml
  requirements-dev.txt
  requirements-doc.txt
  requirements-test.txt
Due: format-toml-files

rename environments
  pixi.toml
Due: format-toml-files

simplify solve groups
  pixi.toml
Due: format-toml-files

working pixi.toml dependencies
  pixi.toml
Due: format-toml-files

ignore .pixi in pyright
  pyproject.toml
Due: format-toml-files

use pixi for CI builds
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

fix pythons
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

use dependencies in eval & doc tests
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

-core instead of -full
  lkdev/workflows/test.py
Due: none

rerun with fixed conda versions
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

use non-core when debugging a package
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

fix options.packages test
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

reduce # of solve groups
  pixi.toml
Due: format-toml-files

fix check again
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files
