Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: python
        entry: python utils/update-headers.py --error-on-change --
        types_or:
          - python
          - rust
        additional_dependencies:
          - docopt-ng >=0.9.0
          - unbeheader ~=1.3

import changes from conda-forge
  conda/recipe.yaml
Due: dprint

fix funksvd python dep
  conda/recipe.yaml
Due: dprint

unlimit funksvd
  conda/recipe.yaml
Due: dprint

remove stdlib("C") since it doesn't work independently
  conda/recipe.yaml
Due: dprint

add tests for repr
  tests/data/test_itemlist.py
Due: license-headers

stabilize number/id output (#873)
  src/lenskit/data/items.py
Due: license-headers

stabilize sort order of itemlist repr
  src/lenskit/data/items.py
Due: license-headers

add missing newline in dataset repr
  src/lenskit/data/dataset.py
Due: license-headers

fix lazy rank in item list outptu
  src/lenskit/data/items.py
Due: license-headers

fallback on Torch Dynamo fail in inductor
  src/lenskit/flexmf/_training.py
Due: license-headers

bump LK base version
  Cargo.lock
  Cargo.toml
Due: dprint

fix docs for lazy output
  docs/guide/flexmf.rst
Due: none

field count
  docs/guide/flexmf.rst
Due: none

release notes
  docs/releases/2025.rst
Due: none

support missing values in attributes on matrix relationship sets
  src/lenskit/data/relationships.py
  tests/basic/test_bias.py
  tests/data/test_dataset_matrix.py
Due: license-headers

handle missing values for explicit ALS new user
  src/lenskit/als/_explicit.py
Due: license-headers

add release notes
  docs/releases/2025.rst
Due: none

FAIR reranker: minor fixes and refinement
  src/lenskit/pipeline/common.py
  src/lenskit/reranking/__init__.py
  src/lenskit/reranking/fair.py
  tests/reranking/test_fair_reranker.py
Due: license-headers

change ALS mixin order
  src/lenskit/als/_common.py
Due: license-headers

mise settings
  .gitignore
  .vscode/settings.json
Due: dprint

properly override embedding size
  src/lenskit/config/common.py
  tests/models/test_als_implicit.py
Due: license-headers

use pipeline replacer to merge config
  src/lenskit/tuning/_iterative.py
Due: license-headers

use merge for simple tune
  src/lenskit/tuning/_simple.py
Due: license-headers

add some dodgy debugging
  src/accel/als/implicit.rs
Due: rustfmt, license-headers

just a log
  src/accel/als/implicit.rs
Due: rustfmt, license-headers

delete duplicate bib file addition
  docs/conf.py
Due: license-headers

add bibliography update task
  mise/tasks/update-bib.sh
Due: none

use bibliography reference for RBO
  docs/lenskit.bib
  src/lenskit/metrics/reranking/_rbo.py
Due: license-headers

Mark RBO & LIP as experimental
  src/lenskit/metrics/reranking/_lip.py
  src/lenskit/metrics/reranking/_rbo.py
Due: license-headers

update release notes
  docs/releases/2025.rst
Due: none

Fix ALS epoch reporting
  src/lenskit/als/_common.py
Due: license-headers

bump LK version
  Cargo.lock
  Cargo.toml
Due: dprint

entropy and rank biased entropy
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/ranking/__init__.py
  src/lenskit/metrics/ranking/_entropy.py
  tests/eval/test_entropy.py
Due: license-headers

add Arrow format to matrix structure
  src/lenskit/data/relationships.py
  tests/data/test_dataset_matrix.py
Due: license-headers

add structure() method to SpareRowArray to extract structure-only CSR
  src/lenskit/data/matrix.py
  tests/data/test_arrow_sparse.py
Due: license-headers

add to_coo to SparseRowArray
  src/lenskit/data/matrix.py
  tests/data/test_arrow_sparse.py
Due: license-headers

clean up excess test
  tests/data/test_arrow_sparse.py
Due: license-headers

add test for offset properties
  tests/data/test_arrow_sparse.py
Due: license-headers

add non-working transpose file
  src/accel/data/mod.rs
  src/accel/data/transpose.rs
Due: rustfmt, license-headers

add test for matrix transpose
  src/lenskit/_accel/data.pyi
  src/lenskit/data/matrix.py
  tests/data/test_arrow_sparse.py
Due: license-headers
