Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

data: fix updated lint errors
  src/lenskit/data/__init__.py
  src/lenskit/data/_adapt.py
  src/lenskit/data/_arrow.py
  src/lenskit/data/_attributes.py
  src/lenskit/data/_builder.py
  src/lenskit/data/_collection/__init__.py
  src/lenskit/data/_collection/_base.py
  src/lenskit/data/_collection/_keys.py
  src/lenskit/data/_collection/_list.py
  src/lenskit/data/_container.py
  src/lenskit/data/_dataset.py
  src/lenskit/data/_entities.py
  src/lenskit/data/_items.py
  src/lenskit/data/_mtarray.py
  src/lenskit/data/_relationships.py
  src/lenskit/data/_summary.py
  src/lenskit/data/_vocab.py
  src/lenskit/data/matrix.py
  src/lenskit/data/repr.py
  src/lenskit/data/schema.py
  src/lenskit/data/sources/movielens.py
  src/lenskit/data/types.py
Due: license-headers

lightgcn: fix updated lint errors
  src/lenskit/graphs/__init__.pyi
  src/lenskit/graphs/lightgcn.py
Due: license-headers

parallel: fix updated lint errors
  src/lenskit/parallel/__init__.py
  src/lenskit/parallel/_task.py
  src/lenskit/parallel/config.py
Due: license-headers

knn: fix updated lint errors
  src/lenskit/knn/__init__.pyi
  src/lenskit/knn/ease.py
  src/lenskit/knn/item.py
  src/lenskit/knn/user.py
Due: license-headers

config: fix updated lint errors
  src/lenskit/config/__init__.py
Due: license-headers

als: fix updated lint errors
  src/lenskit/als/__init__.py
  src/lenskit/als/_common.py
  src/lenskit/als/_explicit.py
  src/lenskit/als/_implicit.py
Due: license-headers

flexmf: fix updated lint errors
  src/lenskit/flexmf/__init__.py
  src/lenskit/flexmf/_explicit.py
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_training.py
Due: license-headers

pipeline: fix updated lint errors
  src/lenskit/pipeline/__init__.py
  src/lenskit/pipeline/_builder.py
  src/lenskit/pipeline/_diagram.py
  src/lenskit/pipeline/_hooks/__init__.py
  src/lenskit/pipeline/_impl.py
  src/lenskit/pipeline/_runner.py
  src/lenskit/pipeline/_state.py
  src/lenskit/pipeline/_types.py
  src/lenskit/pipeline/components.py
  src/lenskit/pipeline/config.py
Due: license-headers

data: fix ListILC.from_df with columns
  src/lenskit/data/_collection/_list.py
Due: license-headers

build: fix lint headers in utils + configs
  codebook.toml
  conftest.py
  docs/_ext/lk_stability.py
  docs/conf.py
  utils/update-headers.py
Due: dprint, license-headers

testing: fix updated lint errors
  src/lenskit/testing/__init__.py
  src/lenskit/testing/_arrays.py
  src/lenskit/testing/_components.py
  src/lenskit/testing/_movielens.py
Due: license-headers

accel: fix updated lint error
  src/lenskit/_accel/data.pyi
Due: none

build: fix outstanding lint errors
  src/lenskit/diagnostics.py
  src/lenskit/tuning/_ray/reporting.py
Due: license-headers

util: fix updated lint errors
  src/lenskit/diagnostics.py
  src/lenskit/lazy.py
  src/lenskit/random.py
  src/lenskit/training.py
  src/lenskit/util/__init__.py
Due: license-headers

build: ignore more warnings in tests
  pyproject.toml
Due: dprint

train: fix missing TrainingOptions default
  src/lenskit/knn/association.py
  src/lenskit/knn/slim.py
  src/lenskit/reranking/fair.py
  src/lenskit/sklearn/nmf.py
  src/lenskit/sklearn/svd.py
Due: license-headers

splitting: fix incorrect lint fix
  tests/splitting/test_split_users.py
Due: license-headers

other: fix updated lint errors
  src/lenskit/funksvd.py
  src/lenskit/hpf.py
  src/lenskit/implicit.py
Due: license-headers

pipeline: update input type set for 3.12 types
  src/lenskit/pipeline/_types.py
  src/lenskit/pipeline/nodes.py
Due: license-headers

util: fix the RNG isinstance check
  src/lenskit/random.py
Due: license-headers

tests: fix updated ruff errors
  tests/basic/test_bias.py
  tests/basic/test_candidates.py
  tests/basic/test_time_bounded_popular.py
  tests/batch/test_batch_pipeline.py
  tests/data/test_builder_filter.py
  tests/data/test_collection.py
  tests/data/test_dataset_ids.py
  tests/data/test_dataset_info.py
  tests/data/test_dataset_lazy.py
  tests/data/test_dataset_log.py
  tests/data/test_dataset_matrix.py
  tests/data/test_dataset_stats.py
  tests/data/test_vocab.py
  tests/eval/test_bulk_metrics.py
  tests/eval/test_measurement_collector.py
  tests/eval/test_predict_metrics.py
  tests/eval/test_rank_hit.py
  tests/eval/test_rank_mrr.py
  tests/eval/test_rank_popularity.py
  tests/eval/test_rank_precision.py
  tests/eval/test_rank_rbp.py
  tests/eval/test_rank_recall.py
  tests/models/test_als_explicit.py
  tests/models/test_als_implicit.py
  tests/models/test_knn_item_item.py
  tests/parallel/test_ray_utils.py
  tests/pipeline/test_component_config.py
  tests/pipeline/test_component_input_hook.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_save_load.py
  tests/pipeline/test_train.py
  tests/pipeline/test_types_check_data.py
  tests/splitting/test_split_records.py
  tests/splitting/test_split_users.py
  tests/stochastic/test_stochastic_ranker.py
  tests/utils/test_math_spmv.py
  tests/utils/test_random_torch.py
Due: license-headers

tuning: fix updated lint errors
  src/lenskit/tuning/__init__.pyi
  src/lenskit/tuning/_optuna/__init__.py
  src/lenskit/tuning/_optuna/search.py
  src/lenskit/tuning/_ray/reporting.py
  src/lenskit/tuning/_ray/search.py
  src/lenskit/tuning/_stopping.py
Due: license-headers

docs: update release notes with #1161
  docs/releases/2026.rst
Due: none

build: update hk
  mise/mise.lock
Due: none

accel: add clippy to rust-toolchain.toml
  rust-toolchain.toml
Due: dprint

accel: fix Clippy lints
  src/accel/als/explicit.rs
  src/accel/als/implicit.rs
  src/accel/als/solve.rs
  src/accel/arrow/lists.rs
  src/accel/arrow/mod.rs
  src/accel/arrow/types/index_list.rs
  src/accel/arrow/types/row.rs
  src/accel/data/cooc.rs
  src/accel/data/coordinates.rs
  src/accel/data/index.rs
  src/accel/data/mod.rs
  src/accel/data/pairs/dense.rs
  src/accel/data/pairs/symmetric.rs
  src/accel/data/sampling.rs
  src/accel/data/scatter.rs
  src/accel/data/sorting.rs
  src/accel/data/transpose.rs
  src/accel/indirect/hashing/table.rs
  src/accel/indirect/heap.rs
  src/accel/knn/accum.rs
  src/accel/knn/item_score.rs
  src/accel/knn/item_train.rs
  src/accel/knn/user_score.rs
  src/accel/slim/mod.rs
  src/accel/sparse/csr.rs
  src/accel/tasks/mod.rs
Due: rustfmt, license-headers

build: turn on clippy lint in hk
  hk.pkl
Due: none

accel: update MSRV for .flatten()
  Cargo.toml
Due: dprint

data: add test to reproduce #1164
  tests/data/test_collection.py
Due: license-headers

data: cast item lists to common type in to_arrow (#1164)
  src/lenskit/data/_collection/_base.py
Due: license-headers

docs: update release notes
  docs/releases/2026.rst
Due: none

logging: add batch warning collection facility
  src/lenskit/logging/__init__.py
  src/lenskit/logging/_config.py
  src/lenskit/logging/_warnings.py
Due: license-headers

knn: mark item-item warning as collectible
  src/lenskit/knn/item.py
Due: license-headers

batch: enable warning collection in the batch runner
  src/lenskit/batch/_runner.py
Due: license-headers

knn: batch user-user warnings
  src/lenskit/knn/user.py
Due: license-headers

slim: batch history warnings
  src/lenskit/knn/slim.py
Due: license-headers

logging: fix warning structlog handler
  src/lenskit/logging/_warnings.py
Due: license-headers

docs: add #1168 to release notes
  docs/releases/2026.rst
Due: none

metrics: make TestItemCount extend ListMetric to work correctly
  src/lenskit/metrics/basic.py
  tests/eval/test_bulk_metrics.py
Due: license-headers

metrics: add UniqueItemCount metric and tests
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/basic.py
  tests/eval/test_bulk_metrics.py
  tests/eval/test_counts.py
Due: license-headers
