Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

add training environment variables
  src/lenskit/training.py
Due: license-headers

add PyTorch matrix factorization
  src/lenskit/knn/ease.py
Due: license-headers

fix type error
  src/lenskit/knn/ease.py
Due: license-headers

list trick for memory move
  src/lenskit/knn/ease.py
Due: license-headers

defer scipy check to only using scipy solver
  src/lenskit/knn/ease.py
  tests/knn/test_ease.py
Due: license-headers

simplify max-points configuration
  src/lenskit/cli/tune.py
  src/lenskit/tuning/_search.py
  src/lenskit/tuning/spec.py
Due: license-headers

fix best pipeline
  src/lenskit/tuning/_search.py
Due: license-headers

add max search points to lenskit config
  src/lenskit/config/__init__.py
Due: license-headers

fix tuning logging
  src/lenskit/tuning/_search.py
Due: license-headers

Backport merge of #1012 (EASE scorer) to 2025 release
  docs/guide/scorers.rst
  docs/lenskit.bib
  pyproject.toml
  src/accel/data/cooc.rs
  src/accel/data/mod.rs
  src/accel/data/pairs/asymmetric.rs
  src/accel/data/pairs/dense.rs
  src/accel/data/pairs/mod.rs
  src/accel/data/pairs/symmetric.rs
  src/accel/progress.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/matrix.py
  src/lenskit/data/relationships.py
  src/lenskit/knn/__init__.py
  src/lenskit/knn/__init__.pyi
  src/lenskit/knn/ease.py
  src/lenskit/training.py
  tests/data/test_dataset_matrix.py
  tests/data/test_matrix.py
  tests/knn/test_ease.py
  uv.lock
Due: rustfmt, dprint, license-headers

Backport #1014 merge to 2025 release series.
  src/lenskit/cli/tune.py
  src/lenskit/config/__init__.py
  src/lenskit/tuning/_search.py
  src/lenskit/tuning/spec.py
Due: license-headers

bump upcoming version for feature release
  Cargo.lock
  Cargo.toml
Due: dprint

add 2025.7.0 release notes
  docs/releases/2025.rst
Due: none

update PR numbers for EASE.
  docs/releases/2025.rst
Due: none

implement auto-fallback for EASE
  src/lenskit/knn/ease.py
Due: license-headers

put Torch in inference mode for solving
  src/lenskit/knn/ease.py
Due: license-headers

add logging + fix Torch output parameter
  src/lenskit/knn/ease.py
Due: license-headers

refactor memory fallback
  src/lenskit/knn/ease.py
Due: license-headers

popping doesn't work with fallback
  src/lenskit/knn/ease.py
Due: license-headers

Merge pull request #1016 from mdekstrand/feature/ease-auto-switch
  src/lenskit/knn/ease.py
Due: license-headers

training: add test for TrainingOptions.envvar
  tests/training/test_training_options.py
Due: license-headers

training: fix TrainingOptions.envvar return value
  src/lenskit/training.py
Due: license-headers

Merge pull request #1018 from mdekstrand/fix/training-env
  src/lenskit/training.py
  tests/training/test_training_options.py
Due: license-headers

data: use fast_col_cooc for co_occurrences
  src/lenskit/data/matrix.py
  src/lenskit/data/relationships.py
Due: license-headers

knn/ease: drop filtering and use co_occurrences for EASE
  src/lenskit/knn/ease.py
Due: license-headers

data: fix COOC tests
  tests/data/test_matrix.py
Due: license-headers

Merge pull request #1017 from mdekstrand/fix/ease-no-trim
  src/lenskit/data/matrix.py
  src/lenskit/data/relationships.py
  src/lenskit/knn/ease.py
  tests/data/test_matrix.py
Due: license-headers

clean up 2025 release notes
  docs/releases/2025.rst
Due: none

update 2025 release notes (#971)
  docs/releases/2025.rst
Due: none

document training options configuration
  docs/guide/implementing.rst
  docs/releases/2026.rst
Due: none

update api docs for training
  src/lenskit/training.py
Due: license-headers

update split documentation for dataset
  src/lenskit/splitting/records.py
  src/lenskit/splitting/users.py
Due: license-headers

switch up environment
  .github/workflows/conda.yml
Due: dprint

publish pre-releases to Prefix
  .github/workflows/conda.yml
Due: dprint

change workflow name
  .github/workflows/conda.yml
Due: dprint

set version to Beta 1
  Cargo.lock
  Cargo.toml
Due: dprint

fix release branch
  .github/workflows/conda.yml
Due: dprint

drop macOS Intel builds
  .github/workflows/package.yml
  docs/releases/2026.rst
Due: dprint

disable conda upload for PR
  .github/workflows/conda.yml
Due: dprint
