Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: python
  entry: python utils/update-headers.py --error-on-change --
  additional_dependencies:
  - docopt-ng >=0.9.0
  - unbeheader ~=1.3

mass refactor arrow types
  src/accel/arrow/mod.rs
  src/accel/arrow/types/index.rs
  src/accel/arrow/types/index_list.rs
  src/accel/arrow/types/mod.rs
  src/accel/arrow/types/row.rs
  src/accel/data/selection.rs
  src/accel/data/sorting.rs
  src/accel/funksvd.rs
  src/accel/knn/item_score.rs
  src/accel/knn/user_score.rs
  src/accel/lib.rs
  src/accel/sparse/csr.rs
  src/accel/sparse/mod.rs
Due: rustfmt, license-headers

support multiple value types
  src/accel/sparse/csr.rs
Due: rustfmt, license-headers

improve error messages
  src/accel/sparse/csr.rs
Due: rustfmt, license-headers

convert CSR structure
  src/accel/data/transpose.rs
  src/accel/sparse/csr.rs
Due: rustfmt, license-headers

implement, debug, and test matrix transpose
  src/accel/data/transpose.rs
  src/accel/sparse/mod.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/matrix.py
  tests/data/test_arrow_sparse.py
Due: rustfmt, license-headers

allow non-`index` column names in CSR types
  src/accel/arrow/types/index_list.rs
  src/accel/arrow/types/row.rs
Due: rustfmt, license-headers

use extension types for CSR row type checks
  src/accel/sparse/csr.rs
Due: rustfmt, license-headers

fix type error message
  src/accel/sparse/csr.rs
Due: rustfmt, license-headers

improve csr debugging
  src/accel/lib.rs
  src/accel/sparse/mod.rs
  src/lenskit/_accel/__init__.pyi
  tests/data/test_arrow_sparse.py
Due: rustfmt, license-headers

add tests for decoding CSR structure in Rust
  src/accel/lib.rs
  src/accel/sparse/mod.rs
  src/lenskit/_accel/__init__.pyi
  tests/data/test_arrow_sparse.py
Due: rustfmt, license-headers

support auto-upgrading to large sparse matrices
  src/accel/arrow/lists.rs
  src/accel/arrow/mod.rs
  src/accel/sparse/csr.rs
Due: rustfmt, license-headers

add Pipeline.component method
  src/lenskit/pipeline/_impl.py
  tests/pipeline/test_pipeline.py
Due: license-headers

use pipelines to test scorers
  src/lenskit/testing/_components.py
Due: license-headers

use consistent pipeline function
  src/lenskit/testing/_components.py
Due: license-headers

enable assertions in testing support
  conftest.py
Due: license-headers

relax scorer equivalency tests
  src/lenskit/testing/_components.py
Due: license-headers

improve item-item internal equivalency
  tests/models/test_knn_item_item.py
Due: license-headers

use i64 CSR in SLIM
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

adjust regularization so slim works
  tests/models/test_slim.py
Due: license-headers

implement SLIM optimizer (untested)
  src/accel/slim/mod.rs
  src/accel/sparse/consumer.rs
  src/lenskit/_accel/__init__.pyi
  src/lenskit/_accel/slim.pyi
Due: rustfmt, license-headers

support retrain
  src/lenskit/knn/slim.py
Due: license-headers

fix slim negatives
  src/lenskit/knn/slim.py
Due: license-headers

add CSR nnz method
  src/lenskit/data/matrix.py
  tests/data/test_arrow_sparse.py
Due: license-headers

start on a SLIM test function
  tests/models/test_slim.py
Due: license-headers

run slim
  tests/models/test_slim.py
Due: license-headers

First draft of a SLIM scorer
  src/lenskit/knn/slim.py
  tests/models/test_slim.py
Due: license-headers

add slim library
  src/accel/lib.rs
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

export SLIM
  src/lenskit/knn/__init__.py
Due: license-headers

add SLIM configuration file
  pipelines/slim.toml
Due: dprint

reduce iteration count in SLIM teests
  tests/models/test_slim.py
Due: license-headers

conditionalize panic fusing
  Cargo.toml
  src/accel/lib.rs
  src/accel/parallel.rs
  src/accel/slim/mod.rs
Due: rustfmt, dprint, license-headers

support fusing ALS
  src/accel/als/explicit.rs
  src/accel/als/implicit.rs
Due: rustfmt, license-headers

fix index out-of-bounds on SLIM
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

use mutable workspace to reduce SLIM compute time
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

simplify and use vectors
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

add topologically-sorted component names
  src/lenskit/pipeline/_impl.py
  tests/pipeline/test_pipeline.py
Due: license-headers

return list from chained names
  src/lenskit/pipeline/_impl.py
  tests/pipeline/test_pipeline.py
Due: license-headers

implement pipeline profiling and wire through runner
  src/lenskit/batch/_runner.py
  src/lenskit/logging/multiprocess/__init__.py
  src/lenskit/logging/multiprocess/_monitor.py
  src/lenskit/logging/multiprocess/_protocol.py
  src/lenskit/logging/multiprocess/_records.py
  src/lenskit/logging/multiprocess/_worker.py
  src/lenskit/pipeline/__init__.py
  src/lenskit/pipeline/_impl.py
  src/lenskit/pipeline/_profiling.py
  src/lenskit/pipeline/runner.py
  tests/pipeline/test_pipeline_profile.py
Due: license-headers

implement plumbing for batch pipeline profiling
  src/lenskit/batch/_runner.py
  src/lenskit/pipeline/__init__.py
  src/lenskit/pipeline/_profiling.py
  tests/batch/test_pipeline_profiling.py
Due: license-headers

failed attempt to introduce monitor quiescence to shut down writers
  src/lenskit/logging/multiprocess/_monitor.py
  src/lenskit/pipeline/_profiling.py
  tests/batch/test_pipeline_profiling.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
