Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: python
        entry: python utils/update-headers.py --error-on-change --
        types_or:
          - python
          - rust
        additional_dependencies:
          - docopt-ng >=0.9.0
          - unbeheader ~=1.3

back to previous setup for cpu/gpu
  pyproject.toml
  uv.lock
Due: dprint

try to clean up but uggh
  pyproject.toml
  uv.lock
Due: dprint

fix up some locking
  pyproject.toml
  uv.lock
Due: dprint

automatically search up for lenskit.toml
  src/lenskit/cli/__init__.py
  src/lenskit/config/__init__.py
Due: license-headers

environment variable
  src/lenskit/cli/__init__.py
Due: license-headers

interrupt circular import
  src/lenskit/logging/tasks.py
Due: license-headers

handle error in version
  src/lenskit/_version.py
Due: license-headers

add `MetricAccumulator`
  src/lenskit/metrics/__init__.py
Due: license-headers

implement review feedback
  src/lenskit/metrics/_base.py
Due: license-headers

add a class `MetricAccumulator`
  src/lenskit/metrics/_accum.py
Due: license-headers

Add support for remove duplicate
  src/lenskit/data/builder.py
  src/lenskit/data/schema.py
Due: license-headers

Update schema import
  tests/data/test_builder_filter.py
  tests/data/test_builder_save.py
Due: license-headers

Update schema import, add build in tests
  tests/data/test_builder_interactions.py
Due: license-headers

added binarize_ratings function in datasetbuilder
  src/lenskit/data/builder.py
Due: license-headers

changes after review
  src/lenskit/data/builder.py
Due: license-headers

added tentative tests
  src/lenskit/data/builder.py
  tests/data/test_builder_binarize.py
Due: license-headers

much better ILC docs
  docs/guide/data/item-lists.rst
  src/lenskit/data/collection/_base.py
  src/lenskit/data/collection/_keys.py
Due: license-headers

return `RunAnalysisResult` object, flatten metrics, & summarize on intermediates
  src/lenskit/metrics/_accum.py
Due: license-headers

remove computation from `measure`
  src/lenskit/metrics/bulk.py
Due: license-headers

add tests for the accumulator
  tests/eval/test_metric_accumulator.py
Due: license-headers

modified tests
  src/lenskit/data/builder.py
  tests/data/test_builder_binarize.py
Due: license-headers

test corrected
  tests/data/test_builder_binarize.py
Due: license-headers

update a function name and update docstring
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/_base.py
Due: license-headers

`TypeError` with abstractclass
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/basic.py
  src/lenskit/metrics/bulk.py
  tests/eval/test_metric_accumulator.py
Due: license-headers

fix test setup syntax
  docs/guide/data/item-lists.rst
Due: none

moved wrapper to _accum.py
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/_base.py
  src/lenskit/metrics/basic.py
  src/lenskit/metrics/bulk.py
  tests/eval/test_metric_accumulator.py
Due: license-headers

update to avoid lint error
  src/lenskit/metrics/basic.py
Due: license-headers

better env vars
  .github/workflows/conda.yml
  justfile
Due: dprint

remove torch constraint
  pyproject.toml
Due: dprint

relock and update dependencies
  uv.lock
Due: none

CPU-only for default testing
  pyproject.toml
  uv.lock
Due: dprint

verbose output for doctor
  conda/recipe.yaml
Due: dprint

test and fix locate_configuration_root
  src/lenskit/config/__init__.py
  tests/config/test_locate.py
Due: license-headers

Add relationshipset to matrixrelationshipset conversion support
  src/lenskit/data/dataset.py
  src/lenskit/data/relationships.py
  tests/data/test_builder_interactions.py
  tests/data/test_builder_repeat_interactions.py
Due: license-headers

add tests for Ray round-trip of datasets
  tests/data/test_ray.py
Due: license-headers

implement explicit serialization for dataset
  src/lenskit/data/dataset.py
Due: license-headers

put sorting into container
  src/lenskit/data/container.py
  src/lenskit/data/dataset.py
  src/lenskit/data/relationships.py
Due: license-headers

add test for dataset pickling
  tests/data/test_pickle.py
Due: license-headers

add explicit pickling with Ray workaround
  src/lenskit/data/container.py
  src/lenskit/data/dataset.py
Due: license-headers

fix cluster init
  tests/data/test_ray.py
Due: license-headers
