Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

docs: pull doc build into just
  justfile
Due: none

build: add shell scripts to run tests
  scripts/collect-rust-coverage.sh
  scripts/test.sh
Due: none

build: add justfile to automate tasks
  justfile
Due: none

build: add library of shell script utilities
  scripts/lib/getoptions.sh
  scripts/lib/init.sh
  scripts/lib/logging.sh
  scripts/lib/run-cmd.sh
  scripts/lib/styles.sh
Due: none

suppress excess warning for version
  src/lenskit/__init__.py
  src/lenskit/_version.py
Due: license-headers

build: don't re-activate virtual environment
  scripts/test.sh
Due: none

build: put build-dist into script + just
  justfile
  scripts/build-dist.sh
  scripts/test.sh
Due: none

build: use just + script to build conda packages in CI
  .github/workflows/conda.yml
  justfile
Due: dprint

docs: use just to build in CI
  .github/workflows/docs.yml
  pyproject.toml
  uv.lock
Due: dprint

build: put local CI into just
  .woodpecker/cuda-tests.yml
  .woodpecker/dataset-tests.yml
  justfile
  mise/tasks/ci/cuda-tests.sh
  mise/tasks/ci/data-tests.sh
  scripts/ci/cuda-tests.sh
  scripts/ci/data-tests.sh
  scripts/ci/prepare.sh
Due: dprint

build: get mise out of package workflow
  .github/workflows/package.yml
Due: dprint

build: use just for test
  .github/workflows/test.yml
  tests/cli/harness.sh
Due: dprint

docs: more deps in lenskit doc install
  .github/workflows/docs.yml
Due: dprint

tests: update eval.yml for just
  .github/workflows/eval.yml
Due: dprint

build: add build-conda to justfile
  justfile
Due: none

build: fix logging on script-based CI
  scripts/ci/cuda-tests.sh
  scripts/ci/data-tests.sh
  scripts/ci/prepare.sh
  scripts/lib/logging.sh
  tests/cli/harness.sh
  tests/cli/run.sh
  tests/cli/test-pipeline-diagram.sh
Due: none

test: fix rust test rebuild
  scripts/test.sh
Due: none

test: fix default invocation of slow tests
  scripts/test.sh
Due: none

test: fix test invocation
  pyproject.toml
  scripts/ci/cuda-tests.sh
  scripts/ci/data-tests.sh
  scripts/test.sh
  uv.lock
Due: dprint

build: update devcontainer to just uv
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/setup-final.sh
  .devcontainer/setup.sh
  .github/workflows/check-devcontainer.yml
Due: dprint

test: fix conditional syntax for test check
  scripts/test.sh
Due: none

ci: disable torch compilation on CUDA tests again
  scripts/ci/cuda-tests.sh
Due: none

test: udpate CLI test runner to not use usage
  tests/cli/run.sh
Due: none

scripts: zsh & bash versions of style
  scripts/lib/style-funcs.sh
  scripts/lib/style-funcs.zsh
  scripts/lib/styles.sh
Due: none

test: don't test with realdata in CUDA
  scripts/ci/cuda-tests.sh
Due: none

only run some tests in devcontainer
  .github/workflows/check-devcontainer.yml
Due: dprint

build: import-protect version-tool
  scripts/version-tool.py
Due: license-headers

test: fix woodpecker test scripts
  scripts/ci/cuda-tests.sh
  scripts/ci/data-tests.sh
Due: none

test: test script cleanup
  scripts/collect-rust-coverage.sh
  scripts/test.sh
Due: none

test: trim out compat tests from CUDA CI
  scripts/ci/cuda-tests.sh
  tests/data/test_data_compat.py
Due: license-headers

test: fix rust coverage cli arguments
  scripts/collect-rust-coverage.sh
Due: none

test: remove FORCE_COLOR in test env
  conftest.py
Due: license-headers

ci: fix cargo binutils install
  .github/workflows/test.yml
Due: dprint

ci: directly call llvm tools
  .github/workflows/test.yml
  scripts/collect-rust-coverage.sh
Due: dprint

build: remove mise tasks + deps
  mise/config.ci.toml
  mise/config.extra.toml
  mise/config.toml
  mise/mise.extra.lock
  mise/mise.lock
  mise/task-functions.sh
  mise/tasks/build/accel.sh
  mise/tasks/build/conda.sh
  mise/tasks/build/dist.sh
  mise/tasks/build/docs.sh
  mise/tasks/clean.sh
  mise/tasks/coverage/clean-rust.sh
  mise/tasks/coverage/collect-rust.sh
  mise/tasks/coverage/export.sh
  mise/tasks/init-dirs.sh
  mise/tasks/lint.sh
  mise/tasks/test-cli.sh
  mise/tasks/test.sh
  mise/tasks/update-bib.sh
  mise/tasks/version.py
Due: dprint, license-headers

docs: update README to no longer mention mise
  README.md
Due: none

ci: skip branch check when testing pre-commit
  .github/workflows/check-devcontainer.yml
Due: dprint

stochastic: add another test for stochastic and input orders (#1224)
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

stochastic: add @aisa6148's reproducer to a test
  tests/stochastic/test_stochastic_ranker.py
Due: license-headers

data: add ItemList tests to verify #1224
  src/lenskit/data/_items.py
  tests/data/test_itemlist.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
