Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

accel: restrict heap size in argtopn
  src/accel/data/sorting.rs
Due: rustfmt, license-headers

accel: support and test null and infinite values in argsort
  src/accel/data/sorting.rs
  tests/accel/test_argsort.py
Due: rustfmt, license-headers

accel: unbound supported items in topn
  src/accel/data/sorting.rs
  tests/accel/test_argsort.py
Due: rustfmt, license-headers

data: avoid overflow in ItemList
  src/lenskit/data/items.py
Due: license-headers

accel: allow zero in argtopn
  src/accel/data/sorting.rs
  tests/accel/test_argsort.py
Due: rustfmt, license-headers

accel: special-case argtopn(..., 0)
  src/accel/data/sorting.rs
Due: rustfmt, license-headers

set version to 2025.7.0
  Cargo.lock
  Cargo.toml
Due: dprint

accel: implement background progress with rayon-cancel
  Cargo.lock
  Cargo.toml
  src/accel/als/explicit.rs
  src/accel/progress.rs
Due: rustfmt, dprint, license-headers

accel: simplify PB and use iter processing
  src/accel/als/explicit.rs
  src/accel/als/implicit.rs
  src/accel/data/cooc.rs
  src/accel/knn/item_train.rs
  src/accel/progress.rs
  src/accel/sparse/consumer.rs
Due: rustfmt, license-headers

accel: implement progress-wrapper with custom counts
  src/accel/data/cooc.rs
  src/accel/progress.rs
Due: rustfmt, license-headers

data: add test to save collection of empty item lists (#1051)
  tests/data/test_collection.py
Due: license-headers

data: add debug logging to ItemListCollection.save_parquet
  src/lenskit/data/collection/_base.py
Due: license-headers

data: benchmark PyArrow schema enhancements
  tests/benchmarks/benchmark_schema.py
Due: license-headers

data: refactor arrow schemas to use unification
  src/lenskit/data/collection/_base.py
  src/lenskit/data/collection/_list.py
  src/lenskit/data/items.py
Due: license-headers

data: expect warnings for unknown columns
  tests/data/test_collection.py
Due: license-headers

docs: add #1051 bugfix to release notes
  docs/releases/2026.rst
Due: none

data: fix ItemList._take with no IDs
  src/lenskit/data/items.py
  tests/data/test_itemlist.py
Due: license-headers

data: improve tests + tst index & column
  tests/data/test_builder_entities.py
Due: license-headers

data: reject unexpected _id columns when adding entities
  src/lenskit/data/builder.py
  tests/data/test_builder_entities.py
Due: license-headers

data: handle Pandas indexes
  src/lenskit/data/builder.py
  tests/data/test_builder_entities.py
Due: license-headers

data: update builder documentation
  src/lenskit/data/builder.py
Due: license-headers

accel: allow optional panic fusing
  Cargo.toml
  src/accel/lib.rs
  src/accel/parallel.rs
Due: rustfmt, dprint, license-headers

accel: use debug_assertions to trigger parallel fusing
  Cargo.toml
  src/accel/parallel.rs
Due: rustfmt, dprint, license-headers

accel: logging and nesting on progress
  src/accel/progress.rs
Due: rustfmt, license-headers

als: add panic fuse to ALS
  src/accel/als/explicit.rs
  src/accel/als/implicit.rs
Due: rustfmt, license-headers

accel: use background thread for logging
  Cargo.lock
  Cargo.toml
  src/accel/lib.rs
  src/accel/logging.rs
  src/accel/parallel.rs
  src/lenskit/_accel/__init__.pyi
  src/lenskit/logging/_accel.py
  src/lenskit/logging/config.py
Due: rustfmt, dprint, license-headers

pipeline: remove n= option to predict_pipeline (#835)
  docs/releases/2026.rst
  src/lenskit/pipeline/_common.py
Due: license-headers

basic: remove deprecated candidate selectors (#935)
  docs/guide/other-components.rst
  docs/releases/2025.rst
  docs/releases/2026.rst
  src/lenskit/basic/__init__.py
  src/lenskit/basic/candidates.py
  src/lenskit/pipeline/_builder.py
  tests/basic/test_candidates.py
  tests/integration/test_pipeline_basics.py
Due: license-headers

accel: rearrange thread locking for iter progress
  src/accel/progress.rs
Due: rustfmt, license-headers

accel: refactor progress thread to reuse code
  src/accel/progress.rs
Due: rustfmt, license-headers

remove extraneous debug log output
  src/accel/parallel.rs
Due: rustfmt, license-headers

accel: fix trace logging
  Cargo.toml
  src/lenskit/logging/_accel.py
Due: dprint, license-headers

knn/slim: skip self-similarities
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

limit computation to active column sets
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: fix SLIM trainer test
  tests/models/test_slim.py
Due: license-headers

knn/slim: improve debug logging
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: start on a SLIM test function
  tests/models/test_slim.py
Due: license-headers

start more but it's pretty broken
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn: add slim library
  src/accel/lib.rs
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/SLIM: document SLIM
  docs/guide/scorers.rst
  src/lenskit/knn/slim.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
