Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: python
        entry: python utils/update-headers.py --error-on-change --
        types_or:
          - python
          - rust
        additional_dependencies:
          - docopt-ng >=0.9.0
          - unbeheader ~=1.3

switch github to just
  .github/workflows/conda.yml
  .github/workflows/package.yml
Due: dprint

remove invoke
  pyproject.toml
  tasks.py
Due: dprint, license-headers

relock without invoke
  uv.lock
Due: none

python -> python3
  justfile
Due: none

small pyproject format tweak
  pyproject.toml
Due: dprint

yeet PYTHONPATH from build-conda
  justfile
Due: none

fix imports when ray is unavailable
  src/lenskit/parallel/ray.py
Due: license-headers

fix GitHub version output
  .github/workflows/package.yml
  utils/version-tool.py
Due: dprint, license-headers

fix ordering on conda build
  justfile
Due: none

fix CI versioning
  .github/workflows/package.yml
  justfile
Due: dprint

pyuthon
  justfile
Due: none

fix environment variable
  utils/version-tool.py
Due: license-headers

Small Torch top-N fix
  src/lenskit/data/items.py
Due: license-headers

support flat-format Arrow extraction
  src/lenskit/data/arrow.py
  src/lenskit/data/collection/_base.py
  tests/data/test_collection.py
Due: license-headers

add MatrixRelationshipSet.to_ilc
  src/lenskit/data/relationships.py
Due: license-headers

add ILC -> dataset converstion
  src/lenskit/data/collection/_base.py
  tests/data/test_collection.py
Due: license-headers

add LensKit seed file to CLI
  conftest.py
  src/lenskit/cli/__init__.py
  src/lenskit/random.py
Due: license-headers

improve convert CLI enforcement
  src/lenskit/cli/data/convert.py
Due: license-headers

support subsetting
  src/lenskit/cli/data/__init__.py
  src/lenskit/cli/data/subset.py
  src/lenskit/data/collection/_base.py
  src/lenskit/data/collection/_list.py
Due: license-headers

add test for subset CLI command
  tests/cli/test_data_subset.py
Due: license-headers

support LK_SEED_FILE environment variable
  src/lenskit/cli/__init__.py
Due: license-headers

fix subset logging
  src/lenskit/cli/data/subset.py
Due: license-headers

support seed env vars
  src/lenskit/cli/__init__.py
Due: license-headers

turn on UTF-8 mode for license headers
  .pre-commit-config.yaml
Due: dprint

added binarize_ratings function in datasetbuilder
  src/lenskit/data/builder.py
Due: license-headers

Refactored batch accuracy tests into components
  src/lenskit/testing/_components.py
  tests/funksvd/test_funksvd.py
  tests/implicit/test_implicit.py
  tests/models/test_als_explicit.py
  tests/models/test_als_implicit.py
  tests/models/test_knn_item_item.py
  tests/models/test_knn_user_user.py
  tests/sklearn/test_nmf.py
  tests/sklearn/test_svd.py
Due: license-headers

Added documentation to expected RMSE/nDCG fields
  src/lenskit/testing/_components.py
Due: license-headers

Added expected nDCG to BPR component test
  tests/implicit/test_implicit.py
Due: license-headers

added binarize_ratings function in datasetbuilder (edited)
  src/lenskit/data/builder.py
Due: license-headers

add TypeExpr type and improve types.py typing
  src/lenskit/pipeline/types.py
Due: license-headers

Define a component input hook.
  src/lenskit/pipeline/hooks.py
Due: license-headers

simplify pipeline config types and defaults
  src/lenskit/pipeline/config.py
Due: license-headers

add initial tests for the input data hooks
  tests/pipeline/test_component_input_hook.py
Due: license-headers

add hooks to schema
  src/lenskit/pipeline/config.py
Due: license-headers

route hooks through the configuration
  src/lenskit/pipeline/_impl.py
  src/lenskit/pipeline/builder.py
Due: license-headers

fix types on hooks
  src/lenskit/pipeline/_impl.py
  src/lenskit/pipeline/builder.py
  src/lenskit/pipeline/config.py
  src/lenskit/pipeline/hooks.py
  src/lenskit/pipeline/types.py
Due: license-headers

add hook type
  src/lenskit/pipeline/types.py
Due: license-headers

call hooks on lazy
  src/lenskit/pipeline/runner.py
  tests/pipeline/test_component_input_hook.py
Due: license-headers

refactor hooks and use hook for typechecking
  src/lenskit/pipeline/_hooks/__init__.py
  src/lenskit/pipeline/_hooks/typecheck.py
  src/lenskit/pipeline/_impl.py
  src/lenskit/pipeline/builder.py
  src/lenskit/pipeline/config.py
  src/lenskit/pipeline/runner.py
Due: license-headers

add test for lazy hook
  tests/pipeline/test_component_input_hook.py
Due: license-headers
