Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

Remove x86 PyPI builds
  .github/workflows/package.yml
Due: dprint

Remove 32-bit wheel building
  .github/workflows/package.yml
Due: dprint

Document removal of 32-bit wheels.
  docs/releases/2026.rst
Due: none

update uv.lock dependencies
  uv.lock
Due: none

fix typecheck with numpy
  tests/pipeline/test_types.py
Due: license-headers

update ruff dependency
  .pre-commit-config.yaml
Due: dprint

Update NumPy max dependency
  uv.lock
Due: none

document ArrayLike
  docs/releases/2026.rst
Due: none

add release notes for 2025.6.2
  docs/releases/2025.rst
Due: none

put LightGCN in eval mode after training
  src/lenskit/graphs/lightgcn.py
Due: license-headers

fix 2025 release notes
  docs/releases/2025.rst
Due: none

batch inference calls in LightGCN
  src/lenskit/graphs/lightgcn.py
Due: license-headers

remove decomposed meteric class and make changes to global metric class
  src/lenskit/metrics/_base.py
Due: license-headers

clean up `DecomposedMetric` uses and tests
  src/lenskit/metrics/_collect.py
  src/lenskit/metrics/predict.py
  src/lenskit/metrics/ranking/_base.py
  src/lenskit/metrics/ranking/_gini.py
  tests/eval/test_measurement_collector.py
Due: license-headers

add breaking changes notes
  docs/releases/2026.rst
Due: none

conditionalize commit
  .github/workflows/docs.yml
Due: dprint

clean up uv setup
  .github/workflows/docs.yml
Due: dprint

separate stages for doc build
  .github/workflows/docs.yml
Due: dprint

Create dependabot.yml
  .github/dependabot.yml
Due: dprint

Update Rust dependencies
  Cargo.lock
Due: none

update pytest and mermaid
  pyproject.toml
  uv.lock
Due: dprint

Update locked uv dependencies
  uv.lock
Due: none

update sphinx-togglebutton
  pyproject.toml
  uv.lock
Due: dprint

remove unused cibuildwheel
  pyproject.toml
Due: dprint

refine/expand more dependencies
  pyproject.toml
  uv.lock
Due: dprint

update max dep to Pandas 3.0
  pyproject.toml
  uv.lock
Due: dprint

simplify check of entity ID input types
  src/lenskit/data/builder.py
Due: license-headers

allow large string types for entity input
  src/lenskit/data/builder.py
Due: license-headers

add support for LargeString ID indexes
  src/accel/data/index.rs
  src/accel/indirect_hashing/content_string.rs
Due: rustfmt, license-headers

make data set types more flexible
  tests/data/test_dataset_info.py
Due: license-headers

check for large string type
  tests/data/test_dataset_info.py
Due: license-headers

Apply suggested fix to tests/data/test_dataset_info.py from Copilot Autofix
  tests/data/test_dataset_info.py
Due: license-headers
