Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

docs: add module renames (#947) to release notes
  docs/releases/2026.rst
Due: none

training: remove deprecated IterativeTraining
  docs/releases/2026.rst
  src/lenskit/training.py
Due: license-headers

training: add is_trained method to Trainable interface
  src/lenskit/training.py
Due: license-headers

pipeline: clean up warnings in tests
  src/lenskit/pipeline/components.py
  src/lenskit/pipeline/nodes.py
  tests/pipeline/test_component_util.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_types.py
Due: license-headers

pipeline: move TypecheckWarning into lenskit.diagnostics
  src/lenskit/diagnostics.py
  src/lenskit/pipeline/_types.py
Due: license-headers

document name changes
  docs/releases/2026.rst
Due: none

training: update component test to check method instead of skip
  src/lenskit/testing/_components.py
Due: license-headers

pipeline: emit warning when component has train method but is not Trainable
  src/lenskit/pipeline/_builder.py
  src/lenskit/pipeline/_types.py
  tests/pipeline/test_train.py
  tests/pipeline/test_types.py
Due: license-headers

reranking/fair: migrate to is_trained + remove trailing _
  src/lenskit/reranking/fair.py
  tests/reranking/test_fair_reranker.py
Due: license-headers

basic: update basic components to is_trained
  src/lenskit/basic/bias.py
  src/lenskit/basic/candidates.py
  src/lenskit/basic/history.py
  src/lenskit/basic/popularity.py
  tests/basic/test_bias.py
  tests/basic/test_popular.py
  tests/basic/test_time_bounded_popular.py
Due: license-headers

pipeline: emit PipelineWarning for missing config
  src/lenskit/pipeline/components.py
Due: license-headers

pipeline: clean up hook warnings
  src/lenskit/pipeline/config.py
  tests/pipeline/test_component_input_hook.py
Due: license-headers

pipeline: skip retraining of already-trained components
  src/lenskit/pipeline/_impl.py
  tests/pipeline/test_train.py
Due: license-headers

sklearn: migrate to is_trained + remove trailing _
  src/lenskit/sklearn/nmf.py
  src/lenskit/sklearn/svd.py
Due: license-headers

knn: migrate to is_trained
  src/lenskit/knn/ease.py
  src/lenskit/knn/item.py
  src/lenskit/knn/user.py
Due: license-headers

hpf: update to is_trained
  src/lenskit/hpf.py
Due: license-headers

implicit: update to is_trained
  src/lenskit/implicit.py
Due: license-headers

funksvd: migrate to is_trained
  src/lenskit/funksvd.py
Due: license-headers

sklearn: fix tests for new names
  tests/sklearn/test_svd.py
Due: license-headers

reranking: fix FAIR tests
  tests/reranking/test_fair_reranker.py
Due: license-headers

hpf: fix attribute names in tests
  tests/hpf/test_hpf.py
Due: license-headers

docs: revise trainable docs
  docs/releases/2026.rst
  src/lenskit/training.py
Due: license-headers

basic: remove SoftmaxRanker (#834)
  docs/guide/conventions.rst
  docs/releases/2025.rst
  pyproject.toml
  src/lenskit/basic/__init__.py
  src/lenskit/basic/random.py
  src/lenskit/testing/_movielens.py
  tests/basic/test_softmax.py
Due: dprint, license-headers

improve top-N benchmarks to evaluate argtopn (#833)
  tests/benchmarks/benchmark_topn.py
Due: license-headers

accel: add experimental argtopn accelerator
  src/accel/data/mod.rs
  src/accel/data/sorting.rs
  tests/benchmarks/benchmark_topn.py
Due: rustfmt, license-headers

accel: use custom indirect heap
  src/accel/data/sorting.rs
Due: rustfmt, license-headers

Merge pull request #1033 from mdekstrand/feature/flexmf-lightgcn
  docs/releases/2025.rst
  pipelines/lightgcn-search.toml
  pipelines/tg-lightgcn.toml
  src/lenskit/cli/__init__.py
  src/lenskit/cli/train.py
  src/lenskit/flexmf/_explicit.py
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_model.py
  src/lenskit/flexmf/_training.py
  src/lenskit/training.py
  tests/flexmf/test_flexmf_implicit.py
Due: dprint, license-headers

Merge pull request #1035 from mdekstrand/feature/flemf-presets
  docs/guide/flexmf.rst
  docs/lenskit.bib
  src/lenskit/als/_explicit.py
  src/lenskit/flexmf/_implicit.py
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

Merge pull request #1034 from mdekstrand/feature/env-flag
  docs/guide/implementing.rst
  src/lenskit/knn/ease.py
  src/lenskit/training.py
  tests/training/test_training_options.py
Due: license-headers

use pipx pre-commit
  mise/config.toml
Due: dprint

update mise tasks to main
  mise/tasks/build/conda.cmd
  mise/tasks/build/dist.cmd
  mise/tasks/clean.sh
  mise/tasks/coverage/collect-rust.sh
  mise/tasks/test-cli.cmd
  mise/tasks/version.cmd
  mise/tasks/version.py
Due: license-headers

accel: test and debug argtopn with custom heap
  Cargo.lock
  Cargo.toml
  src/accel/data/sorting.rs
  tests/accel/test_argsort.py
Due: rustfmt, dprint, license-headers

accel: move indirect_hashing into indirect::hashing
  src/accel/data/index.rs
  src/accel/indirect/hashing/content_int.rs
  src/accel/indirect/hashing/content_string.rs
  src/accel/indirect/hashing/mod.rs
  src/accel/indirect/hashing/table.rs
  src/accel/indirect/mod.rs
  src/accel/lib.rs
Due: rustfmt, license-headers

accel: refactor indirect heap into separate module
  src/accel/data/sorting.rs
  src/accel/indirect/heap.rs
  src/accel/indirect/mod.rs
Due: rustfmt, license-headers

data: use Rust argtopn for ItemList.top_n
  src/lenskit/data/items.py
Due: license-headers

accel: benchmark using argtopn for sorting
  tests/benchmarks/benchmark_topn.py
Due: license-headers

stats: remove argtopn
  src/lenskit/stats.py
  tests/math/test_argtopn.py
Due: license-headers

stats: remove argtopn from benchmark
  tests/benchmarks/benchmark_topn.py
Due: license-headers

accel: add argtopn to type stubs
  src/lenskit/_accel/data.pyi
Due: none

docs: add argtopn removal to release notes
  docs/releases/2026.rst
Due: none
