Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: python
        entry: python utils/update-headers.py --error-on-change --
        types_or:
          - python
          - rust
        additional_dependencies:
          - docopt-ng >=0.9.0
          - unbeheader ~=1.3

frequency
  src/lenskit/cli/doctor.py
Due: license-headers

simplify CPU frequency
  src/lenskit/cli/doctor.py
Due: license-headers

Binary sizes for GPU memory
  src/lenskit/cli/doctor.py
Due: license-headers

add power measurement
  pyproject.toml
  src/lenskit/config/__init__.py
  src/lenskit/logging/tasks.py
  uv.lock
Due: dprint, license-headers

ignore local config
  .gitignore
Due: none

configure RNG
  src/lenskit/__init__.py
  src/lenskit/__init__.pyi
  src/lenskit/cli/__init__.py
  src/lenskit/cli/config.py
  src/lenskit/config/__init__.py
  src/lenskit/random.py
  tests/config/test_config.py
Due: license-headers

add task CLI support
  pyproject.toml
  src/lenskit/cli/task.py
Due: dprint, license-headers

fix bad link
  src/lenskit/__init__.py
Due: license-headers

fix args
  src/lenskit/cli/task.py
Due: license-headers

fix config
  src/lenskit/cli/config.py
Due: license-headers

output tasks for power debug
  src/lenskit/logging/tasks.py
Due: license-headers

log power usage
  src/lenskit/cli/task.py
Due: license-headers

cfg dir is positional
  src/lenskit/config/__init__.py
Due: license-headers

fix monitor circular import
  src/lenskit/logging/multiprocess/_worker.py
Due: license-headers

increase minimum Requests version
  pyproject.toml
Due: dprint

update conda deps
  conda/recipe.yaml
Due: dprint

run lenskit doctor in tests
  conda/recipe.yaml
Due: dprint

add doctor tests
  src/lenskit/cli/task.py
  tests/cli/test_doctor.py
Due: license-headers

add --full to doctor
  .github/workflows/test.yml
  conda/recipe.yaml
  src/lenskit/cli/doctor.py
Due: dprint, license-headers

use module to alunch lenskit doctor in conda test
  conda/recipe.yaml
Due: dprint

move remove interaction into function
  src/lenskit/data/builder.py
Due: license-headers

update README install instructions
  README.md
Due: none

better index links and install instructions
  docs/guide/GettingStarted.ipynb
  docs/guide/install.rst
  docs/index.rst
Due: none

revise home page
  docs/index.rst
Due: none

clean up research documentation
  docs/conf.py
  docs/index.rst
  docs/research/index.rst
  docs/research/java-papers.rst
  docs/research/papers.rst
  pyproject.toml
  uv.lock
Due: dprint, license-headers

update disclaimer etc.
  docs/_templates/disclaimer.html
  docs/conf.py
  docs/index.rst
  pyproject.toml
  uv.lock
Due: dprint, license-headers

working mastodon link
  docs/_static/css/custom.css
  docs/index.rst
Due: none

add manual for FlexMF
  .vscode/ltex.dictionary.en-US.txt
  docs/guide/flexmf.rst
  docs/guide/index.rst
Due: none

Move repeated relationship check from add_relationship to build_container
  src/lenskit/data/builder.py
  src/lenskit/data/schema.py
Due: license-headers

use LensKit PyPI indexes for Torch
  pyproject.toml
  uv.lock
Due: dprint

update LensKit dependencies
  uv.lock
Due: none

update pre-commit hook versions
  .pre-commit-config.yaml
Due: dprint

add devcontainer setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .pre-commit-config.yaml
Due: dprint

update `ListMetric` to support `summarize`
  src/lenskit/metrics/_base.py
Due: license-headers

add `extract_list_metrics` in `ListMetric`
  src/lenskit/metrics/_base.py
Due: license-headers

fix parallel logging
  src/lenskit/logging/multiprocess/_worker.py
  src/lenskit/parallel/ray.py
Due: license-headers

tweak BLB
  src/lenskit/stats/_blb.py
Due: license-headers

update ruff
  uv.lock
Due: none

just use default torch
  pyproject.toml
  uv.lock
Due: dprint

re-enable, and enable cpu by default
  pyproject.toml
  uv.lock
Due: dprint
