Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.5
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: python
        entry: python utils/update-headers.py --error-on-change --
        types_or:
          - python
          - rust
        additional_dependencies:
          - docopt-ng >=0.9.0
          - unbeheader ~=1.3

rename test file
  tests/eval/test_measurement_collector.py
Due: license-headers

work on sparse and dense matrices differently
  src/lenskit/metrics/ranking/_entropy.py
  tests/eval/test_entropy.py
Due: license-headers

add instances where `n` is not provided or greater than length of items
  tests/eval/test_entropy.py
Due: license-headers

simplily truncation, multiplication and summation
  src/lenskit/metrics/ranking/_entropy.py
Due: license-headers

add a test to check `isnan`
  tests/eval/test_entropy.py
Due: license-headers

Add support for dataframe and table in add_entities
  src/lenskit/data/builder.py
  tests/data/test_builder_entities.py
Due: license-headers

entropy and rank biased entropy
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/ranking/__init__.py
  src/lenskit/metrics/ranking/_entropy.py
  tests/eval/test_entropy.py
Due: license-headers

add `matrix_column_entropy`
  src/lenskit/metrics/ranking/_entropy.py
  tests/eval/test_entropy.py
Due: license-headers

remove ravel
  src/lenskit/metrics/ranking/_entropy.py
Due: license-headers

use elementwise multiplication and csr_array in tests
  src/lenskit/metrics/ranking/_entropy.py
  tests/eval/test_entropy.py
Due: license-headers

add MacOS Intel to CI pool again
  .github/workflows/test.yml
Due: dprint

attempt to measure Rust coverage
  mise/tasks/clean.sh
  mise/tasks/collect-coverage.sh
  mise/tasks/test.sh
Due: none

update test script to support Rust coverage
  mise/tasks/test.sh
Due: none

add default test directory
  pyproject.toml
Due: dprint

rework test collection tasks
  mise/tasks/coverage/clean-rust.sh
  mise/tasks/coverage/collect-rust.sh
Due: none

add support for test coverage build on accelerator
  mise/tasks/build/accel.sh
Due: none

fix typos in coverage collection
  mise/tasks/collect-coverage.sh
Due: none

cean coverage data
  mise/tasks/clean.sh
Due: none

disable dead code + trim annotations
  src/accel/arrow/types/index.rs
  src/accel/arrow/types/index_list.rs
  src/accel/arrow/types/row.rs
  src/accel/sparse/csr.rs
Due: rustfmt, license-headers

run coverage w/ uv run
  .github/workflows/test.yml
Due: dprint

activate virtual environment for testing
  mise/tasks/build/accel.sh
  mise/tasks/coverage/collect-rust.sh
  mise/tasks/test.sh
Due: none

add more tests for Rust argsort function
  tests/data/test_argsort.py
Due: license-headers

fix collect-rust for linux, debug
  mise/tasks/coverage/collect-rust.sh
Due: none

block broken cargo-binutils
  mise/config.toml
Due: dprint

disable Linux tests
  .github/workflows/test.yml
Due: dprint

declare need for llvm-tools
  mise/config.toml
  rust-toolchain.toml
Due: dprint

skip CLI and FlexMF tests for Rust coverage
  tests/cli/__init__.py
  tests/flexmf/__init__.py
Due: license-headers

fix package skips
  tests/cli/__init__.py
  tests/flexmf/__init__.py
Due: license-headers

dev group for mise
  .github/workflows/test.yml
Due: dprint

add rust coverage support
  .github/workflows/test.yml
Due: dprint

fix usage syntax
  mise/tasks/coverage/collect-rust.sh
Due: none

add cargo-bintuils
  mise/config.toml
Due: dprint

add llvm-tools to component list
  mise/config.toml
Due: dprint

use uv to run tests reliably
  mise/tasks/test.sh
Due: none

Clear lockfile on macOS x86_64
  .github/workflows/test.yml
Due: dprint

split mac-intel test into a separate CI job
  .github/workflows/test.yml
Due: dprint
