Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

pipelines: add flexmf search & use presets
  pipelines/flexmf-bpr-search.toml
  pipelines/flexmf-logistic.toml
  pipelines/flexmf-warp.toml
Due: dprint

fix spelling error
  pipelines/flexmf-logistic.toml
Due: dprint

tuning: fix Optuna search point usage
  src/lenskit/tuning/_optuna.py
Due: license-headers

fix pipeline file formatting
  pipelines/flexmf-bpr-search.toml
Due: dprint

als: don't panic when implicit solve fails
  src/accel/als/implicit.rs
Due: rustfmt, license-headers

als: don't panic when explicit solve fails
  src/accel/als/explicit.rs
  src/accel/tasks/mod.rs
Due: rustfmt, license-headers

accel: propagate BaseException from worker threads
  src/lenskit/parallel/_task.py
Due: license-headers

accel: fix task waiting
  src/lenskit/parallel/_task.py
Due: license-headers

training: fix inverted logic on Torch compilation
  src/lenskit/training.py
Due: license-headers

flexmf: call the compiled model without catching
  src/lenskit/flexmf/_training.py
Due: license-headers

docs: update release notes
  docs/releases/2026.rst
Due: none

tuning: fix min/max and off-by-1 in Optuna epochs
  src/lenskit/tuning/_base.py
  src/lenskit/tuning/_optuna.py
  src/lenskit/tuning/spec.py
Due: license-headers

tuning: allow to continue when a trial fails
  src/lenskit/cli/tune.py
  src/lenskit/tuning/_optuna.py
  src/lenskit/tuning/spec.py
Due: license-headers

tuning: set random seed in Optuna TPE sampler
  src/lenskit/tuning/_optuna.py
Due: license-headers

docs: update release notes for flexmf changes
  docs/releases/2026.rst
Due: none

tuning: remove unused import in tuning test
  tests/tuning/__init__.py
Due: license-headers

tuning: review measurement + expand metrics
  src/lenskit/tuning/_measure.py
Due: license-headers

tuning: add explicit-feedback iterative tuning test
  pipelines/als-explicit-search.toml
  tests/tuning/test_iterative_tuning.py
Due: dprint, license-headers

tuning: nocover catch-all
  src/lenskit/tuning/_optuna.py
Due: license-headers

tuning: allow `"bool"` and validate range for numeric specs
  src/lenskit/tuning/spec.py
  tests/tuning/test_tuning_specs.py
Due: license-headers

tuning: support boolean choices in search
  src/lenskit/tuning/_optuna.py
  src/lenskit/tuning/_ray/search.py
Due: license-headers

tuning: add support for categorical parameters
  src/lenskit/tuning/_optuna.py
  src/lenskit/tuning/_ray/search.py
  src/lenskit/tuning/spec.py
  tests/tuning/test_tuning_specs.py
Due: license-headers

tuning: support pow2 scales
  src/lenskit/tuning/_optuna.py
  src/lenskit/tuning/_ray/search.py
  src/lenskit/tuning/spec.py
  tests/tuning/test_tuning_specs.py
Due: license-headers

tuning: use pow2 scale in als-implicit search
  pipelines/als-implicit-search.toml
Due: dprint

tuning: support powers-of-2 for Ray
  src/lenskit/tuning/_ray/search.py
Due: license-headers

tuning: add missing return to spec
  src/lenskit/tuning/spec.py
Due: license-headers

tuning: fix broken Optuna tuning range
  src/lenskit/tuning/_optuna.py
Due: license-headers

tuning: skip failed trials in results
  src/lenskit/tuning/_optuna.py
Due: license-headers

flexmf: test-import torch._dynamo to prevent torch bugs
  src/lenskit/flexmf/_base.py
Due: license-headers

tuning: fix spec tests
  tests/tuning/test_tuning_specs.py
Due: license-headers

tuning: fix silly ray bug
  src/lenskit/tuning/_ray/search.py
Due: license-headers

slim: add documentation to weight matrix
  src/lenskit/knn/slim.py
Due: license-headers

slim: use sparse matrix to multiply
  src/lenskit/knn/slim.py
Due: license-headers

slim: fix scoring on old SciPy
  src/lenskit/knn/slim.py
Due: license-headers

docs: update 2026 release notes
  docs/releases/2026.rst
Due: none

knn: backport item KNN type fix (#1121) to 2025
  src/lenskit/knn/item.py
Due: license-headers

pipeline: backport NumPy type fixes to 2025
  src/lenskit/pipeline/types.py
  tests/pipeline/test_types.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
