Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-toml-files, format-yaml-files

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: format-toml-files
        name: format-toml
        entry: taplo
        args: ["format"]
        files: \.toml$
        language: node
        additional_dependencies:
          - "@taplo/cli"
      - id: format-yaml-files
        name: format-yaml
        files: \.ya?ml$
        exclude: conda-lock.yml
        entry: prettier
        args: [-w]
        language: node
        additional_dependencies:
          - prettier

can't quite reduce as much as I wanted
  pixi.toml
Due: format-toml-files

fix demo env
  .github/workflows/test.yml
  lkdev/workflows/test.py
  pixi.toml
Due: format-toml-files, format-yaml-files

fix sqlite workflow
  .github/workflows/test.yml
  lkdev/workflows/test.py
  utils/coverage-path-fixup.sql
Due: format-yaml-files

include demo deps in 310 test
  lkdev/workflows/test.py
  pixi.toml
Due: format-toml-files

add sqlite dependency for testing
  pixi.toml
Due: format-toml-files

fix demo test environment
  .github/workflows/test.yml
Due: format-yaml-files

fix up DB paths in the test results job
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

fix test log fix
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

don't write pixi caches
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

add missing backslash
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

cache the pixi lockfile
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

fix actions/cache version
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

add pixi.lock to the LensKit repo
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  lkdev/workflows/test.py
  pixi.lock
Due: format-yaml-files

remove unused dependencies
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

Notes added by 'git notes add'
  96/0ab0191e50cb1bee92afd3cfbd7351b6ee12f1
Due: none

pipeline: simplify training interface & fix check in pipeline
  lenskit/lenskit/pipeline/__init__.py
  lenskit/lenskit/pipeline/components.py
Due: none

pipeline: fix component and common documentation
  lenskit/lenskit/pipeline/common.py
  lenskit/lenskit/pipeline/components.py
Due: none

import lazy pipeline logic from POPROX
  lenskit/lenskit/pipeline/__init__.py
  lenskit/lenskit/pipeline/config.py
  lenskit/lenskit/pipeline/nodes.py
  lenskit/lenskit/pipeline/runner.py
  lenskit/lenskit/pipeline/types.py
  lenskit/tests/pipeline/test_lazy.py
  lenskit/tests/pipeline/test_pipeline.py
Due: none

evaluate type annotations on nodes
  lenskit/lenskit/pipeline/nodes.py
  lenskit/lenskit/pipeline/types.py
Due: none

fix lazy import
  lenskit/tests/pipeline/test_lazy.py
Due: none

re-add use_first_of with a fallback component
  lenskit/lenskit/pipeline/__init__.py
  lenskit/lenskit/pipeline/components.py
  lenskit/lenskit/pipeline/types.py
  lenskit/tests/pipeline/test_fallback.py
  lenskit/tests/pipeline/test_pipeline.py
  lenskit/tests/pipeline/test_types.py
Due: none

fix missing headers
  lenskit/tests/pipeline/test_fallback.py
  lenskit/tests/pipeline/test_lazy.py
Due: none

add support for missing= to ItemList.numbers
  lenskit/lenskit/data/items.py
Due: none

test bias in a pipeline
  lenskit/tests/basic/test_bias.py
Due: none

Add recommendation query class
  docs/api/data.rst
  lenskit/lenskit/data/__init__.py
  lenskit/lenskit/data/query.py
Due: none

initial pass at a composite component
  lenskit/lenskit/basic/composite.py
  lenskit/tests/basic/test_composite.py
Due: none

rename basic components
  lenskit/lenskit/basic/__init__.py
  lenskit/lenskit/basic/bias.py
  lenskit/lenskit/basic/popularity.py
  lenskit/lenskit/basic/topn.py
  lenskit/tests/basic/test_bias.py
  lenskit/tests/basic/test_popular.py
  lenskit/tests/basic/test_topn.py
Due: none

port Bias to be a recommender component
  lenskit/lenskit/basic/__init__.py
  lenskit/lenskit/basic/bias.py
  lenskit/tests/basic/test_bias.py
Due: none

update bias to new components and queries
  lenskit/lenskit/basic/bias.py
  lenskit/tests/basic/test_bias.py
Due: none

add support for dropping fields in copies
  lenskit/lenskit/data/items.py
  lenskit/tests/data/test_itemlist.py
Due: none

move PopScore to be a new component
  lenskit/lenskit/basic/__init__.py
  lenskit/lenskit/basic/popularity.py
  lenskit/tests/basic/test_popular.py
Due: none

add ItemList.from_vocabulary
  lenskit/lenskit/data/items.py
  lenskit/tests/data/test_itemlist.py
Due: none

add data type docs
  docs/api/data-types.rst
  docs/api/data.rst
Due: none

fix query to accept np integers
  lenskit/lenskit/data/query.py
Due: none

add and test a TopN component
  lenskit/lenskit/basic/topn.py
  lenskit/tests/basic/test_topn.py
Due: none

add support for cloning item lists
  lenskit/lenskit/data/items.py
  lenskit/tests/data/test_itemlist.py
Due: none

add candidate selector components
  lenskit/lenskit/basic/candidates.py
  lenskit/tests/basic/test_candidates.py
Due: none

add working known-rating scorer
  lenskit/lenskit/basic/history.py
  lenskit/lenskit/data/query.py
  lenskit/tests/basic/test_history.py
Due: none

update popular to new components
  lenskit/lenskit/basic/popularity.py
Due: none

working history lookup component
  lenskit/lenskit/basic/__init__.py
  lenskit/lenskit/basic/candidates.py
  lenskit/lenskit/basic/history.py
  lenskit/lenskit/basic/topn.py
  lenskit/lenskit/basic/training.py
  lenskit/tests/basic/test_history.py
Due: none
