Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

data: exclude rank from fields in ItemList
  src/lenskit/data/_items.py
Due: license-headers

data: keep rank field, fix in arrow output
  src/lenskit/data/_items.py
  tests/data/test_itemlist.py
Due: license-headers

data: fix doc + type-check bug in item list fix
  src/lenskit/data/_items.py
Due: license-headers

docs: update 2026.4 release notes for bug fix
  docs/releases/2026.rst
Due: none

deps: update PyPI dependencies
  uv.lock
Due: none

rust: update Rust dependencies
  Cargo.lock
  Cargo.toml
Due: dprint

docs: log dep update
  docs/releases/2026.rst
Due: none

docs: finalize 2026.4 timestamps
  docs/releases/2026.rst
Due: none

build: doc artifact version
  .github/workflows/docs.yml
  justfile
Due: dprint

build: bump version
  Cargo.lock
  Cargo.toml
Due: dprint

feat: make training-history lookup optional in standard pipelines
  docs/guide/pipeline.rst
  src/lenskit/pipeline/_common.py
  src/lenskit/schemas/pipeline.py
  tests/pipeline/test_common.py
Due: license-headers

test: use built-in scorer and clarify history lookup cases
  tests/pipeline/test_common.py
Due: license-headers

deps: update locked dependencies
  uv.lock
Due: none

deps: update most upper dependency bounds
  pyproject.toml
  uv.lock
Due: dprint

deps: update pre-commit hooks
  .pre-commit-config.yaml
Due: dprint

deps: update Optuna to allow Optuna 5
  pyproject.toml
  uv.lock
Due: dprint

metrics: add stable LogRBP with log-mean aggregation
  docs/guide/evaluation/rankings.rst
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/ranking/__init__.py
  src/lenskit/metrics/ranking/_logrbp.py
  tests/eval/test_rank_logrbp.py
Due: license-headers

ci: drop explicit +gil
  .github/workflows/test.yml
Due: dprint

ci: update setup-uv version
  .github/workflows/test.yml
Due: dprint

ci: properly disable Ray on unsupported installs
  .github/workflows/test.yml
Due: dprint

ci: add 3.15t wheels
  .github/workflows/package.yml
Due: dprint

ci: add Python 3.15 to test matrix
  .github/workflows/test.yml
Due: dprint

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
