Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

metrics: add debug log to metric accumulation
  src/lenskit/metrics/_collect.py
Due: license-headers

docs: add #1169 to release notes
  docs/releases/2026.rst
Due: none

docs: add milestone link to release notes
  docs/releases/2026.rst
Due: none

build: bump version to 2026.3.0b2
  Cargo.lock
  Cargo.toml
Due: dprint

docs: extend list of metrics
  docs/guide/evaluation/rankings.rst
Due: none

deps: update cargo deps
  Cargo.lock
Due: none

deps: update python max deps
  uv.lock
Due: none

build: update mise deps
  mise/mise.lock
Due: none

build: add Tombi toml-version comments
  Cargo.toml
  pyproject.toml
Due: dprint

build: switch to Tombi for TOML lint + format
  hk.pkl
Due: none

build: reformat TOML files with Tombi
  Cargo.toml
  pyproject.toml
Due: dprint

build: remove even-better-toml from vscode extensions
  .vscode/extensions.json
Due: dprint

build: remove JSON formatting and dprint
  .dprint.json
  hk.pkl
  mise/config.toml
  mise/mise.lock
Due: dprint

data: add proper type annotation to _uses_data decorator
  src/lenskit/data/_dataset.py
Due: license-headers

data: add interaction="default" support to add_relationship_class
  src/lenskit/data/_builder.py
Due: license-headers

docs: add #1174 to release notes
  docs/releases/2026.rst
Due: none

build: add Woodpecker CI to test on more data sources
  .woodpecker/dataset-tests.yml
Due: dprint

build: add CI preparation step & use in dataset tests
  .woodpecker/dataset-tests.yml
  mise/tasks/ci/prepare.sh
  mise/tasks/test.sh
Due: dprint

build: remove a lot of downloads in the GitHub eval
  .github/workflows/eval.yml
Due: dprint

build: add codecov token to codecov.yml
  codecov.yml
Due: dprint

build: make data tests verbose
  .woodpecker/dataset-tests.yml
Due: dprint

build: set up CI environment
  mise/config.ci.toml
  mise/config.toml
Due: dprint

deps: re-add jq to mise
  mise/config.toml
  mise/mise.lock
Due: dprint

build: run CLI data conversion tests
  .woodpecker/dataset-tests.yml
Due: dprint

docs: add notes on dataset to LensKit license
  LICENSE.md
Due: none

build: skip hk in CI
  mise/config.toml
Due: dprint

build: make CLI tests wait for unit tests
  mise/tasks/test-cli.sh
Due: none

metrics: add IPS-weighted RBP
  docs/guide/evaluation/rankings.rst
  docs/releases/2026.rst
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/ranking/__init__.py
  src/lenskit/metrics/ranking/_ips.py
  src/lenskit/metrics/ranking/_propensity.py
  tests/eval/test_rank_ips_rbp.py
Due: license-headers

data: fix typo in Steam error message
  src/lenskit/data/sources/steam.py
Due: license-headers

docs: add #1179 to release notes
  docs/releases/2026.rst
Due: none

data: add playtime to Steam AU import
  src/lenskit/data/sources/steam.py
Due: license-headers

data: import interations from steam + add test
  data/.gitignore
  src/lenskit/data/sources/steam.py
  tests/data/test_load_steam.py
Due: license-headers

data: add export of load_steam
  src/lenskit/data/__init__.py
Due: license-headers

cli: add log message for citation info
  src/lenskit/cli/__init__.py
Due: license-headers

update version
  Cargo.lock
  Cargo.toml
Due: dprint

cli: add coverage to dataset CLI tests
  .woodpecker/dataset-tests.yml
Due: dprint

accel: downgrade list conversion logs
  src/accel/arrow/lists.rs
Due: rustfmt, license-headers

add arrow accel test
  tests/accel/test_accel_arrow.py
Due: license-headers
