Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: python
  entry: python utils/update-headers.py --error-on-change --
  additional_dependencies:
  - docopt-ng >=0.9.0
  - unbeheader ~=1.3

add lenskit.graphs
  docs/api/index.rst
Due: none

update accumulator tests
  src/lenskit/metrics/_base.py
  tests/eval/test_metric_accumulator.py
Due: license-headers

update accumulator tests
  src/lenskit/metrics/_accum.py
  tests/eval/test_metric_accumulator.py
Due: license-headers

update code
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/_base.py
  src/lenskit/metrics/bulk.py
  src/lenskit/metrics/ranking/_gini.py
  tests/eval/test_metric_accumulator.py
Due: license-headers

update tests
  tests/eval/test_metric_accumulator.py
Due: license-headers

`summary_dict` returns `dict`, update `measure_run` in `bulk.py`
  src/lenskit/metrics/_accum.py
  src/lenskit/metrics/bulk.py
  tests/eval/test_metric_accumulator.py
Due: license-headers

Fix: correct attribute-to-entity mapping
  src/lenskit/data/builder.py
  tests/data/test_builder_attributes.py
Due: license-headers

add validation for schema attribute
  src/lenskit/data/builder.py
  tests/data/test_builder_interactions.py
Due: license-headers

Add name validation for adding attributes
  src/lenskit/data/builder.py
  tests/data/test_builder_attributes.py
Due: license-headers

fix test case with _id
  tests/data/test_builder_repeat_interactions.py
Due: license-headers

Add validation for entity class name
  src/lenskit/data/builder.py
  tests/data/test_builder_entities.py
Due: license-headers

update attribute name restrictions
  docs/guide/data/model.rst
Due: none

fix pip check
  conda/recipe.yaml
Due: dprint

add placeholder config to remove warning
  src/lenskit/pipeline/components.py
Due: license-headers

remove excess debug prints
  src/lenskit/data/container.py
Due: license-headers

update pre-commit versions
  .pre-commit-config.yaml
Due: dprint

remove windows env dump
  .github/workflows/test.yml
Due: dprint

install pre-commit with mise
  mise/config.toml
Due: dprint

use mise to install rust + pre-commit in check-sources
  .github/workflows/check-sources.yml
Due: dprint

install rustfmt
  mise/config.toml
Due: dprint

use mixin for FlexMF
  src/lenskit/flexmf/_base.py
  src/lenskit/flexmf/_explicit.py
  src/lenskit/flexmf/_implicit.py
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

use new embedding size for sklearn
  src/lenskit/sklearn/nmf.py
  src/lenskit/sklearn/svd.py
Due: license-headers

move embedding size logic to common file
  src/lenskit/als/_common.py
  src/lenskit/config/common.py
Due: license-headers

use embedding size for lightgcn
  src/lenskit/graphs/lightgcn.py
Due: license-headers

support exponential embedding sizes
  src/lenskit/als/_common.py
  tests/models/test_als_implicit.py
Due: license-headers

refactor defaults
  src/lenskit/als/_common.py
  src/lenskit/config/common.py
Due: license-headers

mixin for FunkSVD
  src/lenskit/funksvd.py
Due: license-headers

base class has no default embedding size for now
  src/lenskit/als/_common.py
  src/lenskit/config/common.py
  tests/models/test_als_implicit.py
Due: license-headers

small fix to progress bar serialization
  src/lenskit/logging/multiprocess/_protocol.py
  src/lenskit/logging/progress/_rich.py
Due: license-headers

rustup install
  .github/workflows/check-sources.yml
Due: dprint

Revert "rustup install"
  .github/workflows/check-sources.yml
Due: dprint

upgrade
  .github/workflows/check-sources.yml
Due: dprint

more components
  mise/config.toml
Due: dprint

don't need a second bit
  .github/workflows/check-sources.yml
Due: dprint

yeet excess settings
  .vscode/settings.json
Due: dprint

disable mise cache
  .github/workflows/check-sources.yml
Due: dprint

add rbo and lip
  src/lenskit/metrics/reranking/lip.py
  src/lenskit/metrics/reranking/rbo.py
Due: license-headers

LIP tests are failing
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/reranking/__init__.py
  src/lenskit/metrics/reranking/_lip.py
  src/lenskit/metrics/reranking/_rbo.py
  tests/eval/test_lip.py
  tests/eval/test_rbo.py
Due: license-headers

defer pipeline instantation in configuration
  src/lenskit/pipeline/builder.py
  src/lenskit/pipeline/config.py
  src/lenskit/pipeline/types.py
  tests/pipeline/test_save_load.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
