Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

remove nalgebra & nshare
  Cargo.lock
  Cargo.toml
Due: dprint

Revert "remove nalgebra & nshare"
  Cargo.lock
  Cargo.toml
  src/accel/als/explicit.rs
  src/accel/als/implicit.rs
Due: rustfmt, dprint, license-headers

attempt to implement straight lapack solving
  src/accel/als/explicit.rs
  src/accel/als/mod.rs
  src/accel/als/solve.rs
Due: rustfmt, license-headers

implement function to load Cython Scipy BLAS functions
  src/accel/cython.rs
  src/accel/lib.rs
Due: rustfmt, license-headers

implement LAPACK-based solver
  src/accel/als/solve.rs
Due: rustfmt, license-headers

use LAPACK solver in ALS
  src/accel/als/explicit.rs
  src/accel/als/implicit.rs
Due: rustfmt, license-headers

remove nalgebra dependency
  Cargo.lock
  Cargo.toml
Due: dprint

document mutation in docstring
  src/accel/als/solve.rs
Due: rustfmt, license-headers

update icon file(s)
  docs/conf.py
  docs/lenskit-icon.png
  docs/lenskit-wordmark.png
Due: license-headers

add GraphViz diagram to E-R model
  docs/conf.py
  docs/guide/data/model.rst
Due: license-headers

implement model
  docs/guide/data/model.rst
Due: none

add Affinity files for icon
  docs/lenskit-icon.afphoto
  docs/lenskit-wordmark.afdesign
Due: none

simplify progress with RWlock to reduce untested code
  src/accel/progress.rs
Due: rustfmt, license-headers

yeet funksvd conda package
  conda/recipe.yaml
Due: dprint

rename rust package
  Cargo.toml
Due: dprint

set `zero_copy_only=False` in line 367
  src/lenskit/data/attributes.py
Due: license-headers

entropy classes and tests
  src/lenskit/metrics/ranking/_entropy.py
  tests/eval/test_entropy.py
Due: license-headers

use `._weighting` to import rank weight and geometric rank weight
  src/lenskit/metrics/ranking/_entropy.py
Due: license-headers

update test coverage lib name
  mise/tasks/coverage/collect-rust.sh
Due: none

cache suffix to clear caches
  .github/workflows/test.yml
Due: dprint

filter missing `item_nums` and document dataset args
  src/lenskit/metrics/ranking/_entropy.py
Due: license-headers

handle empty item_nums
  src/lenskit/metrics/ranking/_entropy.py
Due: license-headers

update max python dependencies
  uv.lock
Due: none

update rust dependencies
  Cargo.lock
Due: none

bump version
  Cargo.toml
Due: dprint

copy matrix in `cat_matrix`
  src/lenskit/data/attributes.py
Due: license-headers

add ILS
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/ranking/__init__.py
  src/lenskit/metrics/ranking/_ils.py
  tests/eval/test_ils.py
Due: license-headers

bump version for next dev series
  Cargo.lock
Due: none

use `vectors` and documentation update
  src/lenskit/metrics/ranking/_ils.py
Due: license-headers

update imports
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/ranking/__init__.py
Due: license-headers

add a mailmap
  .mailmap
Due: none

upgrade numpy
  uv.lock
Due: none

fix typecheck with numpy
  tests/pipeline/test_types.py
Due: license-headers

fix skips
  tests/pipeline/test_types.py
Due: license-headers

put LightGCN in eval mode after training
  src/lenskit/graphs/lightgcn.py
Due: license-headers

pin Rust version at 1.91.1
  rust-toolchain.toml
Due: dprint

update LICENSE.md
  LICENSE.md
Due: none

Revert "pin Rust version at 1.91.1"
  rust-toolchain.toml
Due: dprint

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
