Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-toml-files, format-yaml-files

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
      - id: check-json
        exclude: \.vscode/.*\.json$
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: format-toml-files
        name: format-toml
        entry: taplo
        args: ["format"]
        files: \.toml$
        language: node
        additional_dependencies:
          - "@taplo/cli"
      - id: format-yaml-files
        name: format-yaml
        files: \.ya?ml$
        exclude: conda-lock.yml
        entry: prettier
        args: [-w]
        language: node
        additional_dependencies:
          - prettier

Notes added by 'git notes add'
  4b/b918ba1e86515383a78b07f882ae88eaf05250
Due: none

Notes added by 'git notes add'
  f0/5bb3691d4205059edb75e3aad9687616ab1eb8
Due: none

Notes added by 'git notes add'
  af/51059150c5cfa298dfc564375daeab36527fb8
Due: none

Notes added by 'git notes add'
  17/d012e6d06543fb1dd870f9bd6c2dcdcbd5611f
Due: none

Notes added by 'git notes add'
  41/2e2eeca05b378d4816f7374b732f5776e85952
Due: none

Notes added by 'git notes add'
  fb/eda5765cb45665c5f602e87928133c2ed77622
Due: none

Notes added by 'git notes add'
  06/474c5f41784dbf708c8cdba8d3b5c83a613fc0
Due: none

Notes added by 'git notes add'
  a9/84a133c8e77d534c6a18eb0e05a6d5c25dbb45
Due: none

Notes added by 'git notes add'
  c1/1075869e18471ee28a2d3fb531d6875b9aedb1
Due: none

Notes added by 'git notes add'
  b8/90338c343f24eb1bd0b34fb74a47638b6a8ccd
Due: none

Notes added by 'git notes add'
  6c/a3bab6bff36cf671ce6ddc7293e355de5c6d94
Due: none

ignore coverage.json
  .gitignore
Due: none

add coverage history script
  utils/import-history.js
Due: none

get coverage hsitory from git notes
  .github/workflows/test.yml
  lkdev/workflows/test.py
  utils/coverage-log.sh
Due: format-yaml-files

install coverage[toml]
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

/bin/bash
  utils/coverage-log.sh
Due: none

relativize file names in coverage tracking
  pyproject.toml
Due: format-toml-files

add silly sqlite fixup
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

add sqlite3 dep to conda
  requirements-test.txt
Due: none

fix thing
  requirements-test.txt
Due: none

use Python script instead of sqlite to fix paths
  .github/workflows/test.yml
  lkdev/workflows/test.py
  requirements-test.txt
  utils/fix-coverage-paths.py
Due: format-yaml-files

remove stray sqlite3 invocation
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

fix cholesky solve docs
  lenskit/lenskit/math/solve.py
Due: none

base ref variable fix
  utils/coverage-log.sh
Due: none

rewrite coverage log in TCL
  .github/workflows/test.yml
  lkdev/workflows/test.py
  utils/coverage-log.sh
  utils/coverage-log.tcl
Due: format-yaml-files

fix reference
  utils/coverage-log.tcl
Due: none

dump workflows for quick test check
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

fix debug command
  lkdev/workflows/test.py
Due: none

rerender
  .github/workflows/test.yml
Due: format-yaml-files

get the upstream history and notes
  .github/workflows/test.yml
  lkdev/workflows/test.py
  utils/coverage-log.tcl
Due: format-yaml-files

fetch coverage notes
  utils/coverage-log.tcl
Due: none

fix step summary env var
  utils/coverage-log.tcl
Due: none

open in append mode
  utils/coverage-log.tcl
Due: none

fix output + coverage check
  .github/workflows/test.yml
  lkdev/workflows/test.py
  utils/coverage-log.tcl
Due: format-yaml-files

fix coverage report upload
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

clean up clean [skip ci]
  justfile
Due: none

better EV checking function
  utils/coverage-log.tcl
Due: none

trigger on changes to coverage script
  .github/workflows/test.yml
  lkdev/workflows/test.py
Due: format-yaml-files

remove unused log module
  lenskit/lenskit/util/__init__.py
  lenskit/lenskit/util/log.py
Due: none

clean up stray import
  lenskit/lenskit/util/__init__.py
Due: none
