Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

docs: update README for setup instructions
  README.md
Due: none

docs: add note on memory use [skip ci]
  README.md
Due: none

dev: fix devcontainer setup script
  .devcontainer/devcontainer.json
Due: dprint

dev: set up devcontainer in 2 stages
  .devcontainer/devcontainer.json
  .devcontainer/setup-final.sh
  .devcontainer/setup.sh
Due: dprint

build: disable hk in conda package builds
  .github/workflows/conda.yml
Due: dprint

build: devcontainer test needs to check out source
  .github/workflows/check-devcontainer.yml
Due: dprint

build: fix how we load the virtual environment
  mise/tasks/build/accel.sh
  mise/tasks/test.sh
Due: none

build: restore name of test
  .github/workflows/check-sources.yml
Due: dprint

build: fix hk.pkl formatting
  hk.pkl
Due: none

deps: add mise lockfile
  mise/mise.lock
Due: none

output git status when fails
  mise/tasks/build/dist.sh
Due: none

build: fix mise-action versions
  .github/workflows/check-sources.yml
  .github/workflows/conda.yml
  .github/workflows/package.yml
  .github/workflows/test.yml
Due: dprint

deps: update locked Python dependencies
  uv.lock
Due: none

accel: update dependencies (compatibly)
  Cargo.lock
Due: none

accel: update pyo3 and arrow
  Cargo.lock
  Cargo.toml
  codebook.toml
  src/accel/cython.rs
Due: rustfmt, dprint, license-headers

build: fix devcontainer test concurrency
  .github/workflows/check-devcontainer.yml
Due: dprint

lock extras
  mise/config.extra.toml
  mise/mise.extra.lock
Due: dprint

config: add reconfigure function for testing config dependency
  src/lenskit/config/__init__.py
Due: license-headers

docs: seealso is a word
  codebook.toml
Due: dprint

config: test and fix types on reconfigure()
  src/lenskit/config/__init__.py
  tests/config/test_config.py
Due: license-headers

build: re-add missing ruff format & lint
  hk.pkl
Due: none

build: ruff linter install
  mise/config.toml
  mise/mise.lock
  src/lenskit/config/__init__.py
Due: dprint, license-headers

build: output test durations for eval tests
  .github/workflows/test.yml
Due: dprint

pipeline: move hook entry creation to hook type
  src/lenskit/pipeline/_builder.py
  src/lenskit/pipeline/_hooks/__init__.py
  src/lenskit/pipeline/config.py
Due: license-headers

pipeline: move config construction to nodes
  src/lenskit/pipeline/_builder.py
  src/lenskit/pipeline/config.py
  src/lenskit/pipeline/nodes.py
  tests/pipeline/test_config_node.py
Due: license-headers

build: add github-actions to dependabot
  .github/dependabot.yml
Due: dprint

build: add Cargo to dependabot
  .github/dependabot.yml
Due: dprint

schemas: add separate package for schemas
  src/lenskit/__init__.py
  src/lenskit/__init__.pyi
  src/lenskit/schemas/__init__.py
Due: license-headers

config: drop unneeded ._load subpackage
  src/lenskit/config/__init__.py
  src/lenskit/config/_load.py
Due: license-headers

pipeline: move schema to lenskit.schemas
  src/lenskit/pipeline/config.py
  src/lenskit/schemas/pipeline.py
Due: license-headers

tuning: move schema to lenskit.schemas
  src/lenskit/cli/tune.py
  src/lenskit/schemas/tuning.py
  src/lenskit/tuning/__init__.py
  src/lenskit/tuning/_base.py
  src/lenskit/tuning/_measure.py
  src/lenskit/tuning/_optuna.py
  src/lenskit/tuning/_ray/job.py
  src/lenskit/tuning/_ray/search.py
  tests/tuning/test_optuna_space.py
  tests/tuning/test_tuner_setup.py
  tests/tuning/test_tuning_specs.py
Due: license-headers

config: move settings schema to lenskit.schemas
  src/lenskit/config/__init__.py
  src/lenskit/schemas/settings.py
Due: license-headers

pipeline: add missing UNSET_CODE import
  src/lenskit/pipeline/config.py
  src/lenskit/schemas/pipeline.py
Due: license-headers

schemas: move config data loading to load_model_data
  src/lenskit/config/__init__.py
  src/lenskit/config/_load.py
  src/lenskit/pipeline/_builder.py
  src/lenskit/schemas/__init__.py
  src/lenskit/schemas/_load.py
  src/lenskit/tuning/spec.py
  tests/config/test_load_data.py
  tests/pipeline/test_human_config.py
Due: license-headers

batch: make individual result rows a named tuple
  src/lenskit/batch/_results.py
  src/lenskit/batch/_runner.py
Due: license-headers

batch: expose queries as an iterator
  src/lenskit/batch/__init__.py
  src/lenskit/batch/_queries.py
  src/lenskit/batch/_runner.py
Due: license-headers

add to codebook
  codebook.toml
Due: dprint

data: assert that saving without a directory fails
  tests/data/test_collection.py
Due: license-headers

data: update some types to `type`
  src/lenskit/data/types.py
Due: license-headers

data: separate Parquet saving into separate writer
  src/lenskit/data/_collection/__init__.py
  src/lenskit/data/_collection/_base.py
  src/lenskit/data/_collection/_parquet.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
