Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

correct matrix symmetry
  src/accel/data/cooc.rs
Due: rustfmt, license-headers

use arrays to count co-occurances
  src/accel/data/pairs/symmetric.rs
Due: rustfmt, license-headers

add script to count co-occurrances
  utils/count-cooc.py
Due: license-headers

use asserts for col index checks
  src/accel/data/pairs/symmetric.rs
Due: rustfmt, license-headers

update release notes
  docs/releases/2026.rst
Due: none

Backport #1008 to 2025.x series.
  src/accel/als/explicit.rs
  src/accel/als/implicit.rs
  src/accel/knn/item_train.rs
  src/accel/progress.rs
  src/accel/sparse/consumer.rs
Due: rustfmt, license-headers

fix PyO3 compatibility for backport
  src/accel/knn/item_train.rs
  src/accel/progress.rs
Due: rustfmt, license-headers

Merge pull request #1007 from mdekstrand/fix/cooc-perf
  Cargo.toml
  mise/tasks/clean.sh
  src/accel/data/cooc.rs
  src/accel/data/mod.rs
  src/accel/data/pairs/asymmetric.rs
  src/accel/data/pairs/mod.rs
  src/accel/data/pairs/symmetric.rs
  src/accel/sparse/coo.rs
  src/accel/sparse/mod.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/relationships.py
  tests/data/test_rel_cooc.py
  utils/count-cooc.py
Due: rustfmt, dprint, license-headers

fix PyO3 compat in cooc
  src/accel/data/cooc.rs
Due: rustfmt, license-headers

update Rust dependencies
  Cargo.lock
  Cargo.toml
  src/accel/data/sampling.rs
Due: rustfmt, dprint, license-headers

update locked dependencies
  uv.lock
Due: none

initialize parallel processing configuration
  src/lenskit/config/__init__.py
Due: license-headers

add non-functional EASE module
  src/lenskit/knn/ease.py
  tests/knn/test_ease.py
Due: license-headers

make knn imports lazy and add EASE
  src/lenskit/knn/__init__.py
  src/lenskit/knn/__init__.pyi
Due: license-headers

data/matrix: add row_nnzs property
  src/lenskit/data/matrix.py
Due: license-headers

fix name of EASE test class
  tests/knn/test_ease.py
Due: license-headers

add item counts to make positive definite
  src/lenskit/knn/ease.py
Due: license-headers

add accuracy test to eASE
  tests/knn/test_ease.py
Due: license-headers

make sure parallelism is configured for training EASE
  src/lenskit/knn/ease.py
Due: license-headers

implement ease scoring
  src/lenskit/knn/ease.py
Due: license-headers

initial pass at implementing EASE
  src/lenskit/knn/ease.py
Due: license-headers

improve logging in EASE
  src/lenskit/knn/ease.py
Due: license-headers

add more cooc logging
  src/accel/data/cooc.rs
Due: rustfmt, license-headers

data: support transposing matrix relationship sets
  src/lenskit/data/relationships.py
  tests/data/test_dataset_matrix.py
Due: license-headers

add COO matrix test
  tests/data/test_matrix.py
Due: license-headers

formalize signature of count_cooc
  src/accel/data/cooc.rs
  src/accel/progress.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/relationships.py
Due: rustfmt, license-headers

make diagonals optional in cooc
  src/accel/data/cooc.rs
  src/accel/data/pairs/symmetric.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/relationships.py
Due: rustfmt, license-headers

don't double-count diagonals
  src/accel/data/cooc.rs
  src/accel/data/pairs/symmetric.rs
Due: rustfmt, license-headers

support both diag and no-diag co-occurrence counts
  src/lenskit/data/matrix.py
  tests/data/test_matrix.py
Due: license-headers

implement dense cooc counts
  src/accel/data/cooc.rs
  src/accel/data/mod.rs
  src/accel/data/pairs/asymmetric.rs
  src/accel/data/pairs/dense.rs
  src/accel/data/pairs/mod.rs
  src/accel/data/pairs/symmetric.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/matrix.py
  tests/data/test_matrix.py
Due: rustfmt, license-headers

use dense cooc for EASE
  src/lenskit/knn/ease.py
Due: license-headers

fix item list return type
  src/lenskit/knn/ease.py
Due: license-headers

increase regularization
  src/lenskit/knn/ease.py
Due: license-headers

add missing - to division
  src/lenskit/knn/ease.py
Due: license-headers

correct multiplication order & clarify non-symmetry
  src/lenskit/knn/ease.py
Due: license-headers

add packaging core dependency
  pyproject.toml
  uv.lock
Due: dprint

Version-gate the EASE scorer
  src/lenskit/knn/ease.py
  tests/knn/test_ease.py
Due: license-headers

add EASE documentation
  docs/guide/scorers.rst
  docs/lenskit.bib
  docs/releases/2026.rst
  src/lenskit/knn/ease.py
Due: license-headers

allow SciPy to invert the matrix in-place
  src/lenskit/knn/ease.py
Due: license-headers

use Torch for Cholesky decomposition
  src/lenskit/knn/ease.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
