Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

data: use old-style type var for UIPair
  src/lenskit/data/types.py
Due: license-headers

add negative gains clipping in NDCG to docs
  src/lenskit/metrics/ranking/_dcg.py
Due: license-headers

hpf: disable MARCH for eval & mindep
  .github/workflows/test.yml
Due: dprint

build: update uv + add cache-busting suffixes
  .github/workflows/test.yml
Due: dprint

splitting: make records private
  src/lenskit/splitting/__init__.py
  src/lenskit/splitting/_records.py
  tests/splitting/test_split_records.py
Due: license-headers

splitting: make split private
  src/lenskit/splitting/__init__.py
  src/lenskit/splitting/_records.py
  src/lenskit/splitting/_split.py
  src/lenskit/splitting/users.py
  src/lenskit/tuning/_iterative.py
Due: license-headers

splitting: make users private
  src/lenskit/splitting/__init__.py
  src/lenskit/splitting/_users.py
  tests/splitting/test_split_users.py
Due: license-headers

splitting: make holdout private
  src/lenskit/splitting/__init__.py
  src/lenskit/splitting/_holdout.py
  src/lenskit/splitting/users.py
  tests/splitting/test_split_holdout.py
  tests/splitting/test_split_users.py
Due: license-headers

splitting: make temporal private
  src/lenskit/splitting/__init__.py
  src/lenskit/splitting/_temporal.py
  tests/batch/test_pipeline_profiling.py
Due: license-headers

slim: add HP search file
  pipelines/slim-search.toml
Due: dprint

rename logging modules to be private
  src/lenskit/data/_container.py
  src/lenskit/knn/item.py
  src/lenskit/logging/__init__.py
  src/lenskit/logging/_config.py
  src/lenskit/logging/_formats.py
  src/lenskit/logging/_monitor.py
  src/lenskit/logging/_processors.py
  src/lenskit/logging/_resource.py
  src/lenskit/logging/_stopwatch.py
  src/lenskit/logging/_tracing.py
  src/lenskit/logging/multiprocess/__init__.py
  src/lenskit/logging/multiprocess/_worker.py
  src/lenskit/logging/tasks.py
  src/lenskit/logging/worker.py
Due: license-headers

remove deprecated util module
  src/lenskit/util.py
Due: license-headers

remove stray imports from .worker
  src/lenskit/parallel/ray.py
  src/lenskit/tuning/_iterative.py
  src/lenskit/tuning/_simple.py
Due: license-headers

bump setup python for package.yml
  .github/workflows/package.yml
Due: dprint

pipeline: implement and document restrictions on pipeline names
  docs/guide/pipeline.rst
  src/lenskit/pipeline/_builder.py
  src/lenskit/pipeline/config.py
  tests/pipeline/test_pipeline.py
Due: license-headers

document name limits
  docs/releases/2026.rst
Due: none

build: package everything that can succeed
  .github/workflows/package.yml
Due: dprint

metrics: remove deprecated k= alias for n=
  src/lenskit/metrics/ranking/_base.py
  src/lenskit/metrics/ranking/_dcg.py
  src/lenskit/metrics/ranking/_gini.py
  src/lenskit/metrics/ranking/_pop.py
  src/lenskit/metrics/ranking/_rbp.py
Due: license-headers

docs: document removed metric
  docs/releases/2026.rst
Due: none

docs: update ranking metric docs
  docs/guide/evaluation/rankings.rst
Due: none

remove legacy user_items use from components
  src/lenskit/basic/bias.py
  src/lenskit/funksvd.py
  src/lenskit/knn/user.py
  src/lenskit/sklearn/svd.py
Due: license-headers

remove legacy user_items from testing
  src/lenskit/testing/_components.py
  tests/integration/test_pipeline_basics.py
Due: license-headers

data/queries: remove legacy user_items
  docs/guide/queries.rst
  docs/releases/2025.rst
  src/lenskit/basic/history.py
  src/lenskit/data/_query.py
  src/lenskit/knn/slim.py
  tests/basic/test_history.py
  tests/data/test_query.py
Due: license-headers

data/queries: update query input types
  src/lenskit/data/_query.py
Due: license-headers

batch: create explicit batch request type and update documentation
  docs/guide/batch.rst
  src/lenskit/batch/__init__.py
  src/lenskit/batch/_queries.py
  src/lenskit/splitting/_split.py
  tests/batch/test_batch_pipeline.py
Due: license-headers

bump Python minimum version
  docs/releases/index.rst
Due: none

docs: fix stability level link
  docs/_ext/lk_stability.py
Due: license-headers

data: improve generic key documentation
  src/lenskit/data/_collection/_keys.py
Due: license-headers

batch: first pass at running with updated queries
  src/lenskit/batch/__init__.py
  src/lenskit/batch/_queries.py
  src/lenskit/batch/_runner.py
  src/lenskit/data/_query.py
Due: license-headers

pipeline: fix typecheck for type aliases
  src/lenskit/pipeline/_types.py
  tests/pipeline/test_types.py
Due: license-headers

batch: fix query input tests
  src/lenskit/batch/_queries.py
  tests/batch/test_batch_pipeline.py
Due: license-headers

tuning: fix thread counts
  src/lenskit/tuning/_search.py
  src/lenskit/tuning/spec.py
Due: license-headers

fix TT split type error
  src/lenskit/tuning/_search.py
Due: license-headers

batch: simplify runner API
  src/lenskit/batch/__init__.py
  src/lenskit/batch/_runner.py
Due: license-headers

batch: document intermediate type
  src/lenskit/batch/_results.py
Due: license-headers

add batch inference update to implicit
  docs/releases/2026.rst
Due: none
