Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

flexmf: update lightgcn pipeline TOML to use FlexMF
  pipelines/lightgcn-search.toml
  pipelines/lightgcn.toml
Due: dprint

flexmf: initial attempt to add LightGCN (#1019)
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_model.py
  src/lenskit/flexmf/_training.py
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

add separate torch-geometric lightgcn
  pipelines/tg-lightgcn.toml
Due: dprint

cli: better output for Ctrl+C
  src/lenskit/cli/__init__.py
Due: license-headers

flexmf: fix average loss output
  src/lenskit/flexmf/_training.py
Due: license-headers

flexmf: go back to update_convolution design
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_model.py
  src/lenskit/flexmf/_training.py
Due: license-headers

training: add basic Torch profiling support
  src/lenskit/cli/train.py
  src/lenskit/training.py
Due: license-headers

flexmf: make LightGCN embedding sizes consistent
  pipelines/lightgcn.toml
  pipelines/tg-lightgcn.toml
Due: dprint

flexmf: update GCN to no longer use out
  src/lenskit/flexmf/_model.py
Due: license-headers

flexmf: make model compilation optional
  src/lenskit/flexmf/_training.py
Due: license-headers

flexmf: fix user layer indexing for explicit regularization
  src/lenskit/flexmf/_model.py
Due: license-headers

flexmf: rename training data matrix -> interactions
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_training.py
Due: license-headers

flexmf: add convolution logging
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_model.py
Due: license-headers

flexmf: fix LightGCN score, profile
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_model.py
  src/lenskit/flexmf/_training.py
Due: license-headers

flexmf: use CSR for convolutions
  src/lenskit/flexmf/_implicit.py
Due: license-headers

flexmf: fix item matrix indices
  src/lenskit/flexmf/_model.py
Due: license-headers

flexmf: actually pass convolution layers to model
  src/lenskit/flexmf/_implicit.py
Due: license-headers

flexmf: refactor convolution and detach weight matrices
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_model.py
  src/lenskit/flexmf/_training.py
Due: license-headers

flexmf: fix convolution neighbor matrix access
  src/lenskit/flexmf/_implicit.py
Due: license-headers

cli: add more nocover pragmas
  src/lenskit/cli/__init__.py
  src/lenskit/cli/train.py
Due: license-headers

flexmf: detach layers when leaving training mode
  src/lenskit/flexmf/_model.py
Due: license-headers

flexmf: remove defaults for bias on FlexMFModel
  src/lenskit/flexmf/_explicit.py
  src/lenskit/flexmf/_model.py
Due: license-headers

add a test
  tests/eval/test_rank_rbp.py
Due: license-headers

flexmf: add LightGCN to release notes
  docs/releases/2026.rst
Due: none

pipeline: rename type_string functions
  src/lenskit/cli/train.py
  src/lenskit/pipeline/builder.py
  src/lenskit/pipeline/cache.py
  src/lenskit/pipeline/config.py
  src/lenskit/pipeline/types.py
  tests/pipeline/test_types.py
Due: license-headers

pipeline: test + support importable function paths
  src/lenskit/pipeline/types.py
  tests/pipeline/test_types.py
Due: license-headers

pipeline: attempt to remove private modules in importable paths (#948)
  src/lenskit/pipeline/types.py
  tests/pipeline/test_types.py
Due: license-headers

pipeline: add release note about configi migration
  docs/releases/2026.rst
Due: none

flexmf: use presets for test configurations
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

flexmf: add presets
  src/lenskit/flexmf/_implicit.py
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

flexmf: document presets and relationships to published papers
  docs/guide/flexmf.rst
Due: none

flexmf: fix negative default tests
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

flexmf: add tests for configuration fallback
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

docs: update LensKit citation keys
  docs/lenskit.bib
  src/lenskit/als/_explicit.py
Due: license-headers

build: add ruff warning for private imports
  pyproject.toml
  src/lenskit/logging/_proxy.py
Due: dprint, license-headers

pipeline: make implementation modules private (#947)
  pyproject.toml
  src/lenskit/basic/composite.py
  src/lenskit/cli/train.py
  src/lenskit/pipeline/__init__.py
  src/lenskit/pipeline/_builder.py
  src/lenskit/pipeline/_cache.py
  src/lenskit/pipeline/_common.py
  src/lenskit/pipeline/_hooks/typecheck.py
  src/lenskit/pipeline/_impl.py
  src/lenskit/pipeline/_runner.py
  src/lenskit/pipeline/_state.py
  src/lenskit/pipeline/_types.py
  src/lenskit/pipeline/components.py
  src/lenskit/pipeline/config.py
  src/lenskit/testing/_components.py
  tests/funksvd/test_funksvd.py
  tests/models/test_knn_item_item.py
  tests/models/test_knn_user_user.py
  tests/pipeline/test_cache.py
  tests/pipeline/test_component_input_hook.py
  tests/pipeline/test_component_util.py
  tests/pipeline/test_config_merge.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_pipeline_runtime_typecheck.py
  tests/pipeline/test_types.py
Due: dprint, license-headers

pipeline: update API reference docs
  docs/api/pipeline.rst
Due: none

pipeline: fix imports elsewhere for new import path
  src/lenskit/basic/composite.py
  src/lenskit/batch/_runner.py
  src/lenskit/testing/_components.py
Due: license-headers

fix ruff error
  docs/conf.py
  mise/tasks/version.py
  utils/version-tool.py
Due: license-headers

tuning: remove unused imports
  src/lenskit/tuning/_iterative.py
  src/lenskit/tuning/_reporting.py
Due: license-headers
