Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

pipeline: refactor pipeline loading to a common loader
  src/lenskit/cli/pipeline/__init__.py
  src/lenskit/cli/pipeline/_load.py
  src/lenskit/cli/pipeline/diagram.py
  src/lenskit/cli/pipeline/expand.py
Due: license-headers

cli: refactor train to use new pipeline load logic
  src/lenskit/cli/pipeline/_load.py
  src/lenskit/cli/train.py
Due: license-headers

cli: test that we can run all LensKit commands
  src/lenskit/cli/__init__.py
  tests/cli/harness.sh
  tests/cli/test-all-help.sh
Due: license-headers

Warn on empty truth and raise on missing gain field
  src/lenskit/metrics/ranking/_dcg.py
  tests/eval/test_rank_ndcg.py
Due: license-headers

ignore pipeline diagrams
  pipelines/.gitignore
Due: none

cli: better harness tests
  mise/task-functions.sh
  tests/cli/harness.sh
  tests/cli/test-pipeline-diagram.sh
Due: none

use mermiad docker for tests
  .github/workflows/test.yml
Due: dprint

restore --output option to train CLI
  src/lenskit/cli/train.py
Due: license-headers

fix mermaid CLI test
  tests/cli/test-pipeline-diagram.sh
Due: none

pull in newer perl for prove
  mise/config.toml
Due: dprint

build: skip perl on windows
  mise/config.toml
Due: dprint

pipeline: fix documentation of component input hook
  src/lenskit/pipeline/_hooks/__init__.py
Due: license-headers

deps: tweak pandas-stubs, re-add pandas 2.2
  pyproject.toml
  uv.lock
Due: dprint

small test to inspect environment
  .github/workflows/test.yml
  tests/test_env.py
Due: dprint, license-headers

add missing license header to test_env.py
  tests/test_env.py
Due: license-headers

build: bump Hypothesis minimum version
  pyproject.toml
  uv.lock
Due: dprint

pipeline: test and partially support generic input types (#1101)
  src/lenskit/pipeline/_builder.py
  tests/pipeline/test_pipeline.py
Due: license-headers

accel: implement accelerator tasks as first-class objects
  src/accel/als/implicit.rs
  src/accel/arrow/mod.rs
  src/accel/lib.rs
  src/accel/tasks/mod.rs
  src/accel/tasks/progress.rs
  src/lenskit/_accel/als.pyi
  src/lenskit/als/_implicit.py
  src/lenskit/parallel/__init__.py
  src/lenskit/parallel/_task.py
Due: rustfmt, license-headers

als: update explicit to cancelable accelerator task
  src/accel/als/explicit.rs
  src/lenskit/_accel/als.pyi
  src/lenskit/als/_explicit.py
Due: rustfmt, license-headers

accel: use task for KNN training
  src/accel/knn/item_train.rs
  src/lenskit/_accel/knn.pyi
  src/lenskit/knn/item.py
Due: rustfmt, license-headers

accel: use accelerator tasks for SLIM
  src/accel/slim/mod.rs
  src/accel/sparse/csr.rs
  src/lenskit/_accel/slim.pyi
  src/lenskit/knn/slim.py
  tests/models/test_slim.py
Due: rustfmt, license-headers

accel: use accel task for co-ocurrences
  src/accel/data/cooc.rs
  src/accel/tasks/atomic.rs
  src/accel/tasks/mod.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/matrix.py
Due: rustfmt, license-headers

accel: remove old progress support
  src/accel/lib.rs
  src/accel/progress.rs
Due: rustfmt, license-headers

Added minibatchNMF and added scikit-learn to packages (#837)
  src/lenskit/sklearn/nmf.py
  tests/sklearn/test_nmf.py
Due: license-headers

refactor(flexmf): address NCF PR review comments
  src/lenskit/flexmf/__init__.py
  src/lenskit/flexmf/_ncf.py
  tests/flexmf/test_flexmf_ncf.py
Due: license-headers

Fix 2026.2.0 release notes
  docs/releases/2026.rst
Due: none

build: update version to 2026.2.0
  Cargo.lock
  Cargo.toml
Due: dprint

docs: add milestone link
  docs/releases/2026.rst
Due: none

Fix array_dcg zero gain handling and align DCG edge-case tests
  src/lenskit/metrics/ranking/_dcg.py
  tests/eval/test_rank_dcg.py
  tests/eval/test_rank_ndcg.py
Due: license-headers

internal: add final_sep option to make_importable_path
  src/lenskit/pipeline/_types.py
Due: license-headers

pipeline: standardize training log messages
  src/lenskit/training.py
Due: license-headers

cli: add log file configuration
  src/lenskit/cli/__init__.py
  src/lenskit/logging/__init__.py
  src/lenskit/logging/_config.py
Due: license-headers

pragma nocover some CLI
  src/lenskit/cli/__init__.py
Due: license-headers

logging: test log verbose config
  src/lenskit/logging/_config.py
  tests/utils/test_log_config.py
Due: license-headers

build: bump version
  Cargo.lock
  Cargo.toml
Due: dprint

docs: update 2026 release notes
  docs/releases/2026.rst
Due: none

data: refactor builder attribute tests with fixture
  tests/data/test_builder_attributes.py
Due: license-headers

data: support Arrow tables for entity attributes
  docs/releases/2026.rst
  src/lenskit/data/_builder.py
  tests/data/test_builder_attributes.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
