Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

docs: add JSON schemas to doc site
  mise/tasks/build/docs.sh
Due: none

docs: add JSON schemas to release notes
  docs/releases/2026.rst
Due: none

schema: add schema export
  src/lenskit/schemas/__main__.py
Due: license-headers

schema: add tests for schema export
  tests/cli/test-schema-export.sh
Due: none

schemas: use argparse instead of docopt for schema export
  src/lenskit/schemas/__main__.py
Due: license-headers

ci: enable manual woodpecker builds
  .woodpecker/dataset-tests.yml
Due: dprint

flexmf: improve torch error handling
  src/lenskit/flexmf/_training.py
Due: license-headers

ci: add CUDA tests
  .woodpecker/cuda-tests.yml
  mise/tasks/ci/cuda-tests.sh
Due: dprint

add query-time pooling for flexMF
  src/lenskit/flexmf/_base.py
  src/lenskit/flexmf/_explicit.py
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_model.py
  tests/flexmf/test_flexmf_explicit.py
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

apply pre-commit hook
  src/lenskit/flexmf/_base.py
  tests/flexmf/test_flexmf_explicit.py
  tests/flexmf/test_flexmf_implicit.py
Due: license-headers

fix formatting issues
  src/lenskit/flexmf/_implicit.py
  src/lenskit/flexmf/_model.py
Due: license-headers

limit pooling to implicit flexmf
  src/lenskit/flexmf/_base.py
  src/lenskit/flexmf/_explicit.py
  src/lenskit/flexmf/_implicit.py
  tests/flexmf/test_flexmf_explicit.py
Due: license-headers

Warn about a missing history component only when one could be missing
  src/lenskit/knn/item.py
  tests/models/test_knn_item_item.py
Due: license-headers

ci: disable PyTorch compilation
  mise/config.ci.toml
Due: dprint

test: report durations by default in test task
  mise/tasks/test.sh
Due: none

ci: separate steps in CUDA test output
  mise/task-functions.sh
  mise/tasks/ci/cuda-tests.sh
Due: none

test: use Woodpecker steps in test CLI
  mise/task-functions.sh
  mise/tasks/ci/data-tests.sh
Due: none

ci: fix step tasks
  mise/task-functions.sh
Due: none

build: re-add pre-commit file
  .pre-commit-config.yaml
Due: dprint

build: fix license headers
  .pre-commit-config.yaml
  src/accel/lib.rs
  src/lenskit/logging/_warnings.py
  src/lenskit/pipeline/config.py
  src/lenskit/schemas/__init__.py
  src/lenskit/schemas/_load.py
  src/lenskit/schemas/settings.py
  src/lenskit/testing/_arrays.py
  src/lenskit/tuning/_optuna/__init__.py
  src/lenskit/tuning/_optuna/point.py
  src/lenskit/tuning/_optuna/results.py
  src/lenskit/tuning/_optuna/search.py
  tests/accel/test_accel_arrow.py
  tests/accel/test_pyon.py
  tests/eval/test_counts.py
  tests/test_operations.py
  tests/tuning/test_optuna_point.py
Due: rustfmt, dprint, license-headers

deps: update ruff
  uv.lock
Due: none

test: fix lint errors in test
  tests/data/test_builder_attributes.py
  tests/data/test_dataset_stats.py
  tests/data/test_itemlist.py
  tests/data/test_load_movielens.py
  tests/models/test_als_implicit.py
  tests/parallel/test_ray_utils.py
  tests/pipeline/test_pipeline_runtime_typecheck.py
Due: license-headers

build: fix updated ruff lints
  src/lenskit/als/_implicit.py
  src/lenskit/basic/bias.py
  src/lenskit/basic/candidates.py
  src/lenskit/batch/_runner.py
  src/lenskit/cli/recommend.py
  src/lenskit/data/_builder.py
  src/lenskit/data/sources/movielens.py
  src/lenskit/flexmf/_model.py
  src/lenskit/logging/_processors.py
  src/lenskit/logging/tasks.py
  src/lenskit/math/solve.py
  src/lenskit/metrics/predict.py
  src/lenskit/metrics/ranking/_dcg.py
  src/lenskit/metrics/ranking/_hit.py
  src/lenskit/metrics/ranking/_pr.py
  src/lenskit/metrics/ranking/_rbp.py
  src/lenskit/metrics/ranking/_recip.py
  src/lenskit/parallel/ray.py
  src/lenskit/random.py
  src/lenskit/testing/_arrays.py
  src/lenskit/training.py
  src/lenskit/tuning/_optuna/results.py
Due: license-headers

build: fix lint in update-headers.py
  utils/update-headers.py
Due: license-headers

build: disable some lint
  pyproject.toml
Due: dprint

deps: add prek to uv package list
  pyproject.toml
  uv.lock
Due: dprint

ci: use prek for static source checks
  .github/workflows/check-sources.yml
Due: dprint

build: hk uninstall when we mise install
  mise/config.toml
Due: dprint

dev: set up prek in dev environment
  .devcontainer/setup-final.sh
Due: none

ci: install rustfmt with rust toolchain
  .github/workflows/check-sources.yml
Due: dprint

ci: use prek action directly
  .github/workflows/check-sources.yml
Due: dprint

ci: we need uv for pre-commit stuff
  .github/workflows/check-sources.yml
Due: dprint

ci: use prek to lint in devcontainer
  .github/workflows/check-devcontainer.yml
Due: dprint

build: remove hk.pkl
  hk.pkl
Due: none

test: add tappy as test dependency
  pyproject.toml
  uv.lock
Due: dprint

build: add shfmt to pre-commit
  .pre-commit-config.yaml
Due: dprint

test: write TAP plans at end of results
  tests/cli/count-tests.pl
  tests/cli/harness.sh
Due: none

test: use tappy to check CLI tests
  tests/cli/run.sh
Due: none
