Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

data: move conversion data into lenskit.data.sources
  src/lenskit/cli/data/convert.py
  src/lenskit/cli/data/describe.py
  src/lenskit/data/__init__.py
  src/lenskit/data/amazon.py
  src/lenskit/data/movielens.py
  src/lenskit/data/sources/__init__.py
  src/lenskit/data/sources/amazon.py
  src/lenskit/data/sources/movielens.py
  src/lenskit/testing/_movielens.py
  tests/data/test_huge.py
  tests/data/test_load_movielens.py
Due: license-headers

data: fix bad file headers
  src/lenskit/data/sources/__init__.py
  src/lenskit/data/sources/movielens.py
Due: license-headers

data: use Rust to parse malformed JSON ("Pyon")
  Cargo.lock
  Cargo.toml
  src/accel/data/mod.rs
  src/accel/data/pyon.rs
  src/lenskit/_accel/data.pyi
  src/lenskit/data/sources/steam.py
Due: rustfmt, dprint, license-headers

data: update CLI for data move + steam
  src/lenskit/cli/data/convert.py
  src/lenskit/cli/data/describe.py
Due: license-headers

data: first pass at Steam
  src/lenskit/data/sources/steam.py
Due: license-headers

data: start defining steam import
  src/lenskit/data/sources/steam.py
Due: license-headers

data: reimplement parsing in a PEG
  Cargo.lock
  Cargo.toml
  src/accel/data/pyon.rs
Due: rustfmt, dprint, license-headers

data: several fixes to get steam import working
  src/lenskit/data/_builder.py
  src/lenskit/data/sources/steam.py
Due: license-headers

data: move msweb + fix CLI imports
  src/lenskit/cli/data/convert.py
  src/lenskit/cli/data/describe.py
  src/lenskit/data/msweb.py
  src/lenskit/data/sources/msweb.py
  src/lenskit/data/sources/steam.py
  src/lenskit/testing/_msweb.py
Due: license-headers

accel: update license header
  src/accel/data/pyon.rs
Due: rustfmt, license-headers

deps: upgrade arrow
  uv.lock
Due: none

data: working Steam import (for AU data)
  src/lenskit/data/sources/steam.py
Due: license-headers

build: see what happens when we have an environment
  .github/workflows/test.yml
Due: dprint

build: add tests for Steam data conversion
  .github/workflows/test.yml
  tests/cli/test-data-convert.sh
Due: dprint

test: fix test counting
  tests/cli/count-tests.pl
Due: none

cli: fix cli import
  src/lenskit/cli/__init__.py
Due: license-headers

set version
  Cargo.lock
  Cargo.toml
Due: dprint

docs: 2026.2.1 release notes
  docs/releases/2026.rst
Due: none

build: fix automatic versions
  src/lenskit/_version.py
Due: license-headers

ci: test all CLI in eval tests
  .github/workflows/test.yml
Due: dprint

cli: support --steam option for data convert
  src/lenskit/cli/data/convert.py
Due: license-headers

docs: add steam to release notes
  docs/releases/2026.rst
Due: none

update locked dep versions
  uv.lock
Due: none

update rust deps
  Cargo.lock
Due: none

fix comment typo
  src/lenskit/flexmf/_implicit.py
Due: license-headers

deps: update locked dependency versions
  uv.lock
Due: none

knn: add component test for implicit feedback
  tests/models/test_knn_item_item.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
