Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

clean up and make explicit exports
  docs/_templates/python/module.rst
  docs/conf.py
Due: license-headers

limit exports in KNN internal modules
  src/lenskit/knn/ease.py
  src/lenskit/knn/item.py
  src/lenskit/knn/slim.py
  src/lenskit/knn/user.py
Due: license-headers

build: simplify environment for doc build
  .github/workflows/docs.yml
Due: dprint

docs: fix reference roles in aliases
  docs/_templates/python/module.rst
Due: none

docs: fix imports for doc build
  docs/conf.py
  pyproject.toml
  uv.lock
Due: dprint, license-headers

docs: add doctstring to fix doc failure
  src/lenskit/data/schema.py
Due: license-headers

move Lazy type and add const/thunk functions (#1047)
  src/lenskit/lazy.py
  tests/utils/test_lazy.py
Due: license-headers

pipeline: remove embedded Lazy in favor of lenskit.lazy
  src/lenskit/pipeline/__init__.py
  src/lenskit/pipeline/_runner.py
  src/lenskit/pipeline/_types.py
  src/lenskit/pipeline/components.py
  tests/pipeline/test_component_input_hook.py
  tests/pipeline/test_component_util.py
  tests/pipeline/test_pipeline_runtime_typecheck.py
Due: license-headers

docs: add lenskit.lazy
  docs/api/index.rst
Due: none

decrease minimum pyyaml
  pyproject.toml
  uv.lock
Due: dprint

use updated uv syntax for mindep
  .github/workflows/test.yml
Due: dprint

bump hypothesis mindep
  pyproject.toml
  uv.lock
Due: dprint

pipeline: update runner to type param syntax
  src/lenskit/pipeline/_runner.py
Due: license-headers

pipeline: update hooks to type var syntax
  src/lenskit/pipeline/_hooks/__init__.py
Due: license-headers

pipeline: catch Python 3.12 bug error
  src/lenskit/pipeline/components.py
Due: license-headers

pipeline: roll back to fallback type
  src/lenskit/pipeline/components.py
Due: license-headers

pipeline: use overload to fix fallback type checks
  src/lenskit/pipeline/components.py
Due: license-headers

pipeline: simplify component type variables
  src/lenskit/pipeline/_builder.py
  src/lenskit/pipeline/_cache.py
  src/lenskit/pipeline/_state.py
  src/lenskit/pipeline/_types.py
  src/lenskit/pipeline/components.py
Due: license-headers

pipeline: update nodes & builder to type var syntax
  src/lenskit/pipeline/_builder.py
  src/lenskit/pipeline/nodes.py
Due: license-headers

fail-fast on train test
  tests/cli/test-train.sh
Due: none

pipeline: filter out type variables from types
  src/lenskit/pipeline/components.py
Due: license-headers

pipeline: update impl to type var syntax
  src/lenskit/pipeline/_impl.py
Due: license-headers

pipeline: use compatibility wrapper for broken get_type_hints
  pyproject.toml
  src/lenskit/pipeline/components.py
  uv.lock
Due: dprint, license-headers

pipeline: add public API to inspect node (#973)
  src/lenskit/pipeline/_impl.py
  tests/pipeline/test_pipeline.py
Due: license-headers

pipeline: add default_node method to builder (#972)
  src/lenskit/pipeline/_builder.py
Due: license-headers

metrics: further collector updates
  src/lenskit/metrics/_collect.py
Due: license-headers

data: add accumulator protocol and data structure
  src/lenskit/data/accum/__init__.py
  src/lenskit/data/accum/_object.py
  src/lenskit/data/accum/_proto.py
  src/lenskit/data/accum/_value.py
  tests/data/test_value_accumulator.py
Due: license-headers

metrics: update metrics to implement accumulators
  src/lenskit/metrics/_base.py
  src/lenskit/metrics/basic.py
  src/lenskit/metrics/ranking/_gini.py
Due: license-headers

metrics: rework measurement collector to use accumuators
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/_base.py
  src/lenskit/metrics/_collect.py
Due: license-headers

metrics: fix measurement collector tests
  src/lenskit/metrics/_base.py
  tests/eval/test_measurement_collector.py
Due: license-headers

predict: more deprecation notes
  src/lenskit/metrics/bulk.py
Due: license-headers

metrics: remove GlobalMetric
  docs/guide/evaluation/rankings.rst
  docs/releases/2026.rst
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/_base.py
  src/lenskit/metrics/_collect.py
  tests/eval/test_bulk_metrics.py
  tests/eval/test_measurement_collector.py
Due: license-headers

data: skip split accum test
  tests/data/test_value_accumulator.py
Due: license-headers

metrics: fix RMSE & MAE for new interfaces
  docs/releases/2026.rst
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/predict.py
  tests/eval/test_predict_metrics.py
Due: license-headers

more doc cleanup + call_metric rename
  docs/guide/batch.rst
  docs/guide/documenting.rst
  docs/guide/evaluation/predictions.rst
  docs/guide/migrating.rst
  docs/releases/2026.rst
  src/lenskit/metrics/__init__.py
Due: license-headers

docs: try to fix RBP example
  docs/guide/batch.rst
Due: none

Rerun the getting-started notebook
  docs/guide/GettingStarted.ipynb
Due: none

metrics: expose collector key fields
  src/lenskit/metrics/_collect.py
  tests/eval/test_measurement_collector.py
Due: license-headers

metrics: rework run analysis to be deprecated shim
  docs/releases/2026.rst
  src/lenskit/metrics/_collect.py
  src/lenskit/metrics/bulk.py
  tests/eval/test_bulk_metrics.py
Due: license-headers

predict: fix gini & note in release notes
  docs/releases/2026.rst
  src/lenskit/metrics/ranking/_gini.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
