Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

knn/slim: add comments on implementation
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: First draft of a SLIM scorer
  src/lenskit/knn/slim.py
  tests/models/test_slim.py
Due: license-headers

knn/slim: remove unused parameters
  src/accel/slim/mod.rs
  src/lenskit/_accel/slim.pyi
  src/lenskit/knn/slim.py
  tests/models/test_slim.py
Due: rustfmt, license-headers

knn: export SLIM
  src/lenskit/knn/__init__.py
Due: license-headers

knn/slim: suppress inlining of compute_column function
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: add SLIM configuration file
  pipelines/slim.toml
Due: dprint

fix comment
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: implement fsSLIM
  pipelines/slim.toml
  src/accel/slim/mod.rs
  src/accel/sparse/csr.rs
  src/lenskit/_accel/slim.pyi
  src/lenskit/knn/slim.py
Due: rustfmt, dprint, license-headers

knn/slim: remove redundant active checking
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: adjust expected NDCG
  tests/models/test_slim.py
Due: license-headers

knn/accel: increase tolerance slightly
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

fix SLIM computation
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: skip neighborhoods with no users
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: fuse loops to compute update
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: more work on user lists
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: improve profile-ability
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

data: add CSR nnz method
  src/lenskit/data/matrix.py
  tests/data/test_arrow_sparse.py
Due: license-headers

Revert "knn/slim: remove unused parameters"
  src/accel/slim/mod.rs
  src/lenskit/_accel/slim.pyi
  src/lenskit/knn/slim.py
  tests/models/test_slim.py
Due: rustfmt, license-headers

knn/slim: use Vec instead of ndarray
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: update to new trainable
  src/lenskit/knn/slim.py
Due: license-headers

knn/slim: use mutable workspace to reduce SLIM compute time
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: improve optimizer comments
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: implement SLIM optimizer (untested)
  src/accel/slim/mod.rs
  src/lenskit/_accel/__init__.pyi
  src/lenskit/_accel/slim.pyi
Due: rustfmt, license-headers

knn: fix slim submodule
  src/lenskit/knn/__init__.py
Due: license-headers

knn/slim: fix neighborhood counting
  src/accel/slim/mod.rs
Due: rustfmt, license-headers

knn/slim: update defaults
  src/lenskit/knn/slim.py
Due: license-headers

docs: add SLIM to release notes
  docs/releases/2026.rst
Due: none

knn/slim: improve SLIMScorer documentation
  src/lenskit/knn/slim.py
Due: license-headers

bump target version
  Cargo.lock
  Cargo.toml
Due: dprint

Backport pull request #896 to 2025 release series
  docs/guide/scorers.rst
  pipelines/slim.toml
  src/accel/lib.rs
  src/accel/slim/mod.rs
  src/accel/sparse/csr.rs
  src/lenskit/_accel/__init__.pyi
  src/lenskit/_accel/slim.pyi
  src/lenskit/data/matrix.py
  src/lenskit/knn/__init__.py
  src/lenskit/knn/slim.py
  tests/data/test_arrow_sparse.py
  tests/models/test_slim.py
Due: rustfmt, dprint, license-headers

knn/slim: fix retrain
  src/lenskit/knn/slim.py
Due: license-headers

docs: cross-link training environment variables
  docs/guide/implementing.rst
  src/lenskit/knn/ease.py
Due: license-headers

docs: try to clean up some *k*-NN docs
  docs/api/index.rst
  docs/api/knn.rst
  src/lenskit/knn/__init__.py
Due: license-headers

docs: exclude UserRatings from docs
  src/lenskit/knn/user.py
Due: license-headers

accel: register custom classes in module
  src/accel/data/coordinates.rs
  src/accel/data/index.rs
  src/accel/funksvd.rs
  src/accel/logging.rs
Due: rustfmt, license-headers

docs: prototype using python-autoapi
  docs/_templates/python/module.rst
  docs/api-ng/.gitignore
  docs/api-ng/index.rst
  docs/conf.py
  docs/index.rst
  pyproject.toml
  uv.lock
Due: dprint, license-headers

add canonical entries
  docs/_templates/python/class.rst
Due: none

docs: switch to autoapi docs
  docs/api-ng/.gitignore
  docs/api-ng/index.rst
  docs/api/.gitignore
  docs/api/batch.rst
  docs/api/config.rst
  docs/api/data-types.rst
  docs/api/data.rst
  docs/api/diagnostics.rst
  docs/api/index.rst
  docs/api/knn.rst
  docs/api/metrics.rst
  docs/api/operations.rst
  docs/api/pipeline.rst
  docs/api/splitting.rst
  docs/api/state.rst
  docs/api/training.rst
  docs/conf.py
  docs/index.rst
  mise/tasks/clean.sh
Due: license-headers

fix several references and knn docs
  docs/conf.py
  docs/guide/data/index.rst
  docs/guide/evaluation/rankings.rst
  docs/guide/other-components.rst
  docs/guide/scorers.rst
  docs/guide/splitting.rst
  src/lenskit/knn/__init__.pyi
Due: license-headers

docs: fix canonical path
  docs/_templates/python/class.rst
Due: none
