Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: python
  entry: python utils/update-headers.py --error-on-change --
  additional_dependencies:
  - docopt-ng >=0.9.0
  - unbeheader ~=1.3

fix LightGCN list lengths
  src/lenskit/graphs/lightgcn.py
Due: license-headers

small reordering to simplify profiling
  src/lenskit/graphs/lightgcn.py
Due: license-headers

reasonable number of synchronizations
  src/lenskit/graphs/lightgcn.py
Due: license-headers

rip out PyG data structures for now
  src/lenskit/graphs/data.py
  tests/graphs/test_data_convert.py
Due: license-headers

skip geom tests when not available
  tests/graphs/__init__.py
Due: license-headers

convert tensors to int64 in trainign
  src/lenskit/graphs/lightgcn.py
Due: license-headers

Int64 query node IDs
  src/lenskit/graphs/lightgcn.py
Due: license-headers

more consistent data types
  src/lenskit/graphs/lightgcn.py
Due: license-headers

document and test extent
  src/lenskit/data/types.py
  tests/data/test_data_types.py
Due: license-headers

fix test
  tests/data/test_data_types.py
Due: license-headers

draft a couple of pipeline configs
  pipelines/flexmf-bpr.toml
  pipelines/flexmf-warp.toml
Due: dprint

initial test for loading a configuration
  pipelines/als-implicit.toml
  src/lenskit/config/__init__.py
  tests/pipeline/test_human_config.py
Due: dprint, license-headers

properly validate example configs
  pipelines/als-implicit.toml
  pipelines/flexmf-bpr.toml
  pipelines/flexmf-warp.toml
  src/lenskit/pipeline/config.py
Due: dprint, license-headers

add test for loading a configuration
  tests/pipeline/test_human_config.py
Due: license-headers

remove vestigal arg docs from stochastic ranker
  src/lenskit/stochastic/_ranker.py
Due: license-headers

clean up stochastic ranker parameter docs
  src/lenskit/stochastic/_ranker.py
Due: license-headers

refactor parameters in builder docs
  src/lenskit/data/builder.py
Due: license-headers

remove out-of-date update note
  docs/releases/index.rst
Due: none

fix bluesky link
  docs/index.rst
Due: none

implement load_config method
  src/lenskit/pipeline/_impl.py
Due: license-headers

simplify type string parsing
  src/lenskit/pipeline/types.py
Due: license-headers

delegate to type string parsing
  src/lenskit/pipeline/components.py
Due: license-headers

rename parse_type_string and update docs
  src/lenskit/cli/train.py
  src/lenskit/pipeline/builder.py
  src/lenskit/pipeline/components.py
  src/lenskit/pipeline/types.py
  tests/pipeline/test_types.py
Due: license-headers

update human config test
  tests/pipeline/test_human_config.py
Due: license-headers

add placeholder component
  src/lenskit/pipeline/components.py
Due: license-headers

forbid pipeline inputs starting with _
  docs/guide/pipeline.rst
  docs/releases/2025.rst
Due: none

implement basic std:topn-n extension
  src/lenskit/pipeline/builder.py
  src/lenskit/pipeline/common.py
  src/lenskit/pipeline/config.py
Due: license-headers

support both `mean` and `value` columns
  src/lenskit/metrics/bulk.py
Due: license-headers

implement working top-N prediction base
  pipelines/als-explicit.toml
  src/lenskit/pipeline/builder.py
  src/lenskit/pipeline/common.py
  tests/pipeline/test_human_config.py
Due: dprint, license-headers

support options to pipeline bases
  src/lenskit/pipeline/builder.py
  src/lenskit/pipeline/common.py
  src/lenskit/pipeline/config.py
  tests/pipeline/test_human_config.py
Due: license-headers

add config to release notes
  docs/releases/2025.rst
Due: none

test extension configurations
  src/lenskit/pipeline/common.py
  tests/pipeline/test_human_config.py
Due: license-headers

add and test config file to train CLI
  src/lenskit/cli/train.py
  tests/cli/test_train.py
Due: license-headers

add tests for `_base.py`
  tests/eval/test_base.py
Due: license-headers

fix gz out
  tests/cli/test_train.py
Due: license-headers

add pipelines to conda
  conda/recipe.yaml
Due: dprint

only scripting env for conda package build
  .github/workflows/conda.yml
  mise/tasks/version.py
  pyproject.toml
  uv.lock
Due: dprint, license-headers

test load_config_data and fix yml
  src/lenskit/config/__init__.py
  tests/config/hello.json
  tests/config/hello.toml
  tests/config/hello.yaml
  tests/config/hello.yml
  tests/config/test_load_data.py
Due: dprint, license-headers

benchmark negatives + simplify unweighted sample
  src/lenskit/data/relationships.py
  tests/benchmarks/benchmark_negatives.py
Due: license-headers

rough pass at pure-Rust negative sampling
  src/accel/data/coordinates.rs
  src/accel/data/mod.rs
  src/accel/lib.rs
  src/accel/sampling.rs
  tests/benchmarks/benchmark_negatives.py
Due: rustfmt, license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
