Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

tune: fix optuna trial reports
  src/lenskit/tuning/_optuna.py
  tests/tuning/test_iterative_tuning.py
Due: license-headers

parallel tuning in CI
  .github/workflows/test.yml
Due: dprint

tune: restore tune test limit
  tests/tuning/test_iterative_tuning.py
Due: license-headers

tune: handle multithreaded tasks
  src/lenskit/logging/tasks.py
  src/lenskit/tuning/_optuna.py
Due: license-headers

logging: fix task stack
  src/lenskit/logging/tasks.py
Due: license-headers

tune: fix JSON serialization
  src/lenskit/cli/tune.py
Due: license-headers

tune: fix optuna epoch count type
  src/lenskit/tuning/_optuna.py
Due: license-headers

tune: update test to check correct file
  tests/cli/test-tune.sh
Due: none

util: add a Latch class
  src/lenskit/util/__init__.py
  src/lenskit/util/_latch.py
  tests/utils/test_latch.py
Due: license-headers

accel: add atomic integer
  src/accel/lib.rs
  src/accel/util/atomic.rs
  src/accel/util/mod.rs
  src/lenskit/_accel/__init__.pyi
Due: rustfmt, license-headers

logging: increase monitor interval + suppress repeated Prometheus warnings
  src/lenskit/logging/multiprocess/_monitor.py
  src/lenskit/logging/tasks.py
Due: license-headers

feat(flexmf): add Neural Collaborative Filtering (NCF) model
  src/lenskit/flexmf/_ncf.py
  tests/flexmf/test_flexmf_ncf.py
Due: license-headers

style: fix linting and formatting issues
  src/lenskit/flexmf/_ncf.py
  tests/flexmf/test_flexmf_ncf.py
Due: license-headers

accel: update Rust Arrow version for security fixes
  Cargo.lock
Due: none

accel: update other Rust dependencies
  Cargo.lock
  Cargo.toml
Due: dprint

accel: bump direct ndarray version
  Cargo.lock
  Cargo.toml
Due: dprint

pipeline: add test for merging configuration
  tests/pipeline/candidate-override.json
  tests/pipeline/test_config_merge.py
Due: dprint, license-headers

cli: add lenskit pipeline expand to show full configs
  pyproject.toml
  src/lenskit/cli/pipeline/__init__.py
  src/lenskit/cli/pipeline/_group.py
  src/lenskit/cli/pipeline/expand.py
Due: dprint, license-headers

pipeline: explicitly mark apply_config as internal
  src/lenskit/pipeline/_builder.py
Due: license-headers

pipeline: move merge test into human tests
  tests/pipeline/test_config_merge.py
  tests/pipeline/test_human_config.py
Due: license-headers

pipeline: better tests for config merging
  tests/pipeline/test_config_merge.py
  tests/pipeline/test_human_config.py
Due: license-headers

[WIP] pipeline: busted attempt to fix config
  src/lenskit/pipeline/_builder.py
  src/lenskit/pipeline/config.py
Due: license-headers

fix graded NDCG crashes for invalid gain values
  src/lenskit/metrics/ranking/_dcg.py
  tests/eval/test_rank_ndcg.py
Due: license-headers

pipeline: implement working, filtered config merging
  src/lenskit/pipeline/config.py
  tests/pipeline/test_config_merge.py
  tests/pipeline/test_human_config.py
Due: license-headers

deps: remove deepmerge dependency
  conda/recipe.yaml
  pyproject.toml
  tests/pipeline/test_config_merge.py
  uv.lock
Due: dprint, license-headers

pipeline: use make_importable_path to simplify component code
  src/lenskit/pipeline/config.py
  tests/pipeline/test_types.py
Due: license-headers

cli: add integration test for pipeline expand
  tests/cli/test-pipeline-expand.sh
Due: none

pipeline: fix lint problem
  src/lenskit/pipeline/_builder.py
Due: license-headers

pipeline: consistently use ':' for type output
  src/lenskit/pipeline/_types.py
  tests/cli/test-pipeline-expand.sh
  tests/pipeline/__init__.py
  tests/pipeline/test_fallback.py
  tests/pipeline/test_lazy.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_types.py
Due: license-headers

deps: bump minimum Pydantic version
  pyproject.toml
  uv.lock
Due: dprint

pipeline: clean up config coverage
  src/lenskit/pipeline/config.py
Due: license-headers

cli: add Python pipeline expand tests for error handling
  tests/cli/test_pipeline_expand.py
Due: license-headers

docs: update release notes with pipeline bug / expansion
  docs/releases/2026.rst
Due: none

pipeline: add termaid and get diagrams working
  pyproject.toml
  src/lenskit/cli/pipeline/diagram.py
  src/lenskit/pipeline/__init__.py
  src/lenskit/pipeline/_diagram.py
  src/lenskit/util/_indent.py
  uv.lock
Due: dprint, license-headers

pipeline: improve mermaid output
  src/lenskit/pipeline/_diagram.py
Due: license-headers

pipeline: first pass at auto-rendering Mermaid diagrams
  src/lenskit/cli/pipeline/__init__.py
  src/lenskit/cli/pipeline/diagram.py
  src/lenskit/pipeline/__init__.py
  src/lenskit/pipeline/_diagram.py
  src/lenskit/util/__init__.py
  src/lenskit/util/_indent.py
Due: license-headers

pipeline: clean up diagram output logic
  src/lenskit/cli/pipeline/diagram.py
Due: license-headers

cli: add pipeline diagram test + improve test logs
  mise/config.toml
  tests/cli/count-tests.pl
  tests/cli/harness.sh
  tests/cli/test-pipeline-diagram.sh
Due: dprint

pipeline: make termaid optional
  pyproject.toml
  src/lenskit/cli/pipeline/diagram.py
  uv.lock
Due: dprint, license-headers

pipeline: revise the mermaid rendering
  src/lenskit/cli/pipeline/diagram.py
  src/lenskit/pipeline/_diagram.py
Due: license-headers
