Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
      - id: check-added-large-files
        exclude: pixi\.lock$
      - id: check-json
        exclude: \.(vscode|devcontainer)/.*\.json$
      - id: check-merge-conflict
        exclude: (data/.*/README\.md|\.rst)$
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: rustfmt
        name: format rust
        entry: rustfmt --edition 2021
        language: system
        types_or:
          - rust

      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        additional_dependencies:
          - dprint

      - id: license-headers
        name: add license headers
        language: system
        entry: ./utils/update-headers.py --error-on-change
        types_or:
          - python
          - rust

tuning: use SearchPoint abstraction to fix tuning points
  src/lenskit/tuning/_optuna/point.py
  src/lenskit/tuning/_optuna/results.py
  src/lenskit/tuning/_optuna/search.py
  tests/tuning/test_optuna_point.py
Due: license-headers

tuning: fix pow2 sample scale
  src/lenskit/tuning/_optuna/point.py
Due: license-headers

tuning: include Optuna params in result
  src/lenskit/tuning/_optuna/results.py
Due: license-headers

tuning: fix parameter name of optuna sample
  src/lenskit/tuning/_optuna/point.py
Due: license-headers

tuning: fix log2 space test for new point
  tests/tuning/test_optuna_space.py
Due: license-headers

tuning: add tests for Optuna points and fix bug
  src/lenskit/tuning/_optuna/point.py
  tests/tuning/test_optuna_point.py
  tests/tuning/test_optuna_space.py
Due: license-headers

add repository codecov.yml
  codecov.yml
Due: dprint

tuning: add and test Point class
  src/lenskit/tuning/_optuna/point.py
  tests/tuning/test_optuna_point.py
Due: license-headers

tuning: reduce bias trials
  tests/tuning/test_basic_tuning.py
Due: license-headers

tuning: reduce min epochs
  tests/tuning/test_iterative_tuning.py
Due: license-headers

tuning: speed up tuning unit/integration tests
  tests/tuning/test_iterative_tuning.py
Due: license-headers

eval: remove CLI tests from main eval test run
  .github/workflows/eval.yml
Due: dprint

eval: rename evaluation test suite
  .github/workflows/eval.yml
Due: dprint

deps: update env deps
  mise/mise.lock
Due: none

data: make summary Markdown optional
  src/lenskit/cli/data/convert.py
  src/lenskit/data/_container.py
  src/lenskit/data/_dataset.py
Due: license-headers

data: explicitly handle time zones in filters
  src/lenskit/data/_builder.py
  tests/data/test_builder_filter.py
Due: license-headers

docs: document time zone fix
  docs/releases/2026.rst
  src/lenskit/data/_builder.py
Due: license-headers

build: enable ruff default lints
  pyproject.toml
Due: dprint

lint: add words to spelling dictionary
  codebook.toml
Due: dprint

fix invalid NOQA
  tests/eval/test_bulk_metrics.py
Due: license-headers

data: explicitly handle time zones in filters
  tests/data/test_builder_filter.py
Due: license-headers

deps: update to new Ruff
  mise/mise.lock
  pyproject.toml
  uv.lock
Due: dprint

cli: fix updated lint errors
  src/lenskit/cli/__init__.py
  src/lenskit/cli/data/__init__.py
  src/lenskit/cli/data/split.py
  src/lenskit/cli/data/subset.py
  src/lenskit/cli/doctor.py
  src/lenskit/cli/pipeline/__init__.py
  src/lenskit/cli/profile/__init__.py
  src/lenskit/cli/profile/summarize.py
  src/lenskit/cli/recommend.py
  src/lenskit/cli/tune.py
Due: license-headers

splitting: fix updated lint errors
  src/lenskit/splitting/__init__.py
  src/lenskit/splitting/_records.py
  src/lenskit/splitting/_split.py
  src/lenskit/splitting/_temporal.py
  src/lenskit/splitting/_users.py
Due: license-headers

metrics: fix updated lint errors
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/_base.py
  src/lenskit/metrics/predict.py
  src/lenskit/metrics/ranking/__init__.py
  src/lenskit/metrics/ranking/_base.py
  src/lenskit/metrics/ranking/_dcg.py
  src/lenskit/metrics/ranking/_gini.py
  src/lenskit/metrics/ranking/_hit.py
  src/lenskit/metrics/ranking/_map.py
  src/lenskit/metrics/ranking/_pop.py
  src/lenskit/metrics/ranking/_pr.py
  src/lenskit/metrics/ranking/_rbp.py
  src/lenskit/metrics/ranking/_recip.py
  src/lenskit/metrics/reranking/_lip.py
Due: license-headers

build: make hk format names consistent
  hk.pkl
Due: none

clean up lints on LensKit primary imports + accel
  src/lenskit/__init__.pyi
  src/lenskit/_accel/__init__.pyi
  src/lenskit/_accel/data.pyi
Due: none

logging: fix updated lint errors
  src/lenskit/logging/__init__.py
  src/lenskit/logging/_config.py
  src/lenskit/logging/_console.py
  src/lenskit/logging/_formats.py
  src/lenskit/logging/_limit.py
  src/lenskit/logging/_processors.py
  src/lenskit/logging/_resource.py
  src/lenskit/logging/_stopwatch.py
  src/lenskit/logging/_tracing.py
  src/lenskit/logging/multiprocess/__init__.py
  src/lenskit/logging/multiprocess/_monitor.py
  src/lenskit/logging/multiprocess/_records.py
  src/lenskit/logging/multiprocess/_worker.py
  src/lenskit/logging/progress/__init__.py
  src/lenskit/logging/progress/_base.py
  src/lenskit/logging/progress/_dispatch.py
  src/lenskit/logging/progress/_formats.py
  src/lenskit/logging/progress/_handles.py
  src/lenskit/logging/progress/_notebook.py
  src/lenskit/logging/progress/_rich.py
  src/lenskit/logging/tasks.py
Due: license-headers

fair: fix updated lint errors
  src/lenskit/reranking/fair.py
Due: license-headers

build: add TOML formatting to pre-commit
  hk.pkl
Due: none

batch: fix updated lint errors
  src/lenskit/batch/__init__.py
  src/lenskit/batch/_results.py
  src/lenskit/batch/_runner.py
Due: license-headers

basic: fix updated lint errors
  src/lenskit/basic/__init__.py
  src/lenskit/basic/bias.py
  src/lenskit/basic/candidates.py
  src/lenskit/basic/history.py
  src/lenskit/basic/popularity.py
Due: license-headers

schemas: fix updated lint errors
  src/lenskit/schemas/__init__.py
  src/lenskit/schemas/pipeline.py
  src/lenskit/schemas/settings.py
  src/lenskit/schemas/tuning.py
Due: license-headers

sklearn: fix updated lint errors
  src/lenskit/sklearn/nmf.py
  src/lenskit/sklearn/svd.py
Due: license-headers
