Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

update release notes
  docs/releases/2026.rst
Due: none

als: fix test
  tests/models/test_als_implicit.py
Due: license-headers

data: make RecQuery keyword-only
  docs/releases/2026.rst
  src/lenskit/data/_query.py
Due: license-headers

data: add query_time (#955)
  src/lenskit/data/_query.py
Due: license-headers

basic: fix RecQuery in tests
  tests/basic/test_candidates.py
  tests/basic/test_history.py
Due: license-headers

fix tests for RecQuery kw-only changes
  tests/models/test_als_explicit.py
  tests/models/test_als_implicit.py
  tests/models/test_knn_user_user.py
  tests/pipeline/test_types.py
Due: license-headers

remove lenskit-gnn conda package
  conda/recipe.yaml
Due: dprint

update docs for 2026 release
  docs/api/index.rst
  docs/conf.py
  docs/guide/index.rst
  docs/guide/scorers.rst
  docs/releases/2026.rst
  src/lenskit/__init__.pyi
  src/lenskit/graphs/__init__.pyi
  src/lenskit/knn/__init__.pyi
  src/lenskit/state/__init__.py
Due: license-headers

eval: add list metric convenience functions
  docs/guide/GettingStarted.ipynb
  docs/guide/evaluation/collection.rst
  src/lenskit/metrics/__init__.py
  src/lenskit/metrics/_base.py
  src/lenskit/metrics/_collect.py
  src/lenskit/metrics/bulk.py
  tests/eval/test_measurement_collector.py
Due: license-headers

fix doc example
  docs/guide/batch.rst
Due: none

links in 2026 release notes
  docs/releases/2026.rst
Due: none

2025.8 release notes
  docs/releases/2025.rst
Due: none

data/accum: fix bug in accumulator resize
  src/lenskit/data/accum/_value.py
Due: license-headers

update verison
  Cargo.lock
  Cargo.toml
Due: dprint

build: bump version
  Cargo.lock
  Cargo.toml
Due: dprint

data/items: add explicit __bool__ to ItemList
  src/lenskit/data/_items.py
Due: license-headers

data/vocab: fix passing string arrays to Vocabulary.numbers
  src/lenskit/data/_vocab.py
Due: license-headers

data: add list() and value() accessors to entity attributes
  src/lenskit/data/_attributes.py
Due: license-headers

data: fix type cast for string indexes
  src/accel/indirect/hashing/content_string.rs
Due: rustfmt, license-headers

data: add JSON export support to item list collection
  src/lenskit/data/_collection/_base.py
  tests/data/test_collection.py
Due: license-headers

data: debug to_json
  src/lenskit/data/_adapt.py
  src/lenskit/data/_collection/_base.py
  tests/data/test_collection.py
  tests/data/test_convert_util.py
Due: license-headers

data: use Arrow to convert ILC to Pandas
  src/lenskit/data/_collection/_base.py
  tests/data/test_collection.py
Due: license-headers

data: add tests for new attribute methods
  tests/data/test_attribute.py
Due: license-headers

data: add JSON conversion to item lists
  src/lenskit/data/_items.py
  tests/data/test_itemlist.py
Due: license-headers

fix test
  docs/guide/batch.rst
Due: none

docs: release notes for entity & recommend updates
  docs/releases/2026.rst
Due: none

cli: test lenskit recommend
  tests/cli/test-train-recommend.sh
Due: none

cli: add --related-items option to recommende
  src/lenskit/cli/recommend.py
Due: license-headers

cli: add JSON output options
  src/lenskit/cli/recommend.py
Due: license-headers

knn: initial lift/association scorer API
  src/lenskit/knn/__init__.py
  src/lenskit/knn/__init__.pyi
  src/lenskit/knn/association.py
Due: license-headers

deps: increase minimum pydantic version
  pyproject.toml
  uv.lock
Due: dprint

knn: working lift recommender
  pipelines/biased-lift.toml
  src/lenskit/knn/association.py
  tests/knn/test_association.py
Due: dprint, license-headers

cli: add test for related-item recommendation
  tests/cli/test-recommend-related.sh
Due: none

small printing fix
  src/lenskit/cli/recommend.py
Due: license-headers

cli: fix related-items test
  tests/cli/test-recommend-related.sh
Due: none

docs: update 2026.2 release notes
  docs/releases/2026.rst
Due: none

test: improve diagnostics in CLI test harness
  tests/cli/harness.sh
Due: none

tune: refactor tuning to put ray in a submodule
  src/lenskit/cli/tune.py
  src/lenskit/tuning/_base.py
  src/lenskit/tuning/_ray/__init__.py
  src/lenskit/tuning/_ray/iterative.py
  src/lenskit/tuning/_ray/job.py
  src/lenskit/tuning/_ray/reporting.py
  src/lenskit/tuning/_ray/search.py
  src/lenskit/tuning/_ray/simple.py
  src/lenskit/tuning/_ray/stopper.py
Due: license-headers

tune: update tune extra to require Optuna
  pyproject.toml
  uv.lock
Due: dprint

tune: fix tuning unit tests for refactor
  tests/tuning/test_basic_tuning.py
  tests/tuning/test_iterative_tuning.py
  tests/tuning/test_tuner_setup.py
Due: license-headers

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
