Repository lenskit/lkpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, dprint, license-headers

rustfmt:
  name: format rust
  entry: rustfmt --edition 2021
  language: system

dprint:
  name: format configuration files
  entry: dprint fmt --allow-no-files
  language: node
  additional_dependencies:
  - dprint

license-headers:
  name: add license headers
  language: system
  entry: ./utils/update-headers.py --error-on-change

fix elipses
  docs/guide/batch.rst
Due: none

filter negative gains in NDCG
  src/lenskit/metrics/ranking/_dcg.py
  tests/eval/test_rank_ndcg.py
Due: license-headers

metrics: fix no cover pragma note
  src/lenskit/metrics/_base.py
Due: license-headers

metrics: test reset + improve coverage
  src/lenskit/metrics/_collect.py
  tests/eval/test_measurement_collector.py
Due: license-headers

metrics: fix collector test
  tests/eval/test_measurement_collector.py
Due: license-headers

data: make lenskit.data._items private (#947)
  src/lenskit/basic/composite.py
  src/lenskit/data/__init__.py
  src/lenskit/data/_items.py
  src/lenskit/data/collection/_base.py
  src/lenskit/data/collection/_list.py
  src/lenskit/data/dataset.py
  src/lenskit/data/query.py
  src/lenskit/data/relationships.py
  src/lenskit/metrics/basic.py
  src/lenskit/metrics/ranking/_map.py
  src/lenskit/metrics/ranking/_pop.py
  src/lenskit/metrics/ranking/_pr.py
  src/lenskit/metrics/ranking/_rbp.py
  tests/basic/test_bias.py
  tests/basic/test_composite.py
  tests/basic/test_popular.py
  tests/basic/test_random.py
  tests/basic/test_time_bounded_popular.py
  tests/basic/test_topn.py
Due: license-headers

data: make data.adapt private + fix class name (#947)
  src/lenskit/data/__init__.py
  src/lenskit/data/_adapt.py
  src/lenskit/data/collection/_list.py
  src/lenskit/metrics/predict.py
  tests/batch/test_batch_pipeline.py
  tests/data/test_adapt_schemas.py
  tests/data/test_dataset_convert.py
  tests/data/test_huge.py
  tests/data/test_rel_cooc.py
  tests/eval/test_bulk_metrics.py
Due: license-headers

data: make arrow private
  src/lenskit/data/_arrow.py
  src/lenskit/data/_items.py
  src/lenskit/data/collection/_base.py
  tests/data/test_arrow_util.py
Due: license-headers

data: use modern types for arrow
  src/lenskit/data/_arrow.py
Due: license-headers

data: make attributes private
  src/lenskit/data/__init__.py
  src/lenskit/data/_attributes.py
  src/lenskit/data/entities.py
  tests/data/test_attribute_cat_matrix.py
  tests/data/test_dataset_info.py
Due: license-headers

data: rename AttributeSet to EntityAttribute (#946)
  docs/releases/2026.rst
  src/lenskit/data/__init__.py
  src/lenskit/data/_attributes.py
  src/lenskit/data/entities.py
  tests/data/test_attribute_cat_matrix.py
  tests/data/test_dataset_info.py
Due: license-headers

make batches private
  src/lenskit/data/__init__.py
  src/lenskit/data/_batches.py
Due: license-headers

data: rename BatchIter to BatchedRange
  src/lenskit/data/__init__.py
  src/lenskit/data/_batches.py
  src/lenskit/graphs/lightgcn.py
Due: license-headers

data: make builder private
  src/lenskit/data/__init__.py
  src/lenskit/data/_adapt.py
  src/lenskit/data/_builder.py
  src/lenskit/data/amazon.py
  src/lenskit/data/collection/_base.py
  src/lenskit/data/movielens.py
  src/lenskit/data/msweb.py
  src/lenskit/splitting/records.py
  src/lenskit/testing/_components.py
Due: license-headers

data: make checks private
  src/lenskit/data/_checks.py
  src/lenskit/data/_items.py
  tests/data/test_data_checks.py
Due: license-headers

data: make container private
  src/lenskit/data/_builder.py
  src/lenskit/data/_container.py
  src/lenskit/data/collection/_base.py
  src/lenskit/data/dataset.py
  src/lenskit/data/summary.py
Due: license-headers

data: make dataset private (#947)
  src/lenskit/basic/history.py
  src/lenskit/cli/data/describe.py
  src/lenskit/cli/data/split.py
  src/lenskit/cli/data/subset.py
  src/lenskit/data/__init__.py
  src/lenskit/data/_adapt.py
  src/lenskit/data/_builder.py
  src/lenskit/data/_dataset.py
  src/lenskit/data/amazon.py
  src/lenskit/data/collection/_base.py
  src/lenskit/data/movielens.py
  src/lenskit/data/msweb.py
  src/lenskit/data/summary.py
  src/lenskit/metrics/ranking/_pop.py
  src/lenskit/training.py
  tests/data/test_builder_save.py
  tests/data/test_collection.py
  tests/data/test_data_compat.py
  tests/data/test_load_movielens.py
Due: license-headers

data: clean up matrix + don't re-export matrix types
  src/lenskit/data/__init__.py
  src/lenskit/data/matrix.py
Due: license-headers

data: make mtarray private
  src/lenskit/data/__init__.py
  src/lenskit/data/_arrow.py
  src/lenskit/data/_items.py
  src/lenskit/data/_mtarray.py
  tests/data/test_mtarray.py
Due: license-headers

data: remove MTArray exports
  src/lenskit/data/__init__.py
Due: license-headers

data: make query private
  src/lenskit/basic/random.py
  src/lenskit/data/__init__.py
  src/lenskit/data/_query.py
  src/lenskit/stochastic/_ranker.py
  tests/utils/test_random.py
Due: license-headers

data: make entities private
  src/lenskit/data/__init__.py
  src/lenskit/data/_dataset.py
  src/lenskit/data/_entities.py
Due: license-headers

data: make relationships private (#947)
  src/lenskit/data/__init__.py
  src/lenskit/data/_dataset.py
  src/lenskit/data/_relationships.py
  src/lenskit/graphs/lightgcn.py
Due: license-headers

data: make summary private
  src/lenskit/cli/data/describe.py
  src/lenskit/data/_container.py
  src/lenskit/data/_summary.py
Due: license-headers

data: make vocab private (#947)
  src/lenskit/data/__init__.py
  src/lenskit/data/_adapt.py
  src/lenskit/data/_attributes.py
  src/lenskit/data/_builder.py
  src/lenskit/data/_dataset.py
  src/lenskit/data/_entities.py
  src/lenskit/data/_items.py
  src/lenskit/data/_relationships.py
  src/lenskit/data/_vocab.py
  src/lenskit/knn/user.py
  src/lenskit/sklearn/nmf.py
  src/lenskit/sklearn/svd.py
  tests/data/test_attribute_cat_matrix.py
  tests/data/test_coord_table.py
  tests/data/test_itemlist.py
  tests/data/test_load_amazon.py
Due: license-headers

data: make collection private
  src/lenskit/data/__init__.py
  src/lenskit/data/_collection/__init__.py
  src/lenskit/data/_collection/_base.py
  src/lenskit/data/_collection/_keys.py
  src/lenskit/data/_collection/_list.py
  src/lenskit/data/_relationships.py
  src/lenskit/data/msweb.py
  src/lenskit/tuning/_measure.py
  src/lenskit/tuning/_search.py
  tests/data/test_collection.py
Due: license-headers

data: fix docs and type for GenericKey type
  src/lenskit/data/_collection/_keys.py
Due: license-headers

data: remove excess T type
  src/lenskit/data/types.py
Due: license-headers

data: clean up some more types
  src/lenskit/data/_adapt.py
  src/lenskit/data/_builder.py
  src/lenskit/data/types.py
Due: license-headers

data: clean up builder types
  src/lenskit/data/_builder.py
Due: license-headers

parallel/ray: remove extraneous type var
  src/lenskit/parallel/ray.py
Due: license-headers

data: export DataContainer
  src/lenskit/data/__init__.py
Due: license-headers

data: clean up types a bit
  src/lenskit/data/_collection/_base.py
Due: license-headers

set minimum Python version
  docs/releases/2026.rst
  pyproject.toml
  uv.lock
Due: dprint

update mindep
  .github/workflows/test.yml
Due: dprint

set package python version
  .github/workflows/package.yml
Due: dprint

min python3.12
  .github/workflows/test.yml
Due: dprint

increase docs python
  .github/workflows/docs.yml
Due: dprint

fix test py ver
  .github/workflows/test.yml
Due: dprint

lint pyver
  .github/workflows/check-sources.yml
Due: dprint

Path conditions:
  rustfmt: any of: \.rs$
  dprint: any of: \.(yaml|yml)$, \.toml$, \.json$
  license-headers: any of: \.py$, \.rs$
